<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411182000';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-世纪佳缘Miss U手环</title>
<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/common/fontAwesome/awesome_f4a5cff.css"/><link rel="stylesheet" type="text/css" href="/static/product/pkg/single-device_8ac0671.css"/><link rel="stylesheet" type="text/css" href="/static/common/umeditor/themes/default/css/umeditor.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostId = '1598';
  window.pageType = '';
  </script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="bread-path">
<a href="/">首页</a>
<span class="icon-path">&gt;</span>
<a href="" id="bread-pcat"></a>
<span class="icon-path">&gt;</span>
<span>世纪佳缘Miss U手环</span>
</div>
<div class="wrapper">
<h1 class="product-title">世纪佳缘Miss U手环</h1>
<div class="topbar clearfix">
<div class="tab-header fl-left">
<ul class="clearfix">
<li><a hidefocus=true href="#tab1">详情</a></li>
<li><a href="#tab2">评测<strong>(<span id="evCount">2</span>)</strong></a></li>
<li><a href="#tab3">短评<strong>(<span id="ctCount">2</span>)</strong></a></li>
<li><a href="#tab4">资讯</a></li>
</ul>
<div class="mask"></div>
</div>
<div class="sidebar fl-right">
<div class="favorite clearfix">
<div class="price">
￥998</div>
<div class="vbar"></div>
<div class="like"><i class="fa fa-heart-o" id="like-icon" data-islike="0"></i><span id="like-total">11</span></div>
<div class="vbar"></div>
<div class="share">
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"><i></i>分享</a></div>
</div>
<script>
    window._bd_share_config={
        "common":{"bdSnsKey":{},
        "bdText":"",
        "bdMini":"1",
        "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
        "bdPic":"",
        "bdStyle":"0",
        "bdSize":"32",
      },"share":{}
    };
      with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
    </script>
</div></div>
</div>
<div class="product-content clearfix">
<div class="product-main fl-left">
<div class="tab-content">
<div class="panel" id="tab1">
<div class="product-thumbnail">
<div class="carousel">
<div class="wrap clearfix">
<img src="http://bs.baidu.com/dulife/54126bd1aab01.jpg" class="" width="350">
<img src="http://bs.baidu.com/dulife/540809569a294.jpg" class="" width="350">
<img src="http://bs.baidu.com/dulife/5408094b62133.jpg" class="" width="350">
</div>
</div>
<div class="switch clearfix">
<a href="#"><span class="active"></span></a>
<a href="#"><span ></span></a>
<a href="#"><span ></span></a>
</div>
</div>
<script>
                void function(e,t){for(var n=t.getElementsByTagName("img"),a=+new Date,i=[],o=function(){this.removeEventListener&&this.removeEventListener("load",o,!1),i.push({img:this,time:+new Date})},s=0;s< n.length;s++)!function(){var e=n[s];e.addEventListener?!e.complete&&e.addEventListener("load",o,!1):e.attachEvent&&e.attachEvent("onreadystatechange",function(){"complete"==e.readyState&&o.call(e,o)})}();alog("speed.set",{fsItems:i,fs:a})}(window,document);
            </script>
<div class="product-intro">世纪佳缘Miss U手环将内嵌0.82寸OLED可触控屏幕，可通过通信网络进行实时的语音对话；该手环特别设计震动功能，一方发送，另一方就能收到震动提示。此外，该产品还能帮助恋人收发彼此的地理位置信息，并具有预防失联功能。值得一提的是，该手环还具有预防失联功能，即一方手环快没电的时候，另一方就能收到提醒。</div>
<div class="product-std clearfix">
<div class="item">上市时间：2014年9月</div>
<div class="item">生产厂商：世纪佳缘</div>
<div class="item">关键字：可穿戴 手环</div>
</div><div class="product-detail">
<p><img src="http://bs.baidu.com/dulife/5408096624dee.jpg"></p>
<p><img src="http://bs.baidu.com/dulife/54080972382dd.jpg"></p>
<p></p>
</div>
<div class="product-line"></div>
<div class="sub-title clearfix">
<h3 class="fl-left">用户评测</h3>
<div class="btn-edit" data-action="jump"><i></i>写评测</div>
</div>
<ul class="ev-list" id="ev-list-part">
<li class="empty hide">还没有人为“世纪佳缘Miss U手环”写评测哦，赶快来写下你的体验吧~</li>
</ul>
<div class="view-more hide" id="ev-more" data-tabindex="1">查看更多<span class="ficon">&gt;</span></div>
<script type="text/template" id="ev-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <a class="wrap" href="/evaluation/view/<%=item.id %>.html<%-hash %>" target="_blank">
      <div class="thumbnail">
        <div class="bg"><img src="<%=default_bg %>" data-src="<%- item.thumbnail %>" width="100%"></div>
      </div>
      <div class="ev-cont">
        <h3 class="title text-overflow"><%-item.title %></h3>
        <div class="excerpt"><%-item.excerpt %></div>
        <div class="clearfix foot">
          <div class="fl-left"><%=item.create_time %></div>
          <div class="fl-right">
            <span><i class="comment-icon"></i><%=item.comment_count %></span>
            <span><i class="fa fa-heart"></i><%=item.like_count %></span>
          </div>
        </div>
      </div>
    </a>
  </li>
<% }); %>
</script><div class="product-line"></div>
<div class="sub-title"><h3>短评</h3></div>
<form action="/product/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="1598" data-committype="" data-hosttype="product">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-mini">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div class="view-more hide" id="ct-more" data-tabindex="2">查看更多<span class="ficon">&gt;</span></div>
<div class="product-line"></div>
<div class="sub-title"><h3>硬件资讯</h3></div>
<ul class="clearfix news-list news-list-mini"></ul>
<div class="view-more hide" id="news-more" data-tabindex="3">查看更多<span class="ficon">&gt;</span></div>
<script type="text/template" id="news-list-mini">
<% $.each(list, function(idx, item) { %>
  <li>
    <a class="wrap" href="/news/<%=item.id %>.html" target="_blank">
      <div class="thumbnail">
        <div class="bg" style="background-image:url(<%= item.thumbnails %>);"></div>
      </div>
      <div class="news-cont">
        <h3 class="title text-overflow"><%=item.title %></h3>
        <div class="foot">
          <span><i class="comment-icon"></i><%=item.comment_count %></span>
          <span><i class="fa fa-heart"></i><%= item.like_count %></span>
        </div>
      </div>
    </a>
  </li>
<% }); %>
</script>
<script type="text/template" id="news-list-full">
<% $.each(list, function(idx, item) { %>
  <li>
    <a class="wrap" href="/news/<%=item.id %>.html" target="_blank">
      <div class="thumbnail">
        <div class="bg" style="background-image:url(<%= item.thumbnails %>);"></div>
      </div>
      <div class="news-cont">
        <h3 class="title"><%=item.title %></h3>
        <div class="excerpt"><%=item.excerpt %></div>
        <div class="clearfix foot">
          <div class="fl-left">
            <span><%=item.create_time %></span>
          </div>
          <div class="fl-right">
            <span><i class="comment-icon"></i><%=item.comment_count %></span>
            <span><i class="fa fa-heart"></i><%=item.like_count %></span>
          </div>
        </div>
      </div>
    </a>
  </li>
<% }); %>
</script></div>
<div class="panel" id="tab2">
<div class="sub-title clearfix">
<h3 class="fl-left">用户评测</h3>
<div class="btn-edit" data-action="show"><i></i>写评测</div>
</div>
<form action="/evaluation/preview" method="POST" target="_blank" id="publish-evaluation" class="hide">
<div class="input-title"><input type="text" name="title" placeholder="请输入标题"></div>
<div class="input-score clearfix">
<label class="fl-left">给产品打分：</label>
<div class="star clearfix star-4">
<input type="hidden" name="score" id="product-score" value="4">
<span class="item"></span>
<span class="item"></span>
<span class="item"></span>
<span class="item"></span>
<span class="item"></span>
</div>
</div>
<div class="input-content">
<script type="text/plain" id="duinEditor"></script></div>
<div class="input-submit">
<button type="submit" class="btn btn-default" id="evPreview">预览</button><button type="submit" class="btn btn-primary" id="evSubmit">提交评测</button>
</div>
<input type="hidden" name="productid" value="1598">
</form>
<ul class="ev-list" id="ev-list-all">
<li class="empty hide">还没有人为“世纪佳缘Miss U手环”写评测哦，赶快来写下你的体验吧~</li>
</ul>
<div id="ev-page"></div>
<script type="text/template" id="ev-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <a class="wrap" href="/evaluation/view/<%=item.id %>.html<%-hash %>" target="_blank">
      <div class="thumbnail">
        <div class="bg"><img src="<%=default_bg %>" data-src="<%- item.thumbnail %>" width="100%"></div>
      </div>
      <div class="ev-cont">
        <h3 class="title text-overflow"><%-item.title %></h3>
        <div class="excerpt"><%-item.excerpt %></div>
        <div class="clearfix foot">
          <div class="fl-left"><%=item.create_time %></div>
          <div class="fl-right">
            <span><i class="comment-icon"></i><%=item.comment_count %></span>
            <span><i class="fa fa-heart"></i><%=item.like_count %></span>
          </div>
        </div>
      </div>
    </a>
  </li>
<% }); %>
</script></div>
<div class="panel" id="tab3">
<div class="sub-title"><h3>短评</h3></div>
<form action="/product/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="1598" data-committype="" data-hosttype="product">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
<div class="panel" id="tab4">
<div class="sub-title"><h3>硬件资讯</h3></div>
<ul class="clearfix news-list news-list-full"></ul>
<div id="news-page"></div>
<script type="text/template" id="news-list-mini">
<% $.each(list, function(idx, item) { %>
  <li>
    <a class="wrap" href="/news/<%=item.id %>.html" target="_blank">
      <div class="thumbnail">
        <div class="bg" style="background-image:url(<%= item.thumbnails %>);"></div>
      </div>
      <div class="news-cont">
        <h3 class="title text-overflow"><%=item.title %></h3>
        <div class="foot">
          <span><i class="comment-icon"></i><%=item.comment_count %></span>
          <span><i class="fa fa-heart"></i><%= item.like_count %></span>
        </div>
      </div>
    </a>
  </li>
<% }); %>
</script>
<script type="text/template" id="news-list-full">
<% $.each(list, function(idx, item) { %>
  <li>
    <a class="wrap" href="/news/<%=item.id %>.html" target="_blank">
      <div class="thumbnail">
        <div class="bg" style="background-image:url(<%= item.thumbnails %>);"></div>
      </div>
      <div class="news-cont">
        <h3 class="title"><%=item.title %></h3>
        <div class="excerpt"><%=item.excerpt %></div>
        <div class="clearfix foot">
          <div class="fl-left">
            <span><%=item.create_time %></span>
          </div>
          <div class="fl-right">
            <span><i class="comment-icon"></i><%=item.comment_count %></span>
            <span><i class="fa fa-heart"></i><%=item.like_count %></span>
          </div>
        </div>
      </div>
    </a>
  </li>
<% }); %>
</script></div>
</div>
</div>
<div class="product-side fl-left">
<div class="buy"><a href="          http://missu.jiayuan.com/shouhuan/?from=1
          " class="active" onclick="_hmt.push(['_trackEvent', 'buy', 'click', '世纪佳缘Miss U手环']);" target="_blank">去购买</a></div>
<div class="phone-type clearfix">
<div class="fl-left">支持机型：</div>
<div class="items">iphone4以上,Android2.3以上</div>
</div>
<div class="product-line"></div>
<div class="hotev-wrap">
<div class="sub-title"><h3>最热测评</h3></div>
<ul class="hot-evlist">
</ul>
<div class="product-line"></div>
</div>
<script type="text/template" id="hot-tpl">
<% $.each(list, function(idx, item) { %>
  <li>
    <a class="wrap" href="/evaluation/view/<%-item.id %>.html" target="_blank">
      <span class="rank <%if(idx===0) { %> rank-top <% } %>">NO.<strong><%= idx+1 %></strong></span>
      <div>
        <div class="thumbnail">
          <div class="bg" data-src="<%- item.thumbnail %>"></div>
        </div>
        <div class="ev-cont">
          <h3 class="title"><%- item.title %></h3>
          <div class="comment"><i class="comment-icon"></i><%- item.comment_count %></div>
        </div>
      </div>
    </a>
  </li>
<% }); %>
</script><div class="sub-title">
<h3>相关设备推荐</h3>
</div>
<ul class="related-list"></ul>
<script type="text/template" id="related-list-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <a class="wrap" href="/product/view/<%= item.product_id %>.html" target="_blank">
      <div class="thumbnail">
      <div class="bg1" style="background-image:url(<%= item.product_cover_img || item.product_thumbnail[0] %>);"></div>
      <div class="bg2" style="background-image:url(<%= item.product_thumbnail[1] || item.product_thumbnail[0] %>);"></div>
      </div>
      <div class="cont">
        <h3 class="text-overflow"><%= item.product_name %></h3>
        <div class="star star-<%= item.star_level %>"></div>
      </div>
    </a>
  </li>
<% }); %>
</script></div>
</div>
</div>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=1598" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/product/pkg/widget_eed4416.js"></script>
<script type="text/javascript" src="/static/common/umeditor/lib-editor.js"></script>
<script type="text/javascript" src="/static/product/pkg/single-device_304e1d0.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){    window.alogObjectConfig = {
        product: '300',
        page: '300_13',
        speed: {
            sample: '1'
        },
        monkey: {
            sample: '1'
        },
        exception: {
            sample: '1'
        },
        feature: {
            sample: '1'
        }
    };
    void function(e,t,n,a,r,o){function c(t){e.attachEvent?e.attachEvent("onload",t,!1):e.addEventListener&&e.addEventListener("load",t)}function i(e,n,a){a=a||15;var r=new Date;r.setTime((new Date).getTime()+1e3*a),t.cookie=e+"="+escape(n)+";path=/;expires="+r.toGMTString()}function s(e){var n=t.cookie.match(new RegExp("(^| )"+e+"=([^;]*)(;|$)"));return null!=n?unescape(n[2]):null}function d(){var e=s("PMS_JT");if(e){i("PMS_JT","",-1);try{e=eval(e)}catch(n){e={}}e.r&&t.referrer.replace(/#.*/,"")!=e.r||alog("speed.set","wt",e.s)}}c(function(){alog("speed.set","lt",+new Date),r=t.createElement(n),r.async=!0,r.src=a+"?v="+~(new Date/864e5),o=t.getElementsByTagName(n)[0],o.parentNode.insertBefore(r,o)}),d()}(window,document,"script","http://img.baidu.com/hunter/alog/dp.min.js");
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--00120546120689383434111820-->
<script> var _trace_page_logid = 0012054612; </script><!--00120745210355032074111820-->
<script> var _trace_page_logid = 0012074521; </script>