<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181727';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-伦敦可穿戴展：九款最惊艳新品</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "1402";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>伦敦可穿戴展：九款最惊艳新品</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">伦敦可穿戴展：九款最惊艳新品</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">6</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:雷锋网 http://www.leiphone.com/london-wearable-tech-show.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">在今年的伦敦可穿戴展上出现了很多十分出色的可穿戴产品，下面就带你一起去看看。</div>
<div class="d-artical-content" id="sourceContent">
在今年的伦敦可穿戴展上出现了很多十分出色的可穿戴产品，下面就带你一起去看看。
<h3>Reemo</h3>
<a href="http://leiphone.qiniudn.com/uploads/2014/04/96951bad-a447-4b23-96ec-49588e3c94bb-620x372.jpg"><img alt="96951bad-a447-4b23-96ec-49588e3c94bb-620x372" src="http://leiphone.qiniudn.com/uploads/2014/04/96951bad-a447-4b23-96ec-49588e3c94bb-620x372.jpg" width="620" height="372" /></a>

Reemo手势腕带能够把实体世界变身为手势交互环境。不需要精细的智能手机触摸和鼠标点击，而是识别用手指的方向和挥动手势。它需要在家里的设备上安装接收器。

开发者Playtabase表示这可腕带售价在125美元左右，接收器30美元，今年5月上市。
<h3>Optinvent Ora</h3>
<a href="http://leiphone.qiniudn.com/uploads/2014/04/7234ac5c-ef1c-45d2-b975-568f6c19cbe1-620x372.jpg"><img alt="7234ac5c-ef1c-45d2-b975-568f6c19cbe1-620x372" src="http://leiphone.qiniudn.com/uploads/2014/04/7234ac5c-ef1c-45d2-b975-568f6c19cbe1-620x372.jpg" width="620" height="372" /></a>

Optinvent Ora是Google Glass和Vuzix智能眼镜的竞争者，它是带有透明屏幕的增强现实眼镜。

它建立在Android智能手机数据之上，但没有手机连接。Ora智能眼镜的屏幕是Google Glass的3倍大，直接在你当前的视野上显示信息。目前它正在寻找开发者和企业合作伙伴给其开发应用，售价为700欧元，2015年发售，届时将至少有40个应用。
<h3>SnapWatch</h3>
<a href="http://leiphone.qiniudn.com/uploads/2014/04/b075981c-41eb-48ea-a8d8-c1efdb924a65-620x372.jpg"><img alt="b075981c-41eb-48ea-a8d8-c1efdb924a65-620x372" src="http://leiphone.qiniudn.com/uploads/2014/04/b075981c-41eb-48ea-a8d8-c1efdb924a65-620x372.jpg" width="620" height="372" /></a>

SnapWatch概念首次在1999年出现理论，并在2005年申请了专利，拥有柔性屏幕。并有类似80、90年代Slap手环的压扣式结束带。

<a href="http://leiphone.qiniudn.com/uploads/2014/04/0664693e-bf69-475b-884e-34271a967882-620x372.jpg"><img alt="0664693e-bf69-475b-884e-34271a967882-620x372" src="http://leiphone.qiniudn.com/uploads/2014/04/0664693e-bf69-475b-884e-34271a967882-620x372.jpg" width="620" height="372" /></a>

它可以变成一个坚实的带子，或是像手环一个佩戴。这个概念目前使用的是电致变色显示屏，原型中内置有音乐播放器、手表和智能手表。发明者Vincent Douglas正寻找合作伙伴来把SnapWatch从原型变成产品。
<h3>AiQ智能服装</h3>
<a href="http://leiphone.qiniudn.com/uploads/2014/04/588200b4-62d0-45e6-9f78-0be1cac05759-620x372.jpg"><img alt="588200b4-62d0-45e6-9f78-0be1cac05759-620x372" src="http://leiphone.qiniudn.com/uploads/2014/04/588200b4-62d0-45e6-9f78-0be1cac05759-620x372.jpg" width="620" height="372" /></a>

AiQ是一家智能服装厂商，他们开发出了超细不锈钢纤维，感觉却像羊毛一样。这些纤维被织进纺织材料中去，带来一系列的智能特性。

上面这款目前已上市的在胸部有连线，可用于训练时监控心跳，不过AiQ正与台湾的一些大学合作开发更多功能。

另有一个概念设计可测量用户的脑电图、心电图、压力水平、脂肪含量、肌肉力量等，将在6个月内生产出原型，由附带的蓝牙模块提供支持。
<h3>SunFriend</h3>
<a href="http://leiphone.qiniudn.com/uploads/2014/04/e831d488-0748-4708-8083-dd4f41274078-620x372.jpg"><img alt="e831d488-0748-4708-8083-dd4f41274078-620x372" src="http://leiphone.qiniudn.com/uploads/2014/04/e831d488-0748-4708-8083-dd4f41274078-620x372.jpg" width="620" height="372" /></a>

SunFriend是一款类似手表的设备，它通过传感器测量你暴露的太阳UVA和UVB紫外线强度。用户可以自行设定皮肤敏感度，从而形成个性化的放射量计，当达到限定值时会收到提示。

它是在NASA有关紫外线监测超过三年的研究基础之上开发的。SunFriend是防水的，深度为3米，将于下月以40英镑左右的售价上市。另有一个更先进的版本，可通过蓝牙连接到智能手机显示信息，目前正在开发当中，预计将于明年一季度完成。
<h3>Vrase</h3>
<a href="http://leiphone.qiniudn.com/uploads/2014/04/f9bb61f3-5ae7-4e3f-8b52-eff3f872fb76-620x372.jpg"><img alt="f9bb61f3-5ae7-4e3f-8b52-eff3f872fb76-620x372" src="http://leiphone.qiniudn.com/uploads/2014/04/f9bb61f3-5ae7-4e3f-8b52-eff3f872fb76-620x372.jpg" width="620" height="372" /></a>

Vrase基本上就是一个使用智能手机进行显示的Oculus Rift设备。这款头戴设备有一个用于放置智能手机的槽，目前支持iPhone和一系列的Android手机。

智能手机会用来显示一个分屏图像，然后Vrase会把它变成3D图片。

<a href="http://leiphone.qiniudn.com/uploads/2014/04/95e2a036-a2d4-4ef5-9c93-53789d8ba8a3-620x372.jpg"><img alt="95e2a036-a2d4-4ef5-9c93-53789d8ba8a3-620x372" src="http://leiphone.qiniudn.com/uploads/2014/04/95e2a036-a2d4-4ef5-9c93-53789d8ba8a3-620x372.jpg" width="620" height="372" /></a>

Vrase上的镜头让用户的眼镜能够聚焦于手机屏幕（见上图）。基于3年前的一个概念，这款产品目前已经开发超过一年了。在成功众筹后，它将于今年夏天以100欧元的价格上市。

Vrase的开发者表示，这款产品相比其它虚拟现实设备的优势之一在于它可以利用迅速演进的智能手机技术。它可以利用智能手机不断增强的处理能力，加上设备中的动作传感器和摄像头，可提供更加沉浸及与时俱进的体验。另外还能充分利用Android和iOS的应用商店。
<h3>Glofaster</h3>
<a href="http://leiphone.qiniudn.com/uploads/2014/04/3deba376-4eb0-4a8d-832d-85aec76f8d25-620x372.jpg"><img alt="3deba376-4eb0-4a8d-832d-85aec76f8d25-620x372" src="http://leiphone.qiniudn.com/uploads/2014/04/3deba376-4eb0-4a8d-832d-85aec76f8d25-620x372.jpg" width="620" height="372" /></a>

Glofaster是一款会亮的夹克，由前皇家海军Simon Weatherall在过去两年中开发出来，它带有的传感器可以探测用户的心率，并在训练当中给用户以即时的视觉反馈。

这款夹克是由前A&amp;F设计师Joanna Kent设计的，可清洗，内置有光条，由可更换电池供电。售价为99英镑。

系统中的电子组件叫Gizmo，它连接到传感器和一个手机app，目前正在开发当中，将在未来6个月完成生产前的准备。
<h3>SunSprite</h3>
<a href="http://leiphone.qiniudn.com/uploads/2014/04/5b10fe99-c005-421d-a277-67726c00e79b-620x372.jpg"><img alt="5b10fe99-c005-421d-a277-67726c00e79b-620x372" src="http://leiphone.qiniudn.com/uploads/2014/04/5b10fe99-c005-421d-a277-67726c00e79b-620x372.jpg" width="620" height="372" /></a>

由两位哈佛博士毕业生开发，SunSprite是一款紫外线和光线暴露测量仪，它通过特别的过滤器来匹配进入人眼的光线亮度。

这个传感器是太阳能供电，通过蓝牙连接到智能手机，不过同时也会在一串LED来显示你的光线剂量。

尽管它可以用来测量紫外线水平，实际上SunSprite的设计是测量光线亮度用于治疗并监测季节性情绪失调——由于眼睛没有获得足够的亮光，造成人的抑郁和其它负面影响，这时常发生于冬季。
<h3>Kopin Golden-i 3.8D</h3>
<a href="http://leiphone.qiniudn.com/uploads/2014/04/27c56195-62de-4c92-a24a-bd30e1d62c6a-620x372.jpg"><img alt="27c56195-62de-4c92-a24a-bd30e1d62c6a-620x372" src="http://leiphone.qiniudn.com/uploads/2014/04/27c56195-62de-4c92-a24a-bd30e1d62c6a-620x372.jpg" width="620" height="372" /></a>

这款头戴设备看起来像是某个科幻片中的产品，其实它是类似于Optinvent Ora的可穿戴计算机，建立在没有移动网络连接的Android智能手机上。

它有一颗1400万像素的摄像头，可语音控制，跑定制化的Android 4.2和Skype，可以在设备之间沟通。

Kopin的目标用户是那些需要在工作时hands-free地使用信息的人。这是第5代产品，售价1500美元。
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">6</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/1400.html" target="_blank">为什么我认为智能手环会在明年死掉一半呢？</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/1404.html" target="_blank">只花一上午，白色款 Google Glass 卖光光</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="1402" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1397704657')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--16279334990689383434111817-->
<script> var _trace_page_logid = 1627933499; </script><!--16279456100824728586111817-->
<script> var _trace_page_logid = 1627945610; </script>