<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181727';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-百度CarNet上手：轻度改造的车用娱乐信息系统</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "1515";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>百度CarNet上手：轻度改造的车用娱乐信息系统</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">百度CarNet上手：轻度改造的车用娱乐信息系统</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">16</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:雷锋网 http://www.leiphone.com/baidu-carnet-play.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">CarNet依然贯彻百度系硬件的思路，由百度LBS部门提供API及部分软件支持，合作公司钛马车联网来做硬件以及大部分软件部分。</div>
<div class="d-artical-content" id="sourceContent">
<a href="http://leiphone.qiniudn.com/uploads/2014/04/037.jpg"><img alt="0" src="http://leiphone.qiniudn.com/uploads/2014/04/037.jpg" width="800" height="474" /></a>
<div>

在今天下午的百度硬件峰会上，百度发布了近几日盛传的智能互联车载产品“CarNet”。

这款CarNet依然贯彻<a href="http://www.leiphone.com/baidu-in-smart-home.html" target="_blank">百度系硬件的思路</a>，由百度LBS部门提供API及部分软件支持，合作公司钛马车联网来做硬件以及大部分软件部分。

发布会现场，百度LBS部门与钛马车联网共同揭示了CarNet的主打特色。<strong>一是多平台化</strong>，CarNet将通过App方式支持Android、iOS等多种移动设备；<strong>二是方便安装</strong>，可新车预装，也可现车升级；<strong>三是整合本土优秀应用</strong>，比如百度导航、豆瓣FM、凤凰新闻（FM）等应用。

会后小编来到CarNet试用场地，提供试用的是两台广汽传祺。（试用场地的宣传主题叫“让手机执掌你的座驾”，与我们本周末将举行的雷锋网智驾首场活动“<a href="http://www.huodongxing.com/go/automobile" target="_blank">手机上的轮子</a>”不谋而合）

<a href="http://leiphone.qiniudn.com/uploads/2014/04/DSC08813_lp.jpg"><img alt="DSC08813_lp" src="http://leiphone.qiniudn.com/uploads/2014/04/DSC08813_lp.jpg" width="800" height="531" /></a>

进入车内，可以看到车内正在展示导航操作，这款搭载CarNet的大屏幕（约7英寸）嵌入驾驶室的正中偏左方向。

<a href="http://leiphone.qiniudn.com/uploads/2014/04/DSC08809_lp.jpg"><img alt="DSC08809_lp" src="http://leiphone.qiniudn.com/uploads/2014/04/DSC08809_lp.jpg" width="800" height="531" /></a>

回到系统首页，CarNet目前仅有三个应用接入，导航、新闻、音乐三类各一个。

<a href="http://leiphone.qiniudn.com/uploads/2014/04/DSC08810_lp.jpg"><img alt="DSC08810_lp" src="http://leiphone.qiniudn.com/uploads/2014/04/DSC08810_lp.jpg" width="800" height="531" /></a>

CarNet可以通过手机App操作，也可以直接点击大屏幕，不过直接点触摸有轻微不灵敏。我们直接点击进入百度导航。

<a href="http://leiphone.qiniudn.com/uploads/2014/04/DSC08811_lp.jpg"><img alt="DSC08811_lp" src="http://leiphone.qiniudn.com/uploads/2014/04/DSC08811_lp.jpg" width="800" height="531" /></a>

选择“我要去”，这些界面经过优化，比普通导航仪稍好用些。

<a href="http://leiphone.qiniudn.com/uploads/2014/04/DSC08812_lp.jpg"><img alt="DSC08812_lp" src="http://leiphone.qiniudn.com/uploads/2014/04/DSC08812_lp.jpg" width="800" height="531" /></a>

用手机App端操作也是一样的。在手机CarNet应用中选择百度导航（未打包，需要单独下载），然后搜索目的地，计算路线，最后结果将以POI数据的形式返回给车载CarNet。

<a href="http://leiphone.qiniudn.com/uploads/2014/04/DSC08815_lp.jpg"><img alt="DSC08815_lp" src="http://leiphone.qiniudn.com/uploads/2014/04/DSC08815_lp.jpg" width="800" height="531" /></a>

豆瓣FM，私人兆赫需要在手机端登录。可以用车上的物理音量键来调节声音。

<a href="http://leiphone.qiniudn.com/uploads/2014/04/DSC08817_lp.jpg"><img alt="DSC08817_lp" src="http://leiphone.qiniudn.com/uploads/2014/04/DSC08817_lp.jpg" width="800" height="531" /></a>

豆瓣FM手机端，这里设置很少，只有登录、网络、缓存三项。

<a href="http://leiphone.qiniudn.com/uploads/2014/04/DSC08819_lp.jpg"><img alt="DSC08819_lp" src="http://leiphone.qiniudn.com/uploads/2014/04/DSC08819_lp.jpg" width="800" height="531" /></a>

凤凰FM手机端，可以添加凤凰网上各种音频类节目，比如铿锵三人组、凤凰气象站、罗辑思维等。车载界面亦可操作换台。

<a href="http://leiphone.qiniudn.com/uploads/2014/04/DSC08820_lp.jpg"><img alt="DSC08820_lp" src="http://leiphone.qiniudn.com/uploads/2014/04/DSC08820_lp.jpg" width="800" height="531" /></a>

手机与车载CarNet是通过micro USB接口相连接的，未来考虑引入无线连接方式。我们导航、听歌、听新闻，是手机通过3G流量下载，然后通过USB线传入车载CarNet。

<a href="http://leiphone.qiniudn.com/uploads/2014/04/DSC08823_lp.jpg"><img alt="DSC08823_lp" src="http://leiphone.qiniudn.com/uploads/2014/04/DSC08823_lp.jpg" width="800" height="531" /></a>

把USB线接上手机，这时手机端应用马上显示连接成功，车载端则同上边的系统首页图。

<a href="http://leiphone.qiniudn.com/uploads/2014/04/039.jpg"><img alt="0" src="http://leiphone.qiniudn.com/uploads/2014/04/039.jpg" width="800" height="570" /></a>

上文所述在中型商务车上的CarNet是后装的，在它旁边还有一辆骚红色的广汽传祺GA3，则是出厂前装了CarNet。功能上前装这款要稍稍丰富些，可以接收汽车行驶时的一些状态数据，但也还是属于比较浅层级别的。

大体而言，CarNet还只是一次在车用娱乐信息系统进行的轻度改造。它最大的变化是把车载屏幕上的操作转移到手机上来，通过App来控制。很难判断这样是好是坏，我们在车内可能需要花更多时间在手机上，便捷与安全将是未来很长一段时间的大辩论。

CarNet目前的做法与国外的苹果CarPlay、微软Windows in the Car并无太大区别，都是通过手机作为中转连接车载系统，所有数据走手机通道。不同的是，百度CarNet的手机屏和车载屏是从属控制关系；CarPlay、Windows in the Car则是将手机内容直接投射到车载屏幕。但这些离真正的“车联网”，还差了十万八千里。

最后再show一张百度CarNet应用中心接下来的动作，百度语音、百度搜索、百度mp3、百度团购……大家族能进来的一个都不能少。

<a href="http://leiphone.qiniudn.com/uploads/2014/04/040.jpg"><img alt="0" src="http://leiphone.qiniudn.com/uploads/2014/04/040.jpg" width="800" height="485" /></a>

</div>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">16</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/1500.html" target="_blank">东芝欲推模块可穿戴设备：听音乐换模块</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/1517.html" target="_blank">“Baidu Inside”背后，百度要成为智能硬件的数据中心</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="1515" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1398132831')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--16225523420689383434111817-->
<script> var _trace_page_logid = 1622552342; </script><!--16225491880371809290111817-->
<script> var _trace_page_logid = 1622549188; </script>