<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181726';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-智能家居专题：Diy 安保智能设备大阅兵</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "1876";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>智能家居专题：Diy 安保智能设备大阅兵</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">智能家居专题：Diy 安保智能设备大阅兵</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">18</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:安珀 http://ianpo.com/article-4733.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">新一波的智能家居安全系统正在改变着我们保护家园的方式。这种新系统不必经由用户复杂安装即可使用，支持DIY设备和你智能手机的感应器，你也可根据需要随时移动这些设备，并根据需要调控如何保护你的房子，不管你拥有五间房的联体别墅还是租赁的一个房间的小公寓。最好的是，这些系统都不需要合同，而且很多时候不需要月租，这意味着智能系统比以往任何时候都更实惠。</div>
<div class="d-artical-content" id="sourceContent">
从工具到摄像机，到一体化部件，新生代的DIY安保设备更智能化、更简单，价格也比你看到的任何东西都更实惠。

安装家庭安全系统过去意味着花费数百美元请专业人士来你的房子进行硬体线路安装，签一个长期合同，然后为了保持系统的运行，需要月复一月地支付巨额费用。而且，系统不灵活，假警报很频繁，如果你是一个地位不高的房东，那你就不走运了，尽管出租单元比其他任何类型的财产更频繁遭到小偷的光顾。

然而，时代在改变，新一波的智能家居安全系统正在改变着我们保护家园的方式。这种新系统不必经由用户复杂安装即可使用，支持DIY设备和你智能手机的感应器，你也可根据需要随时移动这些设备，并根据需要调控如何保护你的房子，不管你拥有五间房的联体别墅还是租赁的一个房间的小公寓。最好的是，这些系统都不需要合同，而且很多时候不需要月租，这意味着智能系统比以往任何时候都更实惠。

&nbsp;
<p align="center"><img title="" alt="" src="http://ianpo.com/uploads/userfiles/images2/20140506/20140506151535_86274.jpg" width="600" height="397" /></p>

<h2>　Canary</h2>
或许这看起来很不错的安全系统是首创，售价为199美元的Canary是一个一体化的安全系统，内置有各种各样的智能感应器。这里有WI-FI，还有一个夜间可视摄像机，你可以通过访问智能手机的应用程序，查看收录的室内移动，温度和湿度，系统会根据你的习惯来调整，从而减少假警报。但是，这个系统不能连接任何外部传感器，而且当有紧急事件发生时，它会呼叫你而不是直接叫警察。

不过，Canary在Indiegogo运动中获得了极大的成功，筹集了超过200万美元的资金;最近，一些大牌，比如说Khosla Ventures和Bobby Yazdani，在这个设备上投资超过1000万美元，所以很明显人们还是很喜欢这个新产品的。Canary会像Nest在温度调节装置上的成功一样，在家居安全上有重大突破吗?我们并不确定，但我们对它最终的发布充满期待。只有一个问题，为什么它不是黄色?(目前，该产品在美国之外的可用性和价格还未知。)

<hr />

&nbsp;
<p align="center"><img title="" alt="" src="http://ianpo.com/uploads/userfiles/images2/20140506/20140506151606_47444.jpg" width="600" height="429" /></p>

<h2>　Dropcam Pro</h2>
有很多IP摄像机可以让你远程监控，但很少有Dropcam这么简单的设置和好看的界面。原来的Dropcam HD让我们印象深刻，它的更新版--Dropcam Pro更不错。只需要通过USB接口相机和电脑连接，连上你的无线网络，然后下载免费的Dropcam应用到你的安卓或iOS设备。你可以免费实时监测Dropcam动态，或者每月付9.95美元就可以在DVR-esque云端记录服务。它甚至有个内置的双向讨论功能。

Dropcam Pro这款摄像机在美国需要199美元，在英国需要179.9英镑(目前在澳大利亚还未出售)，这并不是便宜的家居控制选择，但是对于消费者可购买的相机来说，它拥有相当好的视频画面质量。

<hr />

&nbsp;
<p align="center"><img title="" alt="" src="http://ianpo.com/uploads/userfiles/images2/20140506/20140506151633_29811.jpg" width="600" height="409" /></p>

<h2>　Iris Home Management System</h2>
随着家居安全系统的发展，不少系统有各种各样的传感器和外围设备可供选择，一些高级系统则更多关注性能和用户体验。Iris这个系统有着零售巨头Lowe的全力支持，二者都做了一些勇敢的尝试，在灵活性方面，它无可匹敌，它超越了家居安全，扩展到了能源管理、关爱老年人和基础设施的便利等方面。

不过，我们并不完全销售系统的核心软件。这款应用程序和网站都在我们的测试中反应都不太灵敏，而且我们很难找到这个系统做得比竞争对手Plus好的地方。为了解锁全部功能，Iris需要交月租。因为这些原因，我们有些怀疑Iris的价值。

<hr />

&nbsp;
<p align="center"><img title="" alt="" src="http://ianpo.com/uploads/userfiles/images2/20140506/20140506151704_46588.jpg" width="600" height="409" /></p>

<h2>　iSmartAlarm</h2>
在CES2013，我们看到了智能安全系统第一次取得突破的iSmartAlarm。对于有意DIY的户主来说，它是一个预算比较低的安全系统选择。包括包装需要199美元，其中包括了运动传感器，恐慌报警，钥匙遥控器和门窗接触传感器。你还可以选择增加一个摄像机，这就需要多付149美元。一旦你多加了一个摄像机，你可以在智能手机上查看或控制它，或者进行编程，当有人进来时，它就可以自动抓拍图片。

这款相机并没有我料想的那样顺利运转，但是，我完全被iSmartAlarm系统的表现深深折服了。最好的是，它不需要合同或者会员费，是当前最经济适用的合法家居安全系统之一。在未来几个月，有趣的新系统组件逐渐发布，这个系统也会继续吸引着我们的注意力。

<hr />

&nbsp;
<p align="center"><img title="" alt="" src="http://ianpo.com/uploads/userfiles/images2/20140506/20140506151746_98407.jpg" width="600" height="376" /></p>

<h2>　Korner</h2>
如果想要一款真正简单的系统，你可能要看下Korner，一个仅仅包括专利申请和一个输入传感器的设备。只需要考虑哪个是开关，然后把闪存盘大小的电子狗插入到你的路由器。当系统运行时，如果有人试图进入，路由器的电子狗就会发出刺耳的尖叫，然后你就会在手机上收到一个警报，询问你是否需要联系警察。

确实，那种单调的简单性使得综合覆盖率小于采用多种传感器的系统。但是，对于只是想要简单防卫的消费者来说，Korner很实惠，它只需要99美元，而且如果你在Indiegogo运动中有为他们捐款，那你就不需要付费，这很不错吧!

<hr />

&nbsp;
<p align="center"><img title="" alt="" src="http://ianpo.com/uploads/userfiles/images2/20140506/20140506151825_11846.jpg" width="600" height="409" /></p>

<h2>　OplinkTripleShield Security</h2>
Oplink安全系统的TripleShield包提供了iSmartAlarm相似的功能，有着开关接触传感器，运动检测器和一个漂亮的智能手机应用程序。它还包括有着夜视功能的无线摄像机，与iSmartAlarm中的昂贵且会有小故障的iCamera不一样，这些摄像机运行很不错。另外，每当警报被触发时，系统中的每个摄像机都能自动记录和保存30秒的视频，也许可以为你的保险商或者警察提供宝贵的镜头。

然而，不像iSmartAlarm，Oplink需要按月付租金，TripleShield安装包需要19.99美元。这对一些人来说将是个障碍，但如果你对稳定的视频监控有强烈的兴趣，Oplink也许值得购买。

<hr />

&nbsp;
<p align="center"><img title="" alt="" src="http://ianpo.com/uploads/userfiles/images2/20140506/20140506151907_75323.jpg" width="600" height="409" /></p>

<h2>　　Piper</h2>
239美元的Piper智能安全装置是另一个Indiegogo活动的组成之一，在最后被iControl网络收购之前，最近收到的资金超过初始资金目标的三倍。像Canary，Piper是非常吸引人的一体化系统，有云台摄像机和能够检测运动、温度变化等的内置传感器。Piper的不同之处是，它有Z-Wave两倍那么大，这意味着你可以把它作为一个家居自动化控制中心，然后控制任何连接的设备。把它和Z-Wave锁相联系，就像我们从Schlage 和 Kwikset看到的那样，将会是有安全意识的消费者的一个不错的尝试，但你也可以用它来自动开灯或者智能调节湿度。

<hr />

&nbsp;
<p align="center"><img title="" alt="" src="http://ianpo.com/uploads/userfiles/images2/20140506/20140506151942_68172.jpg" width="600" height="337" /></p>

<h2>　Samsung SmartCam HD Pro</h2>
三星最新发布的Dropcam的竞争者是SmartCam HD Pro。它售价为189美元，稍微比两个IP摄像机便宜，而且它的应用程序装满了有用的功能。虽然SmartCam宣称拥有1080 p分辨率和128度的拍摄视角，Dropcam在图像质量方面仍然有优势。我们也希望SmartCam能像Dropcam一样，通过蓝牙和其它设备连接。那样，SmartCam就可以让你在本地SD卡储存录像，但Dropcam却做不到。

<hr />

&nbsp;
<p align="center"><img title="" alt="" src="http://ianpo.com/uploads/userfiles/images2/20140506/20140506152028_85571.jpg" width="600" height="415" /></p>
&nbsp;
<h2>　Scout Home Security</h2>
从三个看起来都很时尚的成品中选择，独立筹资的Scout是目前最好看的DIY安全设备，但它也因实惠、俱全的安全保护方式而突出。你一开始只需付99美元购买一个基站，然后随意增加你想要的外围设备。住在单间公寓吗?用29美元添加一个单独简易的输入传感器，同时你看中了128美元的小型家居安全设备，虽然我可能会购买大一点的，69美元的输入传感器，它是RFID仪表板大小的两倍，它可以让你通过密匙来安装和卸载系统。

Scout可以通过WI-FI 连接任何你选择的传感器，但它也内置了一个Zigbee组件，所以你可以同步使用智能锁或者流行的智能家居设备，比如说Philips Hue LED灯。这些都不需要月租，除非你想要升级系统，更灵活的操控，使之可以实现实时监控和手机备份。目前，公司已向预购了的早期支持者发货了，不久将会有更多产品发布。

<hr />

&nbsp;
<p align="center"><img title="" alt="" src="http://ianpo.com/uploads/userfiles/images2/20140506/20140506152140_24952.jpg" width="600" height="409" /></p>

<h2>　　SimpliSafe</h2>
如果你想找一款不是来自民间集资的DIY安全设备，那你寻找的肯定是 SimpliSafe，这也是我们编辑的选择。它有多种可定制的多传感器包可供选择，价格也从229美元到519美元不等，同时，SimpliSafe还承诺能够完整覆盖所有用户进行DIY安全设置所需。他们的系统是完全无线控制的(如果不充电，可以持续运行四天)，他们提供了烟雾探测器，泄露探测器和一氧化碳探测器，而且还有全天候的实时监控和备份支持。如果你想要这两项功能，你需要每月付14.99美元，如果你想要短信提醒或者远程监控，你需要付更多，但我们说SimpliSafe可信赖的综合保护和难以置信的易用性都值得这些费用。

<hr />

&nbsp;
<p align="center"><img title="" alt="" src="http://ianpo.com/uploads/userfiles/images2/20140506/20140506152255_44694.jpg" width="600" height="408" /></p>

<h2>　　Viper Home</h2>
如果你在寻找一款现代化且具有复杂设计的安全系统，那你可以考虑下Viper Home。他们的DIY设备在我们的测试中表现始终如一，而且它是我们见过的惟一一个把家居安全和汽车安全结合起来的系统。他们的基础包是免费的，不过如果想要在系统中增加一个摄像机，你需要每月付9.99美元。这比其它相似设备要划算，但在性价比上不能完全打败免费的iSmartAlarm，特别是iSmartAlarm成本不到30美元。但是，我们喜爱Viper Home是因为它能在断电的情况下继续运行，但iSmartAlarm不可以。可喜的是，这个系统不久就会提供一个Z-Wave控制台作为可选配件，这意味着你可以把智能锁和智能灯添加到你的系统。
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">18</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/1874.html" target="_blank">Wi-Watch M5体验：用手表打电话、听音乐是什么感受？</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/1877.html" target="_blank">为什么我扔了仨Jawbone UP、卖了Fitbit、卸载了Human</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="1876" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1399429661')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--15656433320689383434111817-->
<script> var _trace_page_logid = 1565643332; </script><!--15656346620438918154111817-->
<script> var _trace_page_logid = 1565634662; </script>