<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181725';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-开启蓝光视界 VidOn AV200体验</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "2068";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>开启蓝光视界 VidOn AV200体验</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">开启蓝光视界 VidOn AV200体验</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">11</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:雷锋网 http://www.leiphone.com/vidon-av200-test.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">VidOn AV200是一款功能相当强大的Android蓝光高清播放器，其内置的VidOn XBMC Pro功能相当强大，也是目前唯一一款完美支持蓝光导航的Android播放器。那么具体的体验怎么样呢？</div>
<div class="d-artical-content" id="sourceContent">
<a href="http://leiphone.qiniudn.com/uploads/2014/05/01.jpg"><img alt="0" src="http://leiphone.qiniudn.com/uploads/2014/05/01.jpg" width="250" height="250" /></a>VidOn AV200是一款功能相当强大的Android蓝光高清播放器，其内置的VidOn XBMC Pro功能相当强大，也是目前唯一一款完美支持蓝光导航的Android播放器。那么具体的体验怎么样呢？

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5806.jpg"><img alt="IMG_5806" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5806.jpg" width="680" height="453" /></a>

VidOn AV200包装十分质朴，大大的Android Blu-ray Box表明了其最大的功能卖点。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5808.jpg"><img alt="IMG_5808" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5808.jpg" width="680" height="453" /></a>

包装背面详细的介绍了VidOn AV200的各种特点，如支持3D播放、蓝光、DTS音效、杜比音效等，同时XBMC完全移植，这个对于影音发烧友来说可谓相当给力的啊 。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5814.jpg"><img alt="IMG_5814" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5814.jpg" width="680" height="453" /></a>

VidOn AV200因为在功能上更针对影音发烧友，所以遥控器在功能按钮上较多。当然VidOn AV200的遥控器除了遥控器之外，还能通过功能切换为鼠标模式，更加方便操作使用。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5830.jpg"><img alt="IMG_5830" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5830.jpg" width="680" height="453" /></a><a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5833.jpg"><img alt="IMG_5833" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5833.jpg" width="680" height="453" /></a>

VidOn AV200正面是一块透明的亚克力版，相当美观，但是耐磨上又逊色了些，不过放置在家中能够很好的融合其中，不会显得突兀。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5815.jpg"><img alt="IMG_5815" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5815.jpg" width="680" height="453" /></a>

VidOn AV200表面使用了一整块铝材包裹，并有拉丝纹路，无论是质感还是手感都相当给力。当然在打理的时候要稍微留心些。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5831.jpg"><img alt="IMG_5831" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5831.jpg" width="680" height="453" /></a>

侧面的USB HOST以及SD储存卡接口。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5817.jpg"><img alt="IMG_5817" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5817.jpg" width="680" height="453" /></a>背面集中了绝大部分接口，从左到右分别是Audio 、mirco USB、电源输入、HDMI、RJ45、USB 2.0接口以及光纤口。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5822.jpg"><img alt="IMG_5822" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_5822.jpg" width="680" height="453" /></a>

从背面能看出VidOn AV200表面是一整块金属材质弯折耳成，整体感相当不错。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6094.jpg"><img alt="IMG_6094" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6094.jpg" width="680" height="381" /></a>

VidOn AV200是基于Android开发的机顶盒，一进入系统就能看到VidOn自家的界面。VidOn界面整体是较为干净整洁的，用大色块将一些主要功能列出，支持遥控器或者外接鼠标操作。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6095.jpg"><img alt="IMG_6095" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6095.jpg" width="680" height="381" /></a>

VidOn界面的设置项比较少，分别为网络、显示、声音与其他设置，更进一步则可以跳入原始的Android界面进行设置。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6115.jpg"><img alt="IMG_6115" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6115.jpg" width="680" height="381" /></a>

VidOn AV200在硬件配置上使用了1.3GHz的Cortex-A7四核处理器，GPU为SGX544MP2，2G内存。当然这也的配置在一些性能党看来是不够看的，不过VidOn AV200最大的武器是其完全移植的XBMC，并且在媒体播放优化上，VidOn AV200也比我之前体验过的Android机顶盒来的爽快多了。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6101.jpg"><img alt="IMG_6101" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6101.jpg" width="680" height="381" /></a><a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6102.jpg"><img alt="IMG_6102" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6102.jpg" width="680" height="381" /></a>

当然基于Andoird的VidOn AV200在功能拓展上肯定是有无限可能，可以通过安装应用来进行更好的功能应用。而在日常使用中，VidOn AV200的内存也是足够给力的。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6103.jpg"><img alt="IMG_6103" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6103.jpg" width="680" height="381" /></a>

对于VidOn AV200这种针对性强的影音播放产品，对其硬件配置和应用拓展都是不用太多考虑的，其最大也是最强悍的额是其完全移植的XBMC，在视频播放和功能操作上是颇为专业的。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6105.jpg"><img alt="IMG_6105" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6105.jpg" width="680" height="381" /></a><a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6107.jpg"><img alt="IMG_6107" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6107.jpg" width="680" height="381" /></a>

VidOn AV200可以直接选择不同U口下链接到额外接硬盘，并能正确的读取相应的容量显示在右侧。点击后就能直接通过文件夹点击进行播放。当然VidOn AV200除了外接设备播放之外，还可以通过网络进行NAS播放，能够很好的做到家庭影音中心的作用。我个人建议操作VidOn AV200还是外接蓝牙鼠标较为方便，使用遥控器操作，还是有那么点别扭。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/DSC002121.jpg"><img alt="DSC00212" src="http://leiphone.qiniudn.com/uploads/2014/05/DSC002121.jpg" width="680" height="382" /></a>

VidOn AV200是全球首款支持蓝光菜单导航的Android机顶盒，这个功能十分给力。上图为播放Ice Age: Dawn of the Dinosaurs时的画面，可以说对蓝光菜单导航的完全支持，使得VidOn AV200在体验感受上提升了不少。如果搭配投影仪使用，我感觉真的和影院有的一比了。当然支持蓝光导航的前提是片源要求较高，上图播放的为40G多的蓝光iso原盘，在下载时间有那么点捉急。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6109.jpg"><img alt="IMG_6109" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6109.jpg" width="680" height="381" /></a>

VidOn AV200是首款基于Android平台的支持硬件加速的XBMC播放器，其在视频播放上是完全没有压力的。无论是我下载蓝光转码还是蓝光原盘，或者是DTS声道都能做到完美解码，在音画方面不会有不同步的情况发生。并且VidOn AV200在快速拖动的流畅性与读取速度上，也较我之前把玩过的Android机顶盒来的流畅的多。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6111.jpg"><img alt="IMG_6111" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6111.jpg" width="680" height="381" /></a>

当然VidOn AV200还可进行字幕加载、音频输出和声道切换。简单来说XBMC支持什么功能，VidOn AV200也能支持，这也是VidOn AV200最大的法宝。于此之外，VidOn AV200还支持AC3/DTS 5.1 SPDIF 和 DTS-HD/TrueHD HDMI直通输出，对于构建家庭影音环境的布线要求上降低不少。同时VidOn AV200对诸多音频输出的支持也足够让影音发烧友好好的发挥家庭影音系统了。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/DSC00213.jpg"><img alt="DSC00213" src="http://leiphone.qiniudn.com/uploads/2014/05/DSC00213.jpg" width="680" height="382" /></a>

VidOn AV200还支持目前比较流行的2D转3D功能，当然该功能相比真3D在效果上还是比较一般的。VidOn AV200除了转换3D之外，还支持在playlist模式下进行蓝光3D播放，后续的软件升级也会支持更多的播放功能与支持。

&nbsp;

<a href="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6121.jpg"><img alt="IMG_6121" src="http://leiphone.qiniudn.com/uploads/2014/05/IMG_6121.jpg" width="680" height="453" /></a>

VidOn AV200较为复杂的遥控器和较为简单的说明书，使得对使用者的要求略高了些，但从其面对的消费群体来看，也是不可避免的。VidOn AV200是 一款针对影音发烧友而生的产品，他可能没有目前流行的Android机顶盒那么小巧的提及以及强悍的硬件配置，但其完全移植的XBMC在功能上是十分强大的，能够藐视Andoird机顶盒。

并且 VidOn AV200对蓝光菜单导航的支持，硬件加速，以及高清音频输出支持，使得其可玩性与功能都是很强大。同时VidOn AV200诸多接口使得其拓展性相当强大，作为家庭影视中心是当之无愧的。而外形设计的简洁大方和无线网络支持，在家庭环境中的摆放以及功能扩展上都可圈可点。而在使用上，建议搭配无线鼠标键盘使用，这样可能会比使用遥控器来的简单舒服的多了。
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">11</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/2066.html" target="_blank">Quitbit：帮你戒烟的打火机</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/2070.html" target="_blank">Nest又一劲敌Tado Cooling iBeacon 智能空调控制器</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="2068" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1400032784')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--15322855080507075594111817-->
<script> var _trace_page_logid = 1532285508; </script><!--15322987890355032074111817-->
<script> var _trace_page_logid = 1532298789; </script>