<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181725';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-智能硬件的冷思考（下）</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "2151";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>智能硬件的冷思考（下）</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">智能硬件的冷思考（下）</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">16</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">在上篇里提到的三个问题是智能硬件创业公司和大公司都无法回避的问题。归结起来，就是这么几个字：门槛高、投入大、回报周期长。</div>
<div class="d-artical-content" id="sourceContent">
<a href="http://leiphone.qiniudn.com/uploads/2014/05/kitchen_top.jpg"><img alt="kitchen_top" src="http://leiphone.qiniudn.com/uploads/2014/05/kitchen_top.jpg" width="909" height="572" /></a>

<strong>【编者按】本文首发自公众号吃饭吧，作者Alex。Alex目前正在家居领域创业。</strong>

在上篇里提到的<a href="http://www.leiphone.com/d-cold-thoughts-on-smart-hw-1.html" target="_blank">三个问题</a>是智能硬件创业公司和大公司都无法回避的问题。归结起来，就是这么几个字：<strong>门槛高、投入大、回报周期长。</strong>

从这一年多，各创业公司反复试错的情况来看，智能硬件厂商还有无法回避的一个核心问题就是用户习惯。

什么意思呢？我之前说的那三点都是智能厂商会碰到的问题，但最难的问题还不是那三个，而是客户对你的东西根本没有信任度。

<strong>我们先退回到一个软件市场的思维来观察下。</strong>就以微信为例吧。我第一次知道微信，是2010年上半年，这个节奏点算是比较到位了，因为张晓龙也就是在3月份推出的微信，当时模仿的版本是苹果的talk box这个东西，而且当时我从周围的挨踢男的眼神中看到了不屑。

但这个东西很快就基于腾讯强大的营销能力走红了。走红的路径是这样的，首先是尝鲜人群，紧接着就是90后，特别是90后的高中生和00后初中生，再就是工作人群，接下来是日常屌丝人群，最后才是家里的父母。

等到了父母这个层面的时候，微信已经完成了市场覆盖。

<strong>这个路径看上去是很美好。可它仅仅适用于软件市场，完全不适合硬件市场。</strong>为什么？因为软件的接入和退出成本非常低，我喜欢我就用，我不喜欢我干嘛用，完全可以卸载。

但硬件能这么做吗？完全不行的。一个基本的消费者，在面对同类型产品的时候，他考虑的第一件事不是买不买，而是好不好？他会比来比去，找出性价比最高的那个，而不是看上去最为智能的那个。

因为消费者从内心讲，认为智能硬件只是一个噱头，而实用和好用才是他们关注的。举个例子吧，最近kickstarter上推出了一个智能家居，叫做智能砧板。其实是一个塑料的方块物体，很像砧板，里面内置了传感器，能够记录食物的重量、蛋白质含量、你切菜的速度等等各种数据。

OK，这个产品在北美使用是没有问题的，但在中国使用就是扯淡了。第一，中国的厨房习惯是红案白案一起用，而且中国的厨房对于砧板的使用到了极致，切菜、配菜全部都要用到这个东西。你能想象你在切菜秀刀工的时候，这个时候砧板告诉你，重量是多少，蛋白质是多少，卡路里是多少？这个时候你有这个闲心吗？第二，中国人的特点是注重饮食的搭配，但这种搭配不是到了厨房才进行的，而是在买菜的时候就已经决定了的。所以这个产品也就在北美市场可以玩一玩，国内市场基本就是玩去了。

<strong>消费者对于产品没有绝对的信任度是阻碍智能硬件市场进步的最大阻碍。还有一个阻碍，就是中国居民的消费层次。</strong>

中国人的一个显著特点是能吃饱就行，吃好不过分也行。因为中国人的哲学是中庸，适度、平和、得当就是最好的。

可智能硬件市场的哲学不是这样的，智能硬件是要做到极致的。怎么讲呢？单个智能产品传导出来的理念就是这个产品一定要在某一方面做到极致，以我最近看到的一个智能插座来看，就有这个特点。

这款智能插座的主要目的就是监测室内耗电量的分布情况，监测电费的波动情况。这个东西有用，可中国人的家庭消费习惯是这样的，能不用电的时候，坚决不用电；能用电的时候，绝对要把电用足。而欧洲和北美的消费习惯是一天二十四小时，空调或者电器都在运转，那当然需要一个耗电监测，但中国人最大的监测器就是你家里那个常年对你唠叨的妈，她心里的账本比这个鸟智能插座要实在多了。

目前，中国人现在的消费层次远远达不到智能硬件市场的消费层次。全国还有一半的农村人口，城市里面也不是那么多人都喜欢智能硬件，只有少部分前卫的人群很喜欢这些东西，所以这样一算，智能硬件市场相对来说就是个小众市场里面的小众市场。

前几天，我跟本地的一架无人机厂商谈了很久，本来我是想做一些产品宣传片的，但聊来聊去就说到了智能硬件的前景问题。他告诉我的数据，国内无人机市场根本没有打开，一年能有1万台销售就很好，而90%的销量全部投放到欧美市场，因为那边的低空飞行政策明朗，而且收入相对较高，能够支撑这个产品的后续保养和投入。

而国内的无人机市场基本都是政策客户，一年能做到300台就是极大的成功了。但300台无人机基本就是个保本或者微利的状态。

<strong>那么智能硬件市场为什么还有这么多资本涌入？为什么还有这么多人扎堆呢？</strong>

其实还是一个趋势的问题。就像2002年的时候，PC机遇到了最大的一次变革，显示器变革，从CRT转移到LED市场，那个时候我还在打游戏，但坚决反对换CRT，为什么？因为CRT显示器无论从清晰度还是显示速率都远远强过LED屏幕，可LED屏幕就是趋势。

两年后，随着LED屏幕的大幅度降价，CRT市场就崩塌了。

这也是一个道理，大家都纷纷涌入智能硬件市场，是因为传统领域的这些东西都已经落后于这个时代，只有由于固有的市场壁垒，我们这些正在攻城的野蛮人，暂时没办法攻入城内而已。

但只要给一点时间，或者一次天降大雨，就能破门而入了。

<strong>最后，讲一讲智能硬件领域的几个误区。</strong>

现在做智能硬件的人越来越多，还纷纷把自个说的那么高大上。其实，你们不是第一波做智能硬件的人，并且不是最聪明的。

深圳，世界寨都，山寨的天堂，这里孕育了全球最早的一波智能硬件浪潮。时间在2004年，也就是MP4极其流行的年代，那个时候，最好的智能硬件创意或许就是智能腕表，当时有部分MP4厂商，已经推出了量产版的智能腕表，继承了通话和MP4功能，只是受制于WIFI技术不够成熟和电池续航技术，没有继续推进而已。

随后，深圳的很多厂商都有一些惊人的创意。比如可穿戴设备中的虚拟游戏技术，这些都是在深圳都被验证过的。

我们这样一群新一波的智能硬件野蛮人，都只是在前人的路上继续行走而已，并没有那么神圣和让人敬仰。

既然要走这个路，就必须要有一些合适的路径，要规避一些误区。而我最近看到的一些例子，显然就是跟这些误区有关。

第一，喜欢无谓投入。

智能硬件的前期投入非常高，主要是两点，一个是模具投入，一个是量产押金。虽然说全国各地的代工厂商多的吓人，但所有的代工厂商都有一个特点，就是没有量产，你说的天花乱坠都是扯淡。代工厂商别人靠走量生存，他不管你什么概念，你就是一个苹果公司，最终还不是要找富士康代工。而很多创业公司喜欢玩概念，一开始就投入100万，开模、玩APP，这些都玩妥当了，再来想怎么进行下一步。

我觉得除非是后台资本足够有耐心，否则任何一个公司这样玩，都是烧的快、死的快。

第二，不喜欢问市场。

前几天，有个做智能鞋垫的哥们问我一个问题：如果我卖1万个鞋垫会不会收回成本。我直接问了一个问题，你考虑过有些人是脚臭这个问题吗？他愣住了，问我，什么意思？我说，如果脚臭，你就是卖一个金鞋垫给他，他也不会有感受，他只会买一个让他不会脚臭的鞋垫。

很多公司一开始就假设别人喜欢自己的产品，你怎么知道别人会喜欢？这两天，墨迹天气这个公司推出了一个硬件产品叫做“空气果”，999块钱，被市场骂的半死，一个放在室内的球，只有监测空气的功能，就卖999块钱，那我到底是买了个球回来还是买了个爹回来？

就这个样子，墨迹的CEO昨天还出来说，这是我们前进路上的一小步。我只能默默的在后面接一句话，也是你开始摆烂的一大步。

很多公司都是喜欢自我陶醉，认为自己只要把产品设计的好看，别人就是JJ硬起，冲过来让你随便开宰。拜托，大家都很忙，没空跟你瞎白活。

如果设计真的那么NB，那小米前天的小米平板就不用照抄IPAD MINI2了，直接用最牛逼的IPAD AIR多好啊。

世界不是那样的。

第三，不喜欢低端东西。

一提到智能硬件，各大公司想到的最牛逼的一点就是互联互通，用上最先进的传感器，最好的科技结晶。但智能硬件大牛们，你们考虑过一个问题没有。你开发的这么先进，最终的使用者就只有一个人而已啊。

当然，你想象的场景是没错，上班用你的智能汽车，路上用你的智能手机，睡觉用你的智能床垫，恨不得你连别人啪啪啪的时候，都想别人用你的智能杜蕾斯。你最终的目的是要形成一个生态闭环。

但你想过没有，你想象的这些场景都是在YY。

一个人不可能所有的东西都在用最智能最好的东西，因为顾客是一个个鲜活的人。而人的需求根本还是在于情感、小范围、被认可。

这才是智能硬件的初衷和核心，一味靠高大上的东西会让大家觉得被科技奴役，从而产生极强的逆反感。

举个例子吧，大家可以去翻翻各大家居网站，仔细观察就会发现，所谓的冷色调和科技感的设计，被抛弃的程度远高于小清新或者是小温暖的混搭风格，即使科技感里面充满了各类科技，但大家仍然需要的心灵的慰藉和那轻轻的诉说。

这两天断断续续讲了这么多，算是我对智能硬件市场的一个总结和判断吧。总体而言，我认为智能硬件市场会在2015年爆发，而且会有几何倍数增长，而2014年就处在这个时间点的前期，所有的厂商都必须好好备战。

当然，已经死过去的厂商就不提了。

可能走到最后的厂商，必须要有这么几个元素：情感、小范围、口碑。

如果超出了这些，就会陷入小米这几天一样的苦战—-被夹击的境地。而那个层面恐怕就是资本和资本的战争了。
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">16</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/2148.html" target="_blank">智能硬件的冷思考（上）</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/2154.html" target="_blank">点头付款，Google glass新应用</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="2151" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1400477142')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--15146146720689383434111817-->
<script> var _trace_page_logid = 1514614672; </script><!--15146193150341323274111817-->
<script> var _trace_page_logid = 1514619315; </script>