<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181725';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-狗狗需要Whistle的N个理由</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "2279";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>狗狗需要Whistle的N个理由</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">狗狗需要Whistle的N个理由</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">9</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:安珀 http://ianpo.com/article-4913.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">我的爱犬Sydney已经忠诚地陪伴了我12个年头，而自我四年前生了孩子，又多接了几份工后，我却未能全身心地陪伴它。惭愧地说，Sydney没有得到它应有的散步或玩乐时长。可是，Sydney依旧对我忠心不减，诚挚有加。去年以来，我开始注意到它的体能水平正在下降，在站立时它的后腿支撑无力。在我整理行装出门的时候它变得分外紧张，搞得我上班或出差时总忍不住担心它。我出门在外的时候，真的对它的状况一无所知。</div>
<div class="d-artical-content" id="sourceContent">
我的爱犬Sydney已经忠诚地陪伴了我12个年头，而自我四年前生了孩子，又多接了几份工后，我却未能全身心地陪伴它。惭愧地说，Sydney没有得到它应有的散步或玩乐时长。可是，Sydney依旧对我忠心不减，诚挚有加。去年以来，我开始注意到它的体能水平正在下降，在站立时它的后腿支撑无力。在我整理行装出门的时候它变得分外紧张，搞得我上班或出差时总忍不住担心它。我出门在外的时候，真的对它的状况一无所知。
<p align="center"><img alt="" src="http://ianpo.com/uploads/userfiles/images2/20140526/20140526111702_99781.jpg" /></p>
&nbsp;

狗狗健康追踪器Whistle闯入我眼帘的时候，我觉得是时候可以放下心头大石了。一开始我很犹豫不知道该不该试——Whistle号称“为狗狗而设的Fitbit”， 而Fitbit证明了我是个懒人，我怕Whistle会进一步证明我是个懒狗主。经过一番观望，我还是决定一试。
<p align="center"><img alt="" src="http://ianpo.com/uploads/userfiles/images2/20140526/20140526112118_14609.jpg" /></p>
&nbsp;

初始设置简单到没朋友(任何在乎用户体验的设计者都该好好借鉴下Whistle)，不过其目标设置和Fitbit之类的可穿戴健身追踪设备不同。Fitbit上我们设置的是每日计划要走的步数，Whistle上设置的则是每日的活动目标。我把每日目标设置成了遛狗30分钟……当时看上去可行性还挺高，而且30分钟的散步时间对Sydney这样的狗狗是一个平均数。

出人意料的是，过了一个星期后，我很快意识到遛狗30分钟是一件说起来容易做起来难的事情。达成Fitbit的目标和达成Whistle的目标之间有一个巨大的不同，那就是Fitbit不必带狗完成，对Whistle来说则是必须。我走去搭车上班，在办公室转悠，甚至取杯咖啡都能攒步数，完全不用Sydney的参与。与此同时，Sydney在家又度过了百无聊赖的一天，默默等我回家遛它。
<p align="center"><img alt="" src="http://ianpo.com/uploads/userfiles/images2/20140526/20140526112153_63540.jpg" /></p>
&nbsp;

和Whistle的合伙人及产品头目Steve Eidelman讨论过后，他表示，比起我们与狗狗共度时的数据，Whistle反映得更多的是我们不在狗狗身边时的事情。Whistle可以让你知道你不在时它都在玩些什么。同时，Whistle也能体现出被托付了遛狗之责的人到底有没有完成任务。我先生不经我特别叮嘱的话是不会去遛狗的，不是说他不喜欢Sydney，而是他认为反正我一定会遛，他就不操心这件事了。可自我让他下载了Whistle的app之后，事情发生了变化：他突然变得非常关心Sydney，照顾它的需求。原因是他开始陆续收到Whistle报告的Sydney有无达成当日活动目标的推送短讯。我先生对冲目标拿成就这类事情十分热心，遛狗大业已成了他的一项游戏。
<p align="center"><img alt="" src="http://ianpo.com/uploads/userfiles/images2/20140526/20140526112215_19934.jpg" /></p>
&nbsp;

当狗狗佩戴Whistle的时候，相关活动数据会自动采集。Whistle会自动推算狗狗的活动情况与休息模式。假如狗主有兴致，他们还可以录入食物、药物摄入量，随手记一条备忘，或添加照片什么的。当有了狗狗的品种、性别、年龄、所在地以及所采集到的相对应的活动信息后，whistle所能做的文章就不仅仅是在广义的狗狗上，而可以专攻于特定品种，为每一个犬科动物学家、兽医或宠物公司所用。Sydney是一只老年狗狗，所以Whistle在行为变化分析这一块特别吸引我。

Whistle实验室最近与Jawbone的UP平台合作，将实施一个距今为止最大型的人类与动物之间的纽带的研究。他们将拥有数据证明宠物与人相互之间的量化影响。想像一下，如果在不久的将来，心理健康研究终于可以强有力地表明宠物有益身心健康的话，whistle可为此奠了基。

<strong>　Whistle的技术方面</strong>

给whistle充电和给我的Fitbit充电如出一辙地令人头痛。要顺利给whistle随手充上电，必须同时满足以下条件：1)我在家;2)Sydney在我旁边;3)我刚好能接收到电量不足的推送消息。实际上，我目前离家十万八千里，而whistle正提醒我快去充电。明明该受到提醒的是我待在家中的先生。

公平点来说，Whistle的电池要比Fitbit耐用。如果设置禁止数据自动同步，隔一段时间自行同步手机与Whistle间的数据的话，可以减少数据传输能耗，进一步延长电量使用时间。

Whistle包含了蓝牙和无线WiFi两种网络，你在近处时可以使用蓝牙，超出一段距离时又可以切换成WiFi。在体积方面，对于我家60磅重的Sydney来说可以忽略不计，不过对于泰迪这样的小狗来说可能就大得有些碍事。另外一个产品特点是，Whistle设备利用的三轴陀螺仪可以比app本身处理更多的数据，通过某种算法追踪不同活动类型。假如持续使用，Whistle还可以早早发现狗狗的身体障碍，比如髋关节发育不良等毛病的潜能。

<strong>爱上Whistle App的理由</strong>

*我先生极度依赖智能网络设备，部分设备还用上了IFTTT的频道。Whistle也可以在IFTTT上设置频道，这样我就能把Sydney的活动数据导入到我的谷歌日历里。假如狗狗没有遛足时间，我就会收到提醒简讯。另外如果没人在家而气温又高于华氏80度(摄氏27度)的话，空调会自动启动，为Sydney降温。

*Whistle App为我提供了深层的数据。很显然我并不只是想知道Sydney的睡睡玩玩，我尤其关心的点是它的步态或行为有没有大变化，这样我就能决定该不该带它去见兽医。

*Whistle App可以配合dropcam一起使用。如果Whistle的意义在于拉近你与宠物的距离的话，我打开app看它的数据图表时并没有感受到有什么拉近感。我所希望的功能是，假如我的狗狗跑到了一个摄像头前面，我就能接收到推送通知，这样我就能和它打个招呼(dropcam即能实现此功能)。IFTTT功能活用又一实例!

*Whistle也许是定位走失狗狗的一个好办法(假如Whistle还戴在它脖子上的话)。

*Whistle app方便我指派和狗狗相关的任务给先生或儿子。假如派了他们去遛狗，我通过app就能知道他们到底有遛没遛。

Whistle app能从佩戴Whistle的狗狗身上得出各种有用的数据。我出门时Whistle帮助我监控狗狗的情况，狗狗活动水平下降时Whistle可以提醒我注意。在不久的将来，说不定Whistle还能在我出门在外时帮助我和Sydney沟通，缓解它的紧张情绪。Sydney与我整个家庭间的感情很可能也因Whistle而更深厚了。
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">9</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/2277.html" target="_blank">中国移动什么时候能停止2G服务？</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/2280.html" target="_blank">WWDC，苹果或发布智能家居平台</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="2279" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1401157660')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--15016666260507075594111817-->
<script> var _trace_page_logid = 1501666626; </script><!--15016652550982724106111817-->
<script> var _trace_page_logid = 1501665255; </script>