<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181724';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-科技武装软妹：10款有爱智能穿戴</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "2302";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>科技武装软妹：10款有爱智能穿戴</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">科技武装软妹：10款有爱智能穿戴</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">14</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:雷锋网 http://www.leiphone.com/beautiful-wearable-device.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">没有美感的可穿戴设备都是没前（钱）途的，就好比底子不错而打扮乡村肥猪牛的妹子总成功地让人感到“生活不再美好了”。智能手表谁比Ω好看？智能眼镜谁比Gucci好看？智能戒指谁比卡地亚好看？智能颈椎环谁比骨折患者的脖套（脑海中浮现出霍金叔叔的颜）好看？你问我我也不知道，我只想告诉你软妹也是可以和智能穿戴交盆友的。总有一些粉嫩的产品让你想要剁手。</div>
<div class="d-artical-content" id="sourceContent">
没有美感的可穿戴设备都是没前（钱）途的，就好比底子不错而打扮乡村肥猪牛的妹子总成功地让人感到“生活不再美好了”。智能手表谁比Ω好看？智能眼镜谁比Gucci好看？智能戒指谁比卡地亚好看？智能颈椎环谁比骨折患者的脖套（脑海中浮现出霍金叔叔的颜）好看？你问我我也不知道，我只想告诉你软妹也是可以和智能穿戴交盆友的。总有一些粉嫩的产品让你想要剁手。
<h2>Misfit Bloom Necklace：最美智能项链</h2>
Misfit之后，可穿戴设备终于宣告和珠宝成功联姻。面对市面上诸多丑到爆的智能穿戴，Misfit教育我们只要认真做设计，智能硬件同样可以楚楚动人（据接近该公司的消息人士称，Shine的造型令其在女性用户当中获得出奇的追捧）。 最近Misfit又推出了一款新的时尚项链，以作为佩戴其Shine运动追踪器的最新方式。

Misfit Bloom的主体部分依然是那枚25分硬币大小的运动追踪器，妹子们基于这个追踪器，可以通过走路、跑步、游泳等运动获得分值奖励。早先有数种颜色可供选择，其中包括金色、银色以及蓝色。最近官方又推出了海军蓝和珊瑚红版本。Bloom的项链部分由手工打磨的不锈钢挂件和一条18英寸的螺旋形不锈钢链子组成。这款磁性项链名为Bloom，它可以轻松包容色彩缤纷的Shine。Misfit网站上为这款项链给出的标价是79.99美元，折合500软妹币，看起来好像不贵的样子！
<a href="http://leiphone.qiniudn.com/uploads/2014/05/01Misfit-Bloom01.jpg"><img alt="01Misfit Bloom01" src="http://leiphone.qiniudn.com/uploads/2014/05/01Misfit-Bloom01.jpg" width="650" height="223" /></a>
<a href="http://leiphone.qiniudn.com/uploads/2014/05/01Misfit-Bloom02.jpg"><img alt="01Misfit Bloom02" src="http://leiphone.qiniudn.com/uploads/2014/05/01Misfit-Bloom02.jpg" width="650" height="650" /></a>
<h2>inWatch X：全彩透明柔性屏智能手表</h2>
2014年1月13日，映趣科技创始人王小彬在中国大饭店宣布，全球首款采用“全彩透明柔性”屏幕的智能腕表inWatch X正式问世。极客妹子们即将通过这款产品，感受到科幻电影场景般的炫酷视觉体验与交互感受。

今天雷锋网小编与王小彬连线，独家获取inWatch X的一手图片，除了黑色、玫粉色之外，额外曝光之前未曾透露的红色、黄色款（转载图文请注明出处为雷锋网）。

据悉，X产品开发团队主导成员Noah曾是Google Glass项目的深度参与者。跨国团队联合打造，让人对这款产品多添一些好感。
<a href="http://leiphone.qiniudn.com/uploads/2014/05/02inWatch-X01.jpg"><img alt="02inWatch X01" src="http://leiphone.qiniudn.com/uploads/2014/05/02inWatch-X01.jpg" width="650" height="496" /></a>

<a href="http://leiphone.qiniudn.com/uploads/2014/05/02inWatch-X02.jpg"><img alt="02inWatch X02" src="http://leiphone.qiniudn.com/uploads/2014/05/02inWatch-X02.jpg" width="650" height="490" /></a>

<a href="http://leiphone.qiniudn.com/uploads/2014/05/02inWatch-X03.jpg"><img alt="02inWatch X03" src="http://leiphone.qiniudn.com/uploads/2014/05/02inWatch-X03.jpg" width="650" height="474" /></a>
<h2>微蜜kiss皮肤测试仪</h2>
微蜜Kiss智能皮肤测试仪是由中国团队研发的全球最小的肌肤水分智能检测仪 。通过手机APP随时测量皮肤水分含量，并进行记录，可通过特定APP检测皮肤每天状况走势。

妹子们都比较关注自己的饮食和健康，当然也从来不会放过护肤、美妆的任何一个消息。 微蜜的APP面膜提醒功能是比较贴心的，不仅可以让妹子对自身皮肤含水量有一个了解，还可以提醒妹子在不同季节及时更换当季的护肤品，在皮肤出现问题前做好防范。当你买了不同品牌的补水面膜，精华、面霜之后，也可以通过微蜜kiss测试自身皮肤吸收状况，从而推断什么样的护肤品更适合自己。
<a href="http://leiphone.qiniudn.com/uploads/2014/05/03%E5%BE%AE%E8%9C%9Ckiss-01.jpg"><img alt="03微蜜kiss 01" src="http://leiphone.qiniudn.com/uploads/2014/05/03%E5%BE%AE%E8%9C%9Ckiss-01.jpg" width="650" height="240" /></a>

<a href="http://leiphone.qiniudn.com/uploads/2014/05/03%E5%BE%AE%E8%9C%9Ckiss-02.png"><img alt="03微蜜kiss 02" src="http://leiphone.qiniudn.com/uploads/2014/05/03%E5%BE%AE%E8%9C%9Ckiss-02.png" width="650" height="456" /></a>
<h2>EmoPulse Smile Smartwatch弯曲屏幕智能手机</h2>
谣言中各种版本的苹果iWatch至今未曾显山露水，估计今年是无望面世了。所以请妹子们暂时忘记iWatch的存在，看看其它可爱的产品吧。

Smile Smartwatch的工业设计还蛮讨喜的，这款命名为“微笑”的智能手表其实设定为一部智能手机：同时配备运动个人助理、游戏机、社交网络与作为新闻订阅源的功能。此前我们可能是在科幻电影或者睡梦里见过这样的装备，现在这个产品即将进入现实生活。

产品主体设计方面，由两块屏幕(twin-display)组成。用户配戴起来就像一款面积较大的手镯，产品遵循了设计原型图里使用柔性屏幕的试验。首个版本做出来时还是单色屏幕，现在已经换成全彩的OLED屏。

需要启动手机时，用户只需抬起手臂，上面的一块屏幕便会随之点亮。当用户手腕往上翻时，下面的一块屏幕也会被点亮。Smartwatch外沿采用了铝制外壳包裹，外层使用德国Schott公司的特制玻璃（S家的水晶杯送情人不错喔），机身防水又防震。这个产品比较适合妹子和男票做情侣搭配。
<a href="http://leiphone.qiniudn.com/uploads/2014/05/04EmoPulse-Smile01.jpg"><img alt="04EmoPulse Smile01" src="http://leiphone.qiniudn.com/uploads/2014/05/04EmoPulse-Smile01.jpg" width="650" height="481" /></a>

<a href="http://leiphone.qiniudn.com/uploads/2014/05/04EmoPulse-Smile02.jpg"><img alt="04EmoPulse Smile02" src="http://leiphone.qiniudn.com/uploads/2014/05/04EmoPulse-Smile02.jpg" width="650" height="334" /></a>
<h2>索尼 SBH20 蓝牙耳机</h2>
SBH20是索尼在今年发布的一款主要用于搭配手机使用的蓝牙耳机，与其说这是蓝牙耳机，不如说它是一个蓝牙音频模块与耳机的组合。虽然模块化分离了耳机和音频与电池等功能单元，但它仍然保持了很好的便携性，更重要的是它的价格只有299元人民币，而且还有时髦的NFC功能。外观也轻巧可人，是个心头好~

SBH20方形的功能模块比大家熟悉的iPod Shuffle稍大稍厚一些，但由于使用塑料材质，包含耳机在内的重量只有12.3克。SBH20的功能模块提供了5种颜色可选（Sony的调色能力就无须质疑了），配合很轻的重量和上面的衣夹。使用起来，即便是在穿夜店抹胸小短裙的情况下，也是很方便的呦。
<a href="http://leiphone.qiniudn.com/uploads/2014/05/05%E7%B4%A2%E5%B0%BC-SBH2001.jpg"><img alt="05索尼 SBH2001" src="http://leiphone.qiniudn.com/uploads/2014/05/05%E7%B4%A2%E5%B0%BC-SBH2001.jpg" width="650" height="460" /></a>

<a href="http://leiphone.qiniudn.com/uploads/2014/05/05%E7%B4%A2%E5%B0%BC-SBH2002.jpg"><img alt="05索尼 SBH2002" src="http://leiphone.qiniudn.com/uploads/2014/05/05%E7%B4%A2%E5%B0%BC-SBH2002.jpg" width="650" height="278" /></a>
<h2>LG POCKET PHOTO 口袋照片机</h2>
韩文无力，鼓捣半天，放弃介绍性文字。顾名思义，这个产品的特点就是两个字：便携！Youtube其实是有使用教学片的，有条件翻墙的童鞋的可以看（http://www.youtube.com/watch?v=MQayXzIfNxI）。
这款棒子产品就外观来说，配色中规中矩。不过决定照片打印质量的主要因素是油墨跟相纸。目前官方提供的相纸成像略微发暗，这方面提升之后，可能会有更好的体验。
<a href="http://leiphone.qiniudn.com/uploads/2014/05/06LG-POCKET-PHOTO01.png"><img alt="06LG POCKET PHOTO01" src="http://leiphone.qiniudn.com/uploads/2014/05/06LG-POCKET-PHOTO01.png" width="650" height="444" /></a>

<a href="http://leiphone.qiniudn.com/uploads/2014/05/06LG-POCKET-PHOTO02.png"><img alt="06LG POCKET PHOTO02" src="http://leiphone.qiniudn.com/uploads/2014/05/06LG-POCKET-PHOTO02.png" width="650" height="442" /></a>

<a href="http://leiphone.qiniudn.com/uploads/2014/05/06LG-POCKET-PHOTO03.png"><img alt="06LG POCKET PHOTO03" src="http://leiphone.qiniudn.com/uploads/2014/05/06LG-POCKET-PHOTO03.png" width="654" height="476" /></a>
<h2>Necomimi 意念猫耳</h2>
Necomimi, 中文名“猫的秘密”，是一款很可爱的意念控制的脑电波猫耳朵玩具，像发箍一样，只要戴在头顶上，头上的脑电波传感器就会探测并自动分析观察到的脑电波，随着人类情绪起伏，做出相对应的表示性动作。例如，配戴者心情悲伤时，猫耳朵会垂下；集中注意力时，则会竖起来；心情愉快时，猫耳朵会来回摆动；身心疲倦时，它也会平躺着。所以只要戴上它后，不需要开口说话，就可以让脑电波猫耳朵随你的心情让它竖起或垂下。

<a href="http://leiphone.qiniudn.com/uploads/2014/05/07Necomimi011.png"><img alt="07Necomimi01" src="http://leiphone.qiniudn.com/uploads/2014/05/07Necomimi011.png" width="650" height="539" /></a>

<a href="http://leiphone.qiniudn.com/uploads/2014/05/07Necomimi021.jpg"><img alt="07Necomimi02" src="http://leiphone.qiniudn.com/uploads/2014/05/07Necomimi021.jpg" width="650" height="189" /></a>
<h2>MUSS意念控制智能头带</h2>
还在羡慕科幻片中女猪角只需盯着物体就能用意念来控制它们吗？InteraXon推出名为Muse智能头带，也能让你拥有相同能力。不过它还没有科幻片中那么先进，它的控制范围只局限于iPhone、iPad、Android设备、MAC和Linux电脑。
简单来说，Muse智能头带通过获取你的alpha和beta脑电波判断你的“意念”，然后由预装在智能设备中配套软件实现控制你的智能设备。
<a href="http://leiphone.qiniudn.com/uploads/2014/05/08muse1.jpg"><img alt="08muse" src="http://leiphone.qiniudn.com/uploads/2014/05/08muse1.jpg" width="650" height="488" /></a>
<h2>HereQ GPS智能追踪手表</h2>
玩是孩子们的天性，“冒险”则成为了他们生活中的一大乐趣。年轻的妈妈们无法做到无时不刻地盯住孩子，所以她们需要一个好助手来帮助她们随时了解孩子所处的位置。HereQ GPS追踪器就成为了家长们一个极好的选择。这款手表需搭配智能手机或平板电脑中的对应软件使用。目前这个项目正在indiegogo众筹（https://www.indiegogo.com/explore?utf8=✓&amp;filter_title=here+Q+watch）。
<a href="http://leiphone.qiniudn.com/uploads/2014/05/09HereQ01.jpg"><img alt="09HereQ01" src="http://leiphone.qiniudn.com/uploads/2014/05/09HereQ01.jpg" width="650" height="304" /></a>
<a href="http://leiphone.qiniudn.com/uploads/2014/05/09HereQ02.jpg"><img alt="09HereQ02" src="http://leiphone.qiniudn.com/uploads/2014/05/09HereQ02.jpg" width="650" height="614" /></a>
<h2>Intimacy 2.0：透明的智能服饰</h2>
这款Intimacy 2.0连衣裙是由Roosegaarde设计团队和和V2_Lab学院共同打造，表面由皮革和薄如蝉翼的电子金属箔面料e-foils制作而成。在配合无线电技术、电子学技术、LED等技术之后，人们穿上这件衣服如果情感上有激动、害羞等变化而导致心跳加速，那么这件衣服就会慢慢改变颜色。

Roosegaarde还专门进行了形象的比喻，如果一名妹子穿着这件衣服，这时让她喜欢的一个男生慢慢走近她，衣服的颜色很明显开始变淡，直到透明（害羞之后衣服为毛要变透明啊喂……）。整个过程中妹子的心理变化通过衣服表现了出来，呼吸急促、心跳加速、细腻感情暴露无遗。

这个产品一定是主打情趣市场的，恩。<a href="http://leiphone.qiniudn.com/uploads/2014/05/10Intimacy.jpg"><img alt="10Intimacy" src="http://leiphone.qiniudn.com/uploads/2014/05/10Intimacy.jpg" width="650" height="400" /></a>

&nbsp;
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">14</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/2292.html" target="_blank">投影键盘带来完美科技版</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/2304.html" target="_blank">Smash：网球运动监测手环</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="2302" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1401240756')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--14982712010507075594111817-->
<script> var _trace_page_logid = 1498271201; </script><!--14982817990355032074111817-->
<script> var _trace_page_logid = 1498281799; </script>