<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181723';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-Oculus VR——虚拟现实背后光荣的道路</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "2595";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>Oculus VR——虚拟现实背后光荣的道路</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">Oculus VR——虚拟现实背后光荣的道路</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">2</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:穿戴迷 http://www.xchuandai.com/wearable-devices-news-oculus-vr-development.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">Oculus VR可穿戴设备在2013年CES展上，吸引了众人的目光，随后，无论是媒体的曝光，还是众多开发者的测试，都把Oculus VR推向高潮。</div>
<div class="d-artical-content" id="sourceContent">
Oculus VR可穿戴设备在2013年CES展上，吸引了众人的目光，随后，无论是媒体的曝光，还是众多开发者的测试，都把Oculus VR推向高潮。以及被Facebook 20 亿美元收购，而现在，他们又开始陆续从各公司挖来资深员工。

<img alt="" src="http://www.xchuandai.com/Uploads/article/201406/539a5e722d959.jpg" data-bd-imgshare-binded="1" />

比如说负责 Google Glass 的硬件主管 Adrian Wong、Havok 开发者关系总监 Ross O’Dwyer、曾担任光晕 4 高级美术总监的 Kenneth Scott，以及曾经全权负责第二版 Windows 的微软资深员工 Neil Konzen。当然，对于现在的 Oculus VR 来说，他们既不差钱，又不差人。有传奇人物 John Carmack 坐镇，影响着一批人，去追逐虚拟现实(Virtual Reality)的未来。

但关键在于，是 Oculus VR 吸引了 Carmack，让他愿意在 2013 年 8 月时“屈尊”到这家小公司来继续自己的技术狂想。如果产品不如人意，对技术有着无限追求的 Carmack 一定不会愿意加入 Oculus VR。那么，让我们跟随 Wired 的步伐，看 Oculus Rift 是如何开发的吧。

2013 年 9 月，产品的细节依然困扰着 Oculus VR 的 CEO Brendan Iribe。在游戏当中，延迟是游戏玩家最讨厌的敌人，如果延迟太严重，指令与画面不同步，玩家就不知道该如何作出正确的反应。但在头戴式显示器里，延迟所导致的问题更加严重：视觉神经系统与负责人体平衡感与空间感的前庭系统发生冲突，就会让人感到恶心，想呕吐。

正在 Iribe 苦恼之际，Valve 的工程师 Michael Abrash 打来了电话，声称已经开发了一部新的头戴式显示器原型，别人戴着不会恶心。实际上，所有试过这个原型设备的人，都没有感到任何不适。于是，Iribe 来到 Valve，Abrash 带着他走过长廊尽头的一个小房间里，这个小房间涂满了像 QR 码那样的“基准点”(fiducial markers)，可以进行图像定位;房间的角落里，另外一名工程师 Atman Binstock 操作着连着 Valve 原型设备的电脑。Iribe 把这个原型戴上，发现自己处于空中浮着数百个方块的房间里。

他把头转到面，看到更多浮在空中的方块，然后他靠近距离自己最近的方块，甚至蹲下来，看方块的底面。而在现实世界里，Iribe 戴着的设备上有一个小摄像头，他能够不断读取基准点，通过这样的方式定位人在虚拟世界的位置。接着 Binstock 敲了几下键盘，进入第一个 Demo。此时 Iribe 站在一间巨大的房子里，四面墙都是巨大的网页浏览页面。然后，他开始快速地甩动自己的头，上下左右不断旋转，让眼前的画面变得眼花缭乱，看到底是否会感到不舒服。结果是，什么都没发生，没有恶心，没有呕吐感。

然后，Binstock 又按了几下键盘，Iribe 换回原来的场景。 这一次，他在这些方块里不断穿梭，蹲着，规划自己的路线。Iribe 兴致勃勃地玩着，感觉不到时间的流逝。当摘下头戴式显示器原型时，他问了一句“到底我在里面呆了多长时间?”差不多 45 分钟。Iribe 心想，这甚至比我期待的更加宏大。

回头看一下 Oculus VR 的产品开发历程。2011 年，在父母的车库里，18 岁的 Palmer Luckey 制作了一个粗糙的原型，而到 2012 年 6 月，Carmack 把这个原型带到 E3 大会上，并再次推出“虚拟现实”的概念。一年之后，Oculus VR 制造出高清的设备原型，前往 E3，再一次引爆眼球。到了 2014 年 1 月的 CES 大展上，他们带来了更加先进的设备，3 月，他们带着另外一部设备到游戏开发者论坛(Game Developers Conference)。一直到被 Facebook 收购，这家公司都没有推出商业化产品，而是一直造梦，一个十年前被大家都抛下的梦想。

虚拟现实的“梦想”，几乎是 Oculus VR 独立推动，并让它再次唤起别人的兴趣。也正因为 Luckey 的优势，激励索尼宣布自己的虚拟现实设备 Project Morpheus。EVE Online 的开发商 CCP Games 以及《战争机器》的开发商 Epic Games 均为 Oculusr Rift 重新设计了游戏体验。远不止如此，开发者们推出 Rift 授权工具，让更多玩家在虚拟世界里探索，从分子到宇宙。视觉效果公司 Framestore 创造了《权力的游戏》的虚拟世界。《地心引力》的导演 Alfonso Cuarón 则造访 Oculus VR 的公司总部。因为太多类似好莱坞的需求，公司最近招了影片与传媒主管。

Mark Zuckerberg 收购了 Oculus VR 之后，在公开信中写道：“在游戏之后，我们将把 Oculus 打造成一个多种体验的平台。畅想一下，只需要在家中带上护目镜，你就能在游戏中享受坐在球场边座的感觉，坐在教室里与全球学生、老师一起学习，或者与医生面对面咨询。”这是 Oculus VR 的远景：超越沉浸感，达到真正的临场感——切实感受到自己处于虚拟空间之中。

现在，没有人知道 Oculus VR 何时发布面向消费者的的设备，也许是今年下半年，也许是明年，甚至明年都可能有点早了。不过，一旦 Oculus VR 开发出产品，那就意味着，沉浸式、可用的虚拟现实到来。这也是 Iribe 所期望的。

Palmer Luckey 在加州南部长大，自小在家接受教育。在空闲时，为了赚钱，他花了大量时间在修理电子产品上，包括视频游戏主机，还有 iPhone。然后，他把钱花在高功率的激光系统，以及升级游戏 PC 上。在 PC 上，他投入了整整上万美元。很快，他希望弄到 3D 显示器，探索真实的沉浸感。他从 GameBoy Color 上体验了游戏的虚拟世界，此后的《黑客帝国》和《Yu-Gi-Oh!》更是加强了这种渴望，Luckey 不禁问自己，为何我们做不成那样的世界?

于是，Luckey 买了部 400 美元的 Vuzix iWear VR920 头戴式显示器，但这还刹不住他的购买欲。紧接着，他买下了更加昂贵的 eMagin Z800 3DVisor。即便如此，这些设备都无法为他提供理想中的沉浸式体验。每次把它们戴上，Luckey 感觉自己是在看着一个游乐场，却不是身处其中。不能说这些设备垃圾，但它们并不是虚拟现实。它们的 LCD 屏幕分辨率不够高，头部追踪延迟很厉害，每当他转动头部的时候，都会感到恶心;视野狭窄是最大的问题，他每次都能看到屏幕的边缘，这意味着他无法沉浸到游戏的世界之中。

Luckey 意识到，和别人一样，他也有办法解决这些问题。于是他不断地修补手中的设备，直到 2010 年 11 月的某个晚上，他在 3D 游戏新闻网站 Meant to Be Seen 公布自己制作的第一个虚拟现实设备 PR1(Prototype 1) 的存在。这是一个笨拙的设备，因为太重了，所以还需要配上 2 磅重(907 克，将近 1 公斤)配重才能平衡地戴在头上。这是他从自己的收藏当中挑挑选选拼接起来的，而且仅仅只能显示 2D 图像。不过，它的优点是可装配 6 英寸的显示屏，可提供 90°的宽视场，是当时市面上头戴式显示器的 2 倍。

接下来 10 个月，Luckey 继续忙碌，解决一个又一个问题。他知道自己的头戴式显示器需要 3D 显示功能，但这意味着设备里装入两个屏幕，因为每一个屏幕需要为眼睛显示不同的图像，这样才能达到 3D 显示的效果。然而，即便是手机屏幕开始爆发式地进步，也依然没有足够小、能够并排嵌在头戴式显示器里的液晶面板。公布了 PR1 的几个月之后，Luckey 浏览富士通关于超小型 PC 显示面板产品的文档时，发现可用的现实区域为 121 毫米宽，正好是人两眼之间距离的 2 倍。于是，他想：“如果我能够把每个图像切成一半，会怎样?”于是，他把镜片隔开两半，就好像他拥有 3D 设备的原型。2011 年 9 月，他公布了 PR3。2012 年初，他又开发了 PR5，这一次拥有 270°宽视场。到了这个时候，Luckey 在 Meant to Be Seen 的论坛里，就好像名人一般，那里的会员都等着他放出下一个升级。

现在证明，Carmack 也是 Meant to Be Seen 其中一名成员。和 Luckey 一样，他也总是尝试让游戏世界变得真实，同样的兴趣让他关注虚拟现实技术。然而，他也和 Luckey 一样感到失望。那些大学里做虚拟现实研究的人都小看游戏。随着他不断地研究这个问题，终于来到 Meant to Be Seen 论坛，并从这里听说 Luckey 的正在做的事情。

Carmack 被这个小孩吸引住了。 Luckey 在 2012 年宣布正在打造第 6 代原型设备的时候(这个设备被命名为 Rift)，Luckey 在论坛里写道：“这个点子基于头戴式显示器对实体世界和虚拟世界的割裂，尽管我得说这名字很蠢。”当时他也提到，准备到 Kickstarter 上线项目，他打算把 DIY 套件寄给支持者们，让他们自己组装。于是，Carmack 私信 Luckey，问能否借一台 Rift 给他。要知道，Luckey 是 Carmack 的崇拜者，于是他马上寄了一台设备过去，甚至连保密协议之类的东西都不管不顾。

拿到设备后，Carmack 着手改进设备，更重要的是，他还贡献了代码。Rift 比其它产品优秀的地方是提供 90°宽视场，然而内嵌镜片歪曲了图像。为了解决这个问题，Carmack 开发了一个图像显示本身是扭曲的 Doom 3，来抵消镜片所产生的图像形变，得到正确的显示效果。结果，他得到了完全沉浸的游戏体验，而如果不是这种方法，需要购买 1 万美元的高端光学设备。

之后，Carmack 询问 Lucky 能否把这部设备带去 E3 大展展示。Luckey 满口答应。几个星期之后，在波士顿的 Luckey 收到朋友的短信，称是否看见一篇提到了他的文章。结果表明，Carmack 口中所说的“把设备展示给一些人看”，其实是“约了一堆媒体见面，大力推广了虚拟现实、Rift 以及 Luckey。”

反应出乎意料的好。某个网站如此写道，“这种沉浸式体验，我从来没有在别的游戏设备上体验过”，“它改变了第一人称视角游戏的体验。”Carmack 说，“显然，它就是那个拐点。”仅仅一晚上，Oculus Rift 变得炙手可热，能和 Kinect 比肩。

是时候严肃一点了。Luckey 找到一个高管团队，Iribe 是其中之一。他们也把赌注押在 Kickstarter 项目上，他们依然会把 DIY 套件寄给早期支持者们。然而，他们不能奢望开发者自己搞定游戏设备。因此，他们决定如果有人捐赠 300 美元，就提供完整的产品。为了在 Kickstarter 筹款，他们还录制了一个视频，里面全是游戏界里响当当的名字，比如 Cliff Bleszinski、Gabe Newell, 等等。一直到 Oculus 筹款项目上线前一小时，Luckey 还感到很紧张。他把筹资额从 50 万美元降到 25 万美元。但是，在仅仅上线一个小时后，这两个目标都被打破，最终筹得 240 万美元。

有了强力的支持，Oculus VR 有信心挑战虚拟现实领域中最难啃的一些问题。他们聘用了苹果工程师 Nriav Patel，他曾开发过动作传感器，用于侦测头部的运动。在 Oculus VR，Patel 的任务是设计 Rift 的“大脑”，一颗迅速将运动数据记录下来的跟踪器，方便公司开发算法，预测玩家的头部动作，同时改变游戏画面预渲染的效果，尽量降低画面延迟。Oculus VR 还把 LCD 换成 AMOLED，也同样是为了降低画面延迟，让运动画面变得更加清晰。他们还用小摄像头追踪头部运动，不必在四面墙上都涂满基准点图案。不过，最大的图片可能不是技术，2013 年 Carmack 决心离开自己创建的 id Software，加入 Oculus VR 成为 CTO。

十月中旬，Oculus VR 的发展势头无可阻挡。当时，Iribe 在一场游戏界大会大胆承诺 Rift 将提供“无眩晕体验”，引起台下 Andreessen Horowitz 合伙人 Brian Cho 的注意。这家风险投资公司，之前在 Oculus VR 进行第一轮融资的时候，投入了自己的金钱。而听完 Iribe 讲话后，Cho 马上向他要了更多的 Demo。当另外一名 Andreessen Horowitz 的合伙人 Chris Dixon 看了这些 Demo 之后，“我这辈子，已经见过 5 到 6 种让世界发生改变的 Demo，Apple III、Netscape、Google、iPhone……现在是 Oculus VR。它很神奇。”当年 12 月，Oculus VR 结束第二轮融资，Andreessen Horowitz 领投，一共 7500 万美元。

2014 年 3 月，Facebook 宣布收购 Oculus VR。这一次，Mark Zuckerberg 同样没有花太长时间来考虑，仅仅一个月前，他才第一次尝试戴上第二代 Rift。不过，当 Luckey 听说了 Zuckerberg 的兴趣是，第一反应是表示怀疑。不过，在接下来几个星期的沟通与交流中，Zuckerberg 终于把 Oculus VR 赢了下来。产品副总裁 Nate Mitchell 说，“之前我们已经听说很多，Mark Zuckerberg 就好像激光一样，每天的思考都围着 Facebook 打转。因此，当我第一次遇见他的时候，我觉得他可能会这样，我们要如何在虚拟现实世界里获得 News Feed (信息流)更新?”相反，Zuckerberg 展现了自己的“远见”，他不把虚拟现实当作游戏的工具，而是一个完整的沟通平台。Oculus VR 同意他的观点，尽管他们正在尝试打造非常棒的游戏设备，然而他们也意识到，他们正在做的事情有着更大的潜力。Luckey 说，“这不仅仅有关分享照片，而是有关分享体验。”在这样的共识基础下， 仅仅 8 天，3 月中旬的时候，收购的事情就已敲定。

虽然 Oculus VR 对本次收购感到兴奋，尤其是 Iribe。但在收购消息发布当天，公司网站还是被愤怒的评论淹没了。一些 Kickstarter 的支持者威胁要取消之前的预定，甚至永远都不买 Rift，或者说将支持索尼的 Project Morpheus。有的游戏开发者甚至假定 Facebook 将降低 Oculus VR 的产品体验，在虚拟世界里显示 360° 的 FarmVille 广告。有人则担心 Facebook 收购完成后，就把 Oculus VR 抛在一边不管。而一些支持者，则仅仅是觉得 Oculus VR 被大公司收购之后，自己的投资变得无关紧要而感到愤怒。

不过，Facebook 的作用是保护 Oculus VR 的未来。Luckey 说，“每一个虚拟现实产品都失败了。没有人愿意借钱给 Oculus VR 制造类似的设备，‘我可以借给你 250 万美元!’因为他们唯一安全的赌注是：我们一定会输，破产，还卷走了数亿美元的资金。”而现在 Oculus VR 再也不担心钱的问题。而且以 Facebook 为靠山，也很容易吸引更多的顶级游戏工作室的人才。在公开收购消息的一周内，Abrash 就抛下自己在 Valve 所做的研究，加入 Oculus VR 成为首席科学家。他两名同事，Atman Binstock 三月稍早的时候已经加入公司，Aaron Nicholls 则进驻公司在西雅图的研发中心。Facebook 的钱还确保 Oculus VR 不必马上为收入发愁。这让公司能够全心全意投入到开发更好的产品中去——比如说，Oculus Rift 里的液晶屏，现在不必使用和 Galaxy S4 两倍大小的 AMOLED 屏，而是让制造商单独为虚拟显示设备研发。

现在 Oculus VR 在开发第二个摄像头，它不是用来追踪用户头部运动，而是拍下外面的画面，好让沉浸在虚拟世界的玩家们知道外界发生的事情。这样玩家就不必为了拿瓶苏打水取下设备。此外，这颗摄像头也能追踪玩家的动作，比 Kinect 更强大。Carmack 说，“在虚拟现实发展的早期，所有人都讨论眼镜和手套。而现在，没有人提起手套了——它的工作将由视觉追踪所完成。人们希望戴着一个小装置的自己表现得就好像是一个技艺娴熟的演奏家。”公司还希望给玩家增加触觉上的反馈，这样玩家能够毫无障碍地参与到虚拟世界当中。

未来，Oculus VR 的发展还得依赖更多开发者，以及更多相关第三方应用加入。但开发虚拟现实游戏，对于游戏开发者是很有难度的事情。当下画面逼真的游戏，其帧率达不到虚拟现实技术的要求。过去电脑游戏的设计，目标是尽量让低配置的电脑也能够顺畅的运行，现在程序员只需要考虑动作怎么做，而无需考虑视觉效果怎么设计。而除了主流游戏尚未做好准备外，游戏玩家也未必做好准备。过去的游戏都相当于模拟器，玩家控制着游戏里的角色，但并不是让自己运动起来。这种方式很受限制，更加深度的交互在设计上也更难，它们往往冒着打破“临场感”的风险——但这一点是 Oculus VR 所强调的。

在 Zuckerberg 的蓝图里，将来 Oculus Rift 将承担更多的角色，而不是一个游戏工具。Oculus VR 已经开发虚拟现实电影的原型，Carmack 感冒的时候就戴着 Rift 看钢铁侠。它能够改变消费媒体的方式。在远程会议，虚拟现实技术也有可发挥的地方，很容易想象，戴上 Rift 之后，就发现自己在会议桌之前。这个星期，Oculus VR 已经在测试可聊天的设备原型，他们让两名玩家戴上 Rift 之后，在同一个虚拟起居室里进行对话。这个技术的关键点在于，让人真实感觉到自己是在跟一个人聊天，因此眼球的运动，脸部表情，肢体语言，声音、手势等等都很关键。而要让这些部分都很好的运作，是巨大的挑战和任务。

不管如何，虚拟现实技术在沉寂多年之后，再一次复苏，而且看上去更加有可能接近主流市场。它的未来取决于，我们都做好了准备没有。但就好像有 Google 庇护的 YouTube 那样，Oculus VR 也能耐得住寂寞，也具备了改变行业的潜力和能量。
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">2</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/2593.html" target="_blank">Safelet智能手环：女性的私人保镖</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/2602.html" target="_blank">智能手表回归传统“圆形”</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="2595" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1402628780')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--14373579200689383434111817-->
<script> var _trace_page_logid = 1437357920; </script><!--14373580170192228874111817-->
<script> var _trace_page_logid = 1437358017; </script>