<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181723';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-独家体验：谷歌眼镜首个中文语音系统评测</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "2740";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>独家体验：谷歌眼镜首个中文语音系统评测</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">独家体验：谷歌眼镜首个中文语音系统评测</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">19</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:穿戴迷 http://www.xchuandai.com/wearable-devices-review-google-glass-chinese-system.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">谷歌眼镜首次问世，开启了智能可穿戴的市场大门，同时也给用户和开发者一个全新的平台</div>
<div class="d-artical-content" id="sourceContent">
2012年4月，谷歌眼镜首次问世，开启了智能穿戴的市场大门，同时也给用户和开发者一个全新的平台。当人们发现除了手机和平板电脑之外，生活中多了一种可以扩展的智能产品时候，所有的好奇心都会被调动起来，这也促使谷歌眼镜在短短的两年时间内快速发展，目前已经被很多行业的从业者使用到本职的工作中去。

<img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8dceb4f78a.jpg" data-bd-imgshare-binded="1" />

尽管到目前为止谷歌眼镜已经推出到第二代产品，但由于它的属性更多的还是偏向开发者，因此Google X对于谷歌眼镜全球化的推广做的真心差，以至于非英语国家的使用者即使买到了这款划时代的产品，依旧要在语言问题上适应很长一段时间。

在中国，这样的情况更加普遍。谷歌在政策上的强硬导致目前其在国内几乎属于架空状态，因此谷歌这辈子都不太可能对中国市场进行本地化适配。于是问题出现了，在没有Google Play的情况下，我们怎么下载谷歌眼镜的配套软件，怎么通过互联网激活眼镜呢?相信已经体验过谷歌眼镜的用户会和我有同感。

于是业内人事给出了两种解决办法：1.一个水货手机+VPN翻墙;2.找个开发者做套中文平台。

第一种方法简单，技术门槛低但成本高，几乎所有拿到谷歌眼镜的用户都是使用了这种解决方式。当然它也不是本文的重点，请无视。第二种方法技术门槛高，一般人不可能实现，但一劳永逸。而今天本文的主角Glass-X通过他们的Glass“中文语音引擎”、“左手”移动端以及“右手”电脑端来推动谷歌眼镜的本地化进程。

所谓的“左手、右手”实际上GlassX推出的移动端和电脑端的适配软件，“左手”专注移动端，以一种全新有别于谷歌官方的MyGlass，为用户带来更方便的使用感受。“右手”是电脑端的软件，不同于谷歌网页端的设置页，将管理、购买等功能集于一身有着iTuns的风范。

我们先从“左手”说起。

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8dd3177c8f.jpg" data-bd-imgshare-binded="1" /></center>微软提供的谷歌眼镜官方软件MyGlass

用过谷歌眼镜的人都知道，谷歌眼镜单独是没办法使用的，因为谷歌眼镜没有基带模块，需要借助手机的网络获取数据信息。因此谷歌提供了一个官方的连接软件——MyGlass。它能实现下载管理软件、截图、辅助操作谷歌眼镜等功能。

“左手”带来了全新的使用体验，在使用“左手”和谷歌眼镜相连后，是不需要通过官方的软件或者网页激活谷歌眼镜的，你只需要在手机内绑定指定的Gmail帐号，它会自动帮你激活谷歌眼镜。

之后的事情用过MyGlass的人都明白了，“左手”将MyGlass所有的功能拿过来单就功能和操作体验来说，和谷歌官方的软件没有任何的区别。好处是，你不需要找一台内置了GMS的Android手机(行货手机都没有GMS，工信部的规定)，也不用去挠头MyGlass如何下载了。

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8dd637c9db.jpg" data-bd-imgshare-binded="1" /></center>如上图所示，“左手”在概览功能中直观显示出Glass的工作时长以及电量，在官软中是没有这样贴心的功能。

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8dda157fd3.jpg" data-bd-imgshare-binded="1" /></center>简化了官软繁复的二维码链接WiFi方法。点击WiFi名就可以在手机端轻松输入密码，顺利链接附近的WiFi信号或是手机放出的热点。

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8ded7cb720.png" data-bd-imgshare-binded="1" /></center>而导航功能更是杀手级整合。Glass只能通过英文或是活动来输入目的地，从而发动导航功能。由于英文与国内地点不能吻合，所以发动的失败率很高。而“左手”可以在导航功能上直接打开地图，点击地图位置或搜索栏中文查找生成目的地，达到百分之百成功推送到Glass，让导航功能得以在国内轻松实现。

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8ded3cddeb.jpg" data-bd-imgshare-binded="1" /></center>最新版的“左手”已经实现了顶栏所有信息推送。也就是说，微信信息都可以直接推送到Glass。

接下来是“右手”。

在没有“右手”之前，谷歌眼镜能在电脑上完成的事情需要通过google.com/myglass来实现，网页端实现的功能相比手机端要多，向谷歌眼镜里安装软件需要通过网页来实现。还是之前的话题，由于连接的是谷歌网站，在国内会受到一些政策的限制，比如不久前闹出的Google.com被屏蔽问题。

“右手”的出现是为了解决这个问题。“右手”不是网页，而是我们更熟悉的iTunes形式，除了拥有中文界面之外，所有的操作也更人性化，符合一般Android用户的使用习惯。

目前最新版本的“右手”(0.1.3)在左侧有6个标签卡，依次是我的Glass、商店、应用、图片、音乐以及帮助。比起网页版，“右手”可以实现更多功能。

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8dfa1783e6.jpg" data-bd-imgshare-binded="1" /></center>· 我的Glass：查看谷歌眼镜的状态，包括版本号，序列号，电量以及存储空间。

· 商店：GlassX开发的第三方的软件商店，通过右手可以直接向谷歌眼镜里安装软件，不过目前处在测试期，可用的软件比较少。

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8df9e96c04.jpg" data-bd-imgshare-binded="1" /></center>· 应用：查看目前已经安装在谷歌眼镜中的应用，可以进行卸载处理。

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8dfd1b018c.jpg" data-bd-imgshare-binded="1" /></center>· 图片：官软必须通过同步到G+云端，对于视频和图片的操作到非常繁复，不能直接导出。而管理功能提供更好的解决方案，直观查看谷歌眼镜内的照片，支持导出操作。

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8e0069e7a8.jpg" data-bd-imgshare-binded="1" /></center>· 音乐：在谷歌眼镜首次连接“右手”的时候，“右手”会主动在谷歌眼镜中安装一个中文版的音乐播放器，通过这个页卡可以传输或删除音乐，这个我们下面详细说。

· 帮助：帮助中心，但是目前由于正式版没发布，因此这里点帮助没反应。

大概了解了“右手”的一些功能之后，先来说说刚才的音乐功能。原生的谷歌眼镜中是不具备音乐播放器的，官方提供了音乐播放软件Google Play Music，不过需要用户手动安装。不过，想播放音乐必须通过账号在线购买音乐才能播放。目前可以购买的音乐都是英文歌曲居多。而“右手”会在首次连接谷歌眼镜的时候主动安装音乐播放软件，之后你就能在谷歌眼镜的界面中看到Music这个功能。可以直接导入你电脑中所有的歌曲，进行本地播放。

通过“音乐”页卡可以快速向谷歌眼镜中增减音乐文件，很方便但有个BUG，目前“右手”只支持英文名称的音乐文件导入，如果导入的是中文的音乐文件，文件名会在导入之后变成乱码，同时谷歌眼镜是找不到这个文件的。所以记住，一定要用英文名字……(Update：在写本文的时候已经跟GlassX团队沟通，目前最新版的右手中，音乐中文名称的BUG已经得到解决)

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8e00b0a8a9.jpg" data-bd-imgshare-binded="1" /></center>播放音乐的过程不需要我多说了，二代的谷歌眼镜增加了一个耳机，你可以使用耳机听音乐，或者使用骨传导。

刚才如果细心的网友肯定注意到了，在“右手”的主界面上，有两个按钮是我上文没有提到的，一个是“一键中文语音”，另一个是“一键Root”。Root我无需赘述，用过Android手机的人都明白，由于谷歌眼镜是基于Android系统打造的，当然也会存在Root权限之说。

我想说的是一键中文语音。

通过“右手”一键中文语音之后的Glass是最大的本地化变革。谷歌眼镜没有键盘，没有输入框，所有的操作都需要通过语音指令。你是不是见过一个戴着谷歌眼镜的人，经常性的自言自语“OK Glass，take a picture”呢?当然，这些人肯定是正常人，实际上他们在向谷歌眼镜传达拍照的指令。

但是请问你有没有想过，如果你英文不怎么好，甚至连四级都没过，恰好你又是谷歌眼镜的使用者，你该如何操作谷歌眼镜呢?想要导航但是不知道get directions怎么念的心情，不是每个人都能理解的。

中文语音在这个时候就凸显出它的价值，起码你不用纠结一堆英文字母组成的一个词怎么念。GlassX团队已经在Glass中加入了系统级别的中文语音引擎。

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8e00d1d984.png" data-bd-imgshare-binded="1" /></center><center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8e01062f18.jpg" data-bd-imgshare-binded="1" /></center>不过由于是测试版，目前中文语音引擎只提供了一些基础的功能，激活Ok Glass(别告诉我你不会念这俩单词……)之后，会弹出一个中文版的语音指令菜单，之后你可以直接跟谷歌眼镜说“拍照”或者是“放音乐”等基础指令。

目前中文语音引擎支持“拍照”、“音乐”、“导航”、“发短信”、“打电话”、“录像”以及“谷歌搜索”七大功能。你只需要相对应的说出屏幕上的中文语音指令即可。

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8e0125e526.jpg" data-bd-imgshare-binded="1" /></center>比如你要去天安门，你只要跟你的谷歌眼镜说“OK Glass”进入中文语音菜单，然后说“带我去”，谷歌眼镜就能开启导航模式，之后说出“天安门”就行了。

而在整个的测试过程中，中文语音识别的效率和准确率都非常高，当你说出正确的指令的时候，谷歌眼镜可以精准识别同时瞬间打开相应的功能，单就这一点来说，中文语音系统和原生的英文系统在体验上几乎没有差别。

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8e0144c43a.jpg" data-bd-imgshare-binded="1" /></center>通过中文语音引擎，直接发送带照片微博

由于目前还在开发中的中文语音引擎并不完善，我在使用中遇到的问题主要有两个：

首先你基本不能说指令之外的命令，比如中文语音给出的拍照指令是“拍照”，你在使用语音的时候就必须说“拍照”，而当你说“照相”的时候，中文系统会无法识别，很明显这需要改进。

第二个问题是目前中文语音仅限于基础功能，目前中文语音提供的指令仅限于基础功能，如果你下载了其他的软件，比如纽约时报，你是不能通过中文语音让谷歌眼镜开启它的。(不过，最新版本已经能实现中文化界面，比如 setting 能直接汉化成设置。)

不过在GlassX的网站上，官方早在一月份就发出了征集中文语音指令的收集贴，很显然官方希望谷歌的中文指令能涉及更多的领域。

<center><img alt="" src="http://www.xchuandai.com/Uploads/article/201406/53a8e015481b5.jpg" data-bd-imgshare-binded="1" /></center>作为一个创业型的团队，一群极客组成的GlassX在2014 I/O之前带来了“左手、右手”，不得不说对于中国的谷歌眼镜用户来说是个福音。尽管目前还只是测试版，但“左手、右手”的基础功能已经相当的完善，即便是没有GMS，登陆不了谷歌网站，谷歌眼镜依旧可以正常的工作。而中文语音的到来，解决了很多人英文烂的烦恼。能让谷歌眼镜听得懂中文，是贡献。

当然“左手、右手”目前还不完善，GlassX需要做的事情还很多，如何解决软件本身的BUG，如何让语音指令更加的智能，是摆在他们面前的问题。不过我们有理由相信，当“左手、右手”正式版发布的那一天，GlassX一定会带给所有中国的谷歌眼镜使用者一大波福利，我很期待。
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">19</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/2738.html" target="_blank">时尚就是力量，谷歌眼镜推时尚镜架</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/2743.html" target="_blank">可穿戴科技与医疗成本</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="2740" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1403592748')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--14008639220507075594111817-->
<script> var _trace_page_logid = 1400863922; </script><!--14008660880958946314111817-->
<script> var _trace_page_logid = 1400866088; </script>