<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181723';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-可穿戴科技与医疗成本</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "2743";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>可穿戴科技与医疗成本</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">可穿戴科技与医疗成本</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">8</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:安珀 http://ianpo.com/article-5149.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">可穿戴式设备如今还不是主流：仅有10分之一的美国成人说自己拥有一个健康追踪器。据Pew研究中心数据显示，在未来的十年内，可穿戴式设备将变得更加广泛，并且还会伴随着监视呼吸及心率步骤的可穿戴式传感器以及感知慢性疾病和压力发作应用程序的激增。与此同时，越来越多的雇主都选择监控一些由健身追踪器所生成的数据----在某种程度上，他们可以在控制面板上直观的看到它---并拿着自己参保人员帐户参加奖励作为越来越多的所谓的企业健康计划的一部分。</div>
<div class="d-artical-content" id="sourceContent">
<p style="text-align: center;"><img class="aligncenter" alt="" src="http://ianpo.com/uploads/userfiles/images2/20140624/blake-with-jawbone-3-e1402984222825.jpg" width="677" height="380" /></p>
欧特克（Autodesk）公司员工Blake Menezes穿戴着他的Jawbone Up作为健康挑战的一部分。虽然Menezes将活动数据为自己保留，但是其他雇主都正在探索用于监视员工的可穿戴式设备的方法，以便控制日益增长的医疗保健成本。（图片由欧特克公司提供）

现今美国的平均健康医疗保险支付每年一次波动。想象一下，如果利率每天变化一次，在一定程度上又取决于戴在手腕上富有感应装置的小玩意，听起来遥不可及么？

医疗保健领域的技术开发人员和专家这样告诉Forbes，随着如Fitbit、Jawbone Up等下一代可穿戴式设备在决定个人和集体健康医疗保险成本上起的作用越来越大，那很有可能就是我们惊人的未来，这都得归功于它们所产生的关于我们身体的实时的、详细数据的增长。

可穿戴式设备如今还不是主流：仅有10分之一的美国成人说自己拥有一个健康追踪器。据Pew研究中心数据显示，在未来的十年内，可穿戴式设备将变得更加广泛，并且还会伴随着监视呼吸及心率步骤的可穿戴式传感器以及感知慢性疾病和压力发作应用程序的激增。与此同时，越来越多的雇主都选择监控一些由健身追踪器所生成的数据----在某种程度上，他们可以在控制面板上直观的看到它---并拿着自己参保人员帐户参加奖励作为越来越多的所谓的企业健康计划的一部分。

有的甚至探寻对可穿戴式设备所记录的不健康的行为进行处罚的方法。随着不断增加的医疗保险费用，那也难怪销售给雇主Fitbit的销售额成为目前业务增长最快的部分之一。

市郊区范围的健康监测自然地会把可穿戴式设备私下放在一个灰色地带。它会给医生权限更深入访问你的数据，以提供健康付款人——像

United Health 、Kaiser Foundation集团、Humana 集团、Aetna保险公司等大牌以及一些自我保险的雇主-------访问数据的权限以帮助他们为被保险人的劳动力创建更加详细的风险配置文件，并遏制不断上升的成本。

orbes健康专栏资深作家Matthew Herper说道，在未来十年，由于医疗保险被颠覆，医院采取大规模的覆盖作用，可以借此机会转向个人交易市场，将其作为整个商业模式。

健康空间的科技企业家说，保险公司目前正在盘算如何能最好地访问由今天的健身追踪器所生成的数据。

市面流行的跑步应用程序Runtastic的创始人兼首席执行官Florian Gschwandtner说道，“他们没有解决方案。”

去年Gschwandtner曾与美国和奥地利的保险公司多次进行会议，他才意识到他们不是在寻找合作伙伴 —— 他们是想获取由应用程序生成的健身数据的建议。Gschwandtner说，“他们正在努力学习，”并补充道，自己最近将停止参加这类会议。 “我们不是顾问。”

为PricewaterhouseCoopers（全球四大会计事务所之一）跟踪医疗的Kelly Barnes（是保险公司的一个顾问）认为，可穿戴式设备的定期反馈对医疗保险公司是十分有价值的。她说道，“我非常有信心，在不久的将来，我们都将处于保险市场内。”

对一些美国人来说，追踪“小配件”在汽车保险方面已经发挥了作用。例如，提供给司机一个小型设备，他们可以将其插入自己的仪表板使公司能够监测他们的驾驶超过30天。这样一来安全驾驶也有资格获得折扣。

Barnes认为，保险公司能够做到与医疗保健行业同样的事，特别是在当今2.6万亿医疗保健账单的很大一部分都是由行为驱动的情形下;尤其是导致肥胖和糖尿病的不良饮食习惯。

PwC的健康产业顾问Vaughn Kauffman说道，保险公司已经在使用像BMI（身体质量指数）等数据点来设定汇率。“如果你考虑用可穿戴设备来作为BMI价值改进的方式（谁知道呢，也许会有那么一天，但一定是基于实时），你越健康，保险费用就越低。

Barnes补充道，“我能够预料到医疗保健会这样进行，如果你能穿戴这个可穿戴式设备，我便能够看到健身活动恒定水平的运动以及恒定的参数，我将降低你的保险费。。。我可以设定与年汇率相对的日汇率。”

个人保费一般逐年上涨，因此老年人会认为系统更加昂贵。保险公司基于包括性别和年龄的总体概况配置文件来做出这些决定。但可穿戴设备也可以帮助创造更多有深刻见解的配置文件，就像传感器接收像心脏速率和压力水平这些细节一样。

正如我们先前所报道的，微软正在开发一款智能手表，它能够几天和几周内连续测量心率。对于可穿戴式设备的温度、甚至血糖监控也正在进行中。 据一个参与秘密可穿戴式设备项目的人说，“Holy Grail”因为其能够通向所吃的东西的见解，进行血糖监测。鉴于饮食比活动对健康产生的影响更大，这将是保险公司的关键数据点。

有几个创业公司在Kickstarter尝试过但都未能成功制造出不伤害皮肤就能检测血糖的可穿戴式产品。但苹果公司很可能会打破这个挑战。

据报道，去年，它聘请了从现已解散的糖尿病公司C8 MediSensors的

数据科学家，其中，该公司有非侵入式的光学血糖检测的监管批准。

这点引发了苹果公司想要把血糖监测运用在其即将推出的iWatch上的怀疑。苹果公司还于去年十二月曾与FDA官员谈论过有关血糖仪的设备可能会进行调控管制。
<h2>健康数据的桥梁</h2>
一旦拥有传感器，雇主似乎成为了我们所穿戴的高科技和我们的保险之间最明显的一个渠道了。大型健康保险公司Cigna去年已经启动了试点项目，在其中一个公司客户那向数千名员工分发了由BodyMedia制造的袖章。据Cigna发言人Joe Mondy所说，初步结果显示了大量处在糖尿病边缘的员工都提高了他们的风险概述文件，“毫不夸张地说，我们可以弯曲成本曲线。”

那些直接支付索赔的自我保险的雇主们已经率先开始体验可穿戴式设备了。一个例子就是欧特克软件设计公司，在过去的两年里大批购买了Fitbit追踪器并以折扣价向员工出售。的员工的活动数据，但其全球福利主管Lori Wong认为在设备分配和像高血压等慢性疾病病情下滑之间存在必然关联。她说道，“ Autodesk的老板并没有逼我们去创造直接的投资回报（ROI）,但是当我们看到医疗保健增加额的全国平均水平，就会发现我们低于这些增加额。”

自我承保的石油巨头BP公司采取了更进了一步的监测。去年，约14,000员工选择佩戴一款免费Fitbit Zip，作为交换允许该公司在整个2013年追踪他们的步伐。如果他们走了一万步，他们将获得积分相应的能够减低他们的保险费。

另一个“大型自我承保公司”正在使用由其员工所提供的一款名为Wildflower的App所提供的数据。Wildflowe是专为孕妇所开发的记录体重增长数据以及其他妊娠反应时间表的一款应用程序。目标是：锁定医疗索赔成本。应用程序的其中一个董事会成员近期指出，分娩支出几乎是每一个雇主成本最高的区域。
<h2>数据改变行为</h2>
Obamacare（奥巴马医保）中新的规则让雇主为健康行为提供更大的激励措施。对于那些不顾一切削减医疗保健成本的雇主，仍然还有回旋的余地来定义“激励措施”作为诱饵。当BP公司使用健康积分来作为诱饵时，其他公司正在探索如何从可穿戴式设备中获取实时数据开发出更具惩罚性的措施。

StickK是波士顿一家为公司福利项目销售白色标签软件的新兴公司。其创始人一直想说服美国大公司将可穿戴设备福利和惩罚措施同时放置在其健康计划中。这些惩罚措施包括如果员工没有达到工作目标则取消其福利积分。这是一个极具争议的方法，但是StickK认为它远比仅仅只是提供奖励更有效（许多自我承保的雇主已经开始对那些吸烟的员工增收50美金的附加保险）

StickK 的创始人Jordan Goldberg 说道，“很多公司都不愿意做那些可能受到该组织内文化反弹的事，” Goldberg拥有14个使用自己健康软件的企业客户，以及三个世界500强企业。他目前正在与其中一家客户谈论关于在惩罚性项目中集成如Fitbit之类的可穿戴设备。
<h2>融入医疗保健系统</h2>
当像Fitbit，StickK和Wildflowe等服务出售给雇主的同时，其他健康跟踪服务正在在医疗系统本身寻找有利可图的合作伙伴关系。

一个免费的应用程序Nudge，它可以统计可穿戴式设备中的健身数据，并反馈给用户一个1-110之间的一个健康评分，保险公司可以利用其数据进行风险映射或设置保险费。它的创始人说，他们已同在医疗保险领域的一部分群体讨论过这个问题，但是他们希望Nudge的第一个合作伙伴将会是医生。

联合创始人Phil Beene说道，“现在我们要远离[保险]以保持用户对我们的信任，并保持数据的私有性。”

大型科技公司也希望成为健康数据和医疗保健之间的可靠的桥梁：苹果、三星以及谷歌。三家公司都在努力创建能够从可穿戴式传感器中汇总、存储和共享收集健康数据的数据平台。苹果的HealthKit能够允许健康应用程序在自己的框架内与另一个应用程序对话，而三星也有一个名叫“Sami”的生物识别银行。上周，我们是第一家向大家报告谷歌也在摩拳擦掌宣布名为 Google Fit健康跟踪平台的杂志社。所有这些服务都未曾发布给公众——或是医疗保健行业。

Nudge的Beene说道，这一切都将带来一场真正的竞赛：谁将能在医疗保健行业内为不同的利益相关者创建出最佳接口。
<h2>利用好最受欢迎的可穿戴式设备</h2>
一些人认为，只有当雇主们弄清楚如何进军消费者真正想购买的可穿戴式设备时---不仅仅是BP 公司和Autodesk公司大量购买的Fitbits，才会普及。据MobiHealthNews所述，这就是大多数健康奖励项目失败的原因。

健康平台Jiff（汇集自我承保公司的员工健康数据）的CEO Derek Newell说道，“这就仿佛当年手机刚出来的时候。” 十年前，人们开始携带自己的智能手机去工作，从而激起了BYOD（自带设备）现象。而现在人们开始携带自己的健身追踪器。

Newell 说道，“我们的人口健康管理并不适合所有人都通用一个程序，而需要连接到数百个应用程序的设备，”他声称，随着时间的推移，Jiff平台将能够向雇主展示员工所使用的哪些应用程序和可穿戴设备能以最低的医疗成本做最有效的工作，并且他将跟踪所有准备陈列商店货架的可穿戴设备。 “这将成为可穿戴式设备的惊人演变。在未来的18个月内，你会看到珠宝中的活动监视器（看上去就像一个戒指）。目前已经有人正在从事这个了。他还说到“能够被动的监测我们所吃的食物的设备也已经正在研制过程中。”

Jiff是另一个向雇主和健康数据之间索赔的“桥梁”，但它具有能够同步一系列流行追踪器的好处。眼下Jiff与一些其他的第三方平台竞争：WellTok和StayWell，其客户包括芯片巨头 Qualcomm，Red Bull 以及游戏开发商Activision公司。该公司通过销售其软件而赚钱，通过每一次成功帮助雇员减少其保险费而获取额外的费用。
<h2>启示</h2>
随着全球18亿部手机和其他激增的电子设备与网络的连接越来越密切，人们无意识地产生了比以往任何时候都要多的自身数据。这些数据该如何使用仍是一个悬而未决的问题。

像Fitbit 等可穿戴式设备以及像Wildflower等应用程序给消费者提供了量化自我运动的承诺：他们将帮助我们更多地了解自己。但为了保持其兑现能力，许多这样的服务都在探索合并雇主和保险公司的商业模式，对他们来说，我们量化的健康数据可能会影响他们的底线。

更大的监测结果可能会导致一些意想不到的后果。有人说，它可以创建一个两级系统，其中那些能够负担得起最好健康跟踪设备的可以最终得到获得较低的保险费。由于可穿戴式设备能够为雇主传输更多的健康数据，故存在数据泄露、营销人员利用数据进行糖尿病药物推销，或作为保险公司否认新闻报道所寻求的额外素材的风险。

还有一个最基本的问题：人们是否会对广泛监控自身的健康数据而感到不舒适。

世界隐私论坛（World Privacy Forum）的执行董事Pam Dixon，正在探索促进健康监测设备标准的方法，他说道“随着我们走向未来，我们不能建立一个让人们感受到有压力的可穿戴式设备来监测他们的健康系统，这将是非常重要的。这是一个真正的问题。只是不是很自由。”
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">8</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/2740.html" target="_blank">独家体验：谷歌眼镜首个中文语音系统评测</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/2745.html" target="_blank">优雅、高端 Withings发布Activite智能手表</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="2743" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1403677178')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--14003478260689383434111817-->
<script> var _trace_page_logid = 1400347826; </script><!--14003101160890446858111817-->
<script> var _trace_page_logid = 1400310116; </script>