<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181722';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-[ 智能家居 ] BloomSky ：世界首个智能天气相机</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "2812";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>[ 智能家居 ] BloomSky ：世界首个智能天气相机</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">[ 智能家居 ] BloomSky ：世界首个智能天气相机</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:http://www.weiot.net/portal.php?mod=view&amp;aid=385690</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">5合1气象站+高清摄像头，在你的位置捕捉实时天气数据+天空图像。</div>
<div class="d-artical-content" id="sourceContent">
<p>&nbsp;</p>
<p>&nbsp; &nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp;&nbsp;我们终于有一个工具包能够支持所有的安装需求&mdash;&mdash;在墙上，屋顶上甚至栏杆上。</p>
<p><img src="http://bs.baidu.com/dulife/53bcc134261bf.gif" alt="" /></p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp;&nbsp;规格和教学视频，请向下滚动。</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp;&nbsp;我们目前有5个原型在旧金山湾区，加利福尼亚州。我们很高兴向您展示一些画面采取BloomSky高清摄像头。我们相信您一定会喜欢你的BloomSky在您所在位置拍摄出的其惊人的画面和延时视频。</p>
<p>&nbsp;</p>
<p>&nbsp;<img src="http://bs.baidu.com/dulife/53bcc13c51e00.jpg" alt="" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>技术规格</p>
<p>&nbsp;</p>
<p><strong>BloomSky</strong><strong>无线室外模块</strong></p>
<p>支持WiFi连接到BloomSky云</p>
<p>防水，防尘，防紫外线</p>
<p>5合1传感器测量温度，湿度，大气压力，&nbsp;UV照射和沉淀具有优良的精度</p>
<p>超广角高清摄像头内置45度可调节拍摄角度</p>
<p>智能测光传感器测量日光的亮度，并确保正确的曝光。智能相机在黎明开启能黄昏关闭</p>
<p>可充电的锂离子电池</p>
<p>收费方案1：通过A / C输入：&nbsp;100 - 220V&nbsp;（全球通用）&nbsp;，作业时间达每次充电20天</p>
<p>收费方案2&nbsp;：通过太阳能电池板</p>
<p>低电量报警发送推移动应用程序的通知</p>
<p>无线，没有电线运行；易直立于股权装置插入庭院和花园</p>
<p>一年有限保修</p>
<p>&nbsp;工作温度范围：&nbsp;-13&nbsp;&deg;F&nbsp;（&nbsp;-25&nbsp;&deg;&nbsp;C）至149&deg;F&nbsp;（&nbsp;65&nbsp;&deg;C&nbsp;）&nbsp;（&nbsp;&plusmn;&nbsp;0.72&nbsp;&deg;F&nbsp;（&nbsp;0.4&nbsp;&deg;C&nbsp;）精度）</p>
<p>温度分辨率：&nbsp;1&nbsp;&deg;F</p>
<p>湿度分辨率：&nbsp;1&nbsp;％</p>
<p>湿度范围：&nbsp;1&nbsp;％&nbsp;～99&nbsp;％RH&nbsp;（&nbsp;&plusmn; 5&nbsp;％精度）</p>
<p>紫外线照射范围：&nbsp;280nm的&nbsp;- 400nm的（&nbsp;UV-A&nbsp;，&nbsp;UV-B&nbsp;）</p>
<p>气压分辨率：&nbsp;1hPa</p>
<p>雨量传感器最小检测阈值：&nbsp;1mm/1hr</p>
<p>&nbsp;</p>
<p><strong>BloomSky</strong><strong>室内模块（不单独出售）</strong></p>
<p>支持WiFi连接到BloomSky云</p>
<p>内置的温度和湿度传感器；具有优良的精度</p>
<p>温度显示：室外和室内；F&deg;&nbsp;/℃温度单位可切换。</p>
<p>温度范围：&nbsp;&middot;&nbsp;-13&nbsp;&deg;F&nbsp;（&nbsp;-25&nbsp;&deg;&nbsp;C）至149&deg;F&nbsp;（&nbsp;65&nbsp;&deg;C&nbsp;）&nbsp;（&nbsp;&plusmn;&nbsp;0.72&nbsp;&deg;F&nbsp;（&nbsp;0.4&nbsp;&deg;C&nbsp;）精度）</p>
<p>湿度范围：&nbsp;10&nbsp;％至99&nbsp;％</p>
<p>&nbsp;</p>
<p><strong>太阳能电池板（不单独出售）</strong></p>
<p>&nbsp;环保型；可日光充电</p>
<p>专为BloomSky户外模组设计</p>
<p>产品尺寸：&nbsp;7.8&rdquo;&times;11&rdquo;&nbsp;X0.8&rdquo;</p>
<p>&nbsp;</p>
<p><strong>安装套件（&nbsp;+ $ 9</strong><strong>作为附加项目）</strong></p>
<p>材质0.05英寸（&nbsp;1.2mm）的厚度不锈钢</p>
<p>高机械承重能力设计为BloomSky与太阳能电池板附着户外模组</p>
<p>包括互锁螺栓和垫圈</p>
<p>容易对准安装导轨;</p>
<p>宽范围内可调：&nbsp;2 4.3英寸（5 - 11厘米）</p>
<p>有限保修1年</p>
<p>&nbsp;</p>
<p><strong>APP</strong></p>
<p>远程访问通过从iOS和Android BloomSky室外和室内模块收集的数据</p>
<p>显示温度，湿度的室内和室外，气压和紫外线照射的户外与天空的快照</p>
<p>采取BloomSky摄像头，它可以自动更新每隔3-5分钟显示快照</p>
<p>日落之后自动创建的时间推移视频</p>
<p>根据用户的喜好推送通知的降水，气温的突然变化</p>
<p>容易订阅其他BloomSky站</p>
<p>数据一并保存在云中，包括每天和历史数据的图片</p>
<p>语言：英语</p>
<p>系统要求：的iOS 7.0及以上的Android 4.2及以上&nbsp;</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/2811.html" target="_blank">三星与Trek合作 带来更加骑行体验</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/2813.html" target="_blank">[ 智能手表 ] 五大IFTTT配方，让Android Wear不可抗拒</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="2812" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1404879230')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--13780275860689383434111817-->
<script> var _trace_page_logid = 1378027586; </script><!--13780343230878453770111817-->
<script> var _trace_page_logid = 1378034323; </script>