<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181722';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-[ 智能玩具 ] Lightir——戒烟神器</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "2819";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>[ 智能玩具 ] Lightir——戒烟神器</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">[ 智能玩具 ] Lightir——戒烟神器</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">1</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">2</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:http://www.weiot.net/portal.php?mod=view&amp;aid=386037</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">智能打火机——帮助你戒烟。</div>
<div class="d-artical-content" id="sourceContent">
<p><img src="http://bs.baidu.com/dulife/53bcbd5581275.jpg" alt="" /></p>
<p>&nbsp; &nbsp;&nbsp;智能打火机&mdash;&mdash;帮助你戒烟。</p>
<p>&nbsp;</p>
<p><strong>关于我们</strong></p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp; &nbsp; 我们的团队成员来自中国西安和爱尔兰，我们都持有相同的信念：用智慧和勤劳改变生活。不像许多其他在中国的技术人员和企业，我们对山寨零容忍。如果我们发现任何东西是70&nbsp;％接近我们的产品，我们将停止进一步的发展。我们的设计和工程团队，基于在中国资金和渠道不足，发展甚至只是一个原型&mdash;&mdash;所以说Lightir来得不易。在我们的实验室里，我们已经度过了无数个日日夜夜，有时太晚了就干脆睡在实验室。我相信会我们会以及进一步的发展来克服很多以后可能面临的的困难&mdash;&mdash;使Lightir能够做到更好。</p>
<p>&nbsp;<img src="http://img.weiot.net/portal/201407/07/121252k009aafi6tc0t006.jpg" alt="" /></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>什么是</strong><strong>Lightir</strong></p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp; &nbsp;&nbsp;大部分目前可用市场上的打火机只有基本功能没有任何高科技的功能。但是可以记录你吸烟的时间，金额和地点等Lightir配备了内置蓝牙4.0芯片，并可以与蜂窝电话设备配合使用。它可以记录数据，实现通过点火信号监测lightir设备的目的。该器件还具有一个可以在手机上使用的我们的应用程序&mdash;&mdash;可以实现烟雾控制功能。</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp;&nbsp;Lightir通过使用安装在打火机的头上电热丝点燃香烟。&nbsp;Lightir内部装有可再充电电池，其中也提供电源的电线和控制电路。</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp;&nbsp;Lightir采用推挽式设计，以确保其更轻的同时也能更容易正确使用，并防止潜在的伤害。在设备的背面我们还设计了具有光传感器。只有当设备使用的是正确的时候，特别是光学传感器被覆盖的时候，点火装置才能够工作，否则打火机将无法正常工作。<br /><strong><br /><br /></strong></p>
<p><img src="http://img.weiot.net/portal/201407/07/121254slqrz74kxk0rrvbu.jpg" alt="" /></p>
<p><strong><br /></strong><strong>对于设备应用程序录制功能</strong></p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp; &nbsp;&nbsp;Lightir用户可以通过我们的移动应用程序来取得每天Lightir的用法或数量等的数据。有了这个信息系统，可以估计吸入尼古丁的数据，吸烟习惯的特点和其它数据，供用户参考。您也可以使用手机摄像头扫描卷烟条形码以获得更多的更准确的数据。</p>
<p><strong>&nbsp;<img src="http://img.weiot.net/portal/201407/07/121253sb432wm9ridbrx7x.jpg" alt="" /></strong></p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>烟草控制功能</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>基于数字控制</strong></p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp; &nbsp;&nbsp;通过该应用程序的使用，用户可以通过限制可用灯的数量的方法，比如每天只有5个指示灯&mdash;&mdash;以此来控制每天吸烟的数量。一旦用户达到<a href="http://www.weiot.net/forum-366-1.html">极</a>限Lightir会为设定分配的时间段的其余部分（即多出的部分）不再起作用。如果用户是勤奋的，这个打火机将很好的实现它的功能。</p>
<p>&nbsp;</p>
<p>&nbsp; &nbsp;&nbsp;我们的移动应用，目前仍在测试和质量评估阶段。即使试验已经得到了有效的成果，但如我们的视频所示，它可能需要花费一定的时间让我们来完成应用程序的设计和细节的改进。</p>
<p>&nbsp;</p>
<p><strong>基于时间控制</strong></p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp; &nbsp;&nbsp;用户可以指定他们被允许的时间，来限制自己只能在那些时间段抽烟。例如：每天9至10时之间允许其工作，那么打火机只有在哪个时间段才会起作用。一旦时间超过了设定的范围，Lightir便不再起作用。<br /><br /><strong>基于位置的控制</strong></p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp; &nbsp;&nbsp;用户还可以指定自己能够抽烟的地方。例如：只能在公园里。一旦用户进入目标区域之外的地方，用户将无法使用他们的打火机。该位置设置也适用的其他方式&mdash;&mdash;比如用户可以指定禁止的目的地。例如：在家庭和办公室吸烟是被禁止的。那么一旦你进入室内，Lightir也将不再起作用。</p>
<p>&nbsp;</p>
<p><strong>社交媒体共享功能</strong></p>
<p><strong>&nbsp;</strong></p>
<p>&nbsp; &nbsp;&nbsp;用户可以在社交网络分享自己的戒烟经验以及他们用来退出设置。该设置可以通过的话，那么经批准其他用户也将下载。例如，一个成功的卷烟半途而废具有一个设置，降低香烟由每星期1每天吸烟的数量。下载其他用户的设置后，不成功的半途而废的打火机也将采用相同的设置，并达到以此来督促自己的效果。</p>
<p>&nbsp;</p>
<p>&nbsp;<img src="http://img.weiot.net/portal/201407/07/121254z51za3zj5ppuju3n.jpg" alt="" /></p>
<p>&nbsp;</p>
<p><img src="http://img.weiot.net/portal/201407/07/121255hjermtrul6r2ojss.jpg" alt="" /></p>
<p>&nbsp;</p>
<p><strong>常见问题</strong></p>
<p><br />1.&nbsp;如何长时间我可以使用一个充满电？<br /><br />Lightir采用300毫安大容量锂聚合物电池，可以点燃一支香烟60-80倍（使用每盏6秒计算） 。<br /><br />2.&nbsp;我有时给其他人的香烟点火，所以对我抽烟如何准确地进行统计数据？<br /><br />该装置有一个数据校正的APP&nbsp;，当为其他人打火的时候，使用者可以通过手动的+和更正数据&nbsp;-&nbsp;键。<br /><br />3.&nbsp;我常常丢三落四，Lightir具有防丢的功能设计吗？<br /><br />有的，&nbsp;Lightir双向防丢手机。设置防丢距离，超越了距离会有光，声音等提示。<br /><br />4.&nbsp;我更习惯使用火焰气体打火机，威尔Lightir有没有气体打火机风格的设计？<br /><br />我们将推出多种智能化的​​打火机，包括液体，气体，翻转和金属打火机。<br /><br />5. Lightir的功能哪些手机支持？<br /><br />目前支持iOS6.0及以上的iPhone4S&nbsp;，&nbsp;iPhone5的，&nbsp;iPhone5C&nbsp;，&nbsp;iPhone5S&nbsp;。<br /><br />最初的产品发布后，支持其他品牌手机的功能将得到发展。</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">2</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/2818.html" target="_blank">[ 智能眼镜 ] 三星在九月即将推出Galaxy Glass</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/2820.html" target="_blank">[ 智能手表 ] 美轮美奂：搭载iOS 8的iWatch智能手表概念设计</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">1</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="2819" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1404979600')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--13737441330689383434111817-->
<script> var _trace_page_logid = 1373744133; </script><!--13737354930856892426111817-->
<script> var _trace_page_logid = 1373735493; </script>