<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181721';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-可穿戴设备市场，除了畅想还有什么？</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "2935";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>可穿戴设备市场，除了畅想还有什么？</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">可穿戴设备市场，除了畅想还有什么？</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:穿戴迷 http://www.xchuandai.com/wearable-devices-news-market-china-system.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">加拿大多伦多大学，电气工程室的办公室门口贴着这样一张照片：12位朝气蓬勃的年轻人笑容灿烂，引人注目的是人手一个的复杂装置</div>
<div class="d-artical-content" id="sourceContent">
<p>加拿大多伦多大学，电气工程室的办公室门口贴着这样一张照片：12位朝气蓬勃的年轻人笑容灿烂，引人注目的是人手一个的复杂装置，以及头上武装了微型计算机的智能眼镜。在不远处的教学楼中，一位教授正在讲授科技史，他举起同样一张照片，为他的学生们讲着这个已然成为世界可穿戴设备发展史里程碑的历史事件。</p>
<p><img src="http://bs.baidu.com/dulife/53e2e2a98c876.jpg" alt="" /></p>
<p>这张很具有科学狂人范儿的照片拍摄于1998年，照片中的STEVE MANN曾经是第一位在多伦多大学佩戴智能眼镜和开设智能眼镜选修课的教授。而早在1994年，他就已经开始了可穿戴装置的研究，那时他选了一个关于智能眼镜的选修课。在麻省理工的一间媒体实验室，几名志趣相投的科技爱好者凑在了一起，只是当时没有人能没有想到，20年后，可穿戴装置会成为科技领域红得发紫的颠覆性产品，而这实验室的其中一位同学Thad Starner，还成为了掀起全球热潮的谷歌眼镜的背后重要技术核心人物。</p>
<p>时针拨转到2014年，在美国拉斯维加斯，一场盛大的国际消费电子展(CES)正在如火如荼地举行着。每年的CES往往都会成为当年世界消费电子产品和技术的风向标。在这一年会场上，一众智能手表、智能腕带、智能眼镜、智能头盔等可穿戴设备成为了外界瞩目的关注点，主办方甚至专门为这些热热闹闹的装置们开辟了一个叫做&ldquo;手腕变革区&rdquo;的展区，用来做集中展示。</p>
<p>疯狂的不仅仅是美国，这样一场可穿戴装置的热火同样烧到了国内，从谷歌眼镜发布之日起，百度、360、华为等企业纷纷心急火燎地布局起可穿戴智能终端，生怕错过这一趟高速列车。</p>
<p>在艾媒咨询发布的《2013中国可穿戴设备市场研究报告》中显示，2012年中国可穿戴设备市场规模达到6.1亿元，预计到2015年中国可穿戴设备市场规模将超过100亿元，达到114.9亿元。&ldquo;互联网女皇&rdquo;玛丽&middot;米克2013年互联网趋势报告中称，智能可穿戴设备正作为一类重大科技变革而兴起，将像上世纪80年代的PC和目前的移动计算及平板电脑一样推动创新。创新工场李开复也说，随着移动互联网与生活联系更紧密，未来可穿戴互联网时代大有可为。</p>
<p>这样的预测令从业者兴奋尖叫，国内形势似乎也大好。现在，在硬件方面，国内已经有很多厂商在关注芯片市场，而电源设备、蓝牙组件、WI-FI组件等零件设备也已具备生产条件。</p>
<p>然而，值得注意的是，虽然可穿戴装置的硬件已经相对完善，但从全球来看，可穿戴计算机面临的最大问题，在操作系统上。也就是说，目前并没有针对可穿戴装置的系统，大多是把移动手机系统嫁接过来。而对国内市场而言，系统、重要芯片均依赖国外。</p>
<p>其实，国内的可穿戴计算机出现得并不算晚，在那张1998年拍摄的照片中就有一位中国人，他在1999年回到国内，至今十几年间一直从事可穿戴设备的研究工作，甚至早在上世纪末，还研究开发过可穿戴装置的软件系统。</p>
<p>陈东义的故事</p>
<p>1999年的某一天，海归陈东义在重庆大学的校长办公室做了一个简短的汇报，当时重庆大学的校长非常重视，立即叫来了科研处长、外事处长、人事处长，商量如何进行支持，后来人事处借了陈东义一万块钱，陈东义便拿这一万块钱买了一台计算机、一个扫描仪、一个打印机以及一些小配件，随后，又捡了一些别人不要了的桌子，算是把实验室建了起来。因为此，他曾经在自己的学生中有这样一个名声：捡破烂的。</p>
<p>由于资金问题，捡破烂的陈老师在初期接了许多的项目，他需要赚钱去贴补捉襟见肘的经费。曾经说服并帮助一家经营摩托车配件的企业建立电子商务网站成为他津津乐道的一个经历。</p>
<p>&ldquo;我当时做了电子商务，做了政务网，我的电子商务比马云做得早!&rdquo;这位如今的电子科技大学移动计算中心主任回忆道。</p>
<p>经过了一段时间的&ldquo;打工&rdquo;，陈东义终于在2000年做出了第一个智能眼镜。然而，在制作初期依旧是困难重重，对于硬件来说，当时的传感器体量较大，而且价格昂贵，在几万到十几万元不等。芯片则是采购自美国的，更重要的是，当时没有移动系统。那时的设备性能非常有限，想要将装置做得较小的话，只能选择160M左右的计算速度，这连现在最低端的智能手机都不如。</p>
<p>面对这样的现状，陈东义只得自己开发可穿戴设备的软件系统，他并不愿意称这套系统是操作系统，因为对于操作系统来说，需要强大的生态圈和客户群体，所以他称这套系统叫做可穿戴的软件支撑系统。值得注意的是，陈东义开发的这套系统已经体现了当下移动平台操作系统的两个基本概念：由于要使系统占量尽量最小，所以这套系统需要将LINUX进行裁剪，来适应体量和内存较小的可穿戴装置，这与后来出现的安卓有异曲同工之妙。不仅如此，由于当时智能终端可穿戴计算机资源极端受限，陈东义还希望将大量的计算、存储等放到服务器端，终端设备只完成几个终端的简单计算和操作，也就是说，让终端足够轻量级，大部分计算放在后端去，这也有着云计算的雏形。</p>
<p>可惜的是，专门为可穿戴计算机量身定做的系统并没有成功推广，尽管已经在实验室获得了成功。在陈东义实验室的几十个可穿戴装置中，仅有几个采用了这套系统，大部分仍旧是运用了安卓、LINUX或者WINDOWS系统。</p>
<p>对于可穿戴的软件支撑系统的束之高阁，陈东义表示，这个系统的实用性并不是很强，这与当时的资金也有一定的关系，一个用资十几万元、几个人做出的系统，想让他有多么强大的实用性并不现实。</p>
<p>虽然在实用性上还有所欠缺，但中国开发移动系统的脚步并未停止。</p>
<p>山寨的伦理</p>
<p>2007年1月9日，黑色上衣、牛仔裤以及一双运动鞋，乔布斯斯文地站在苹果Macworld展会的演讲台上， &ldquo;一款革命性的手机&rdquo;不仅震惊了当时的与会人员，也真正成为一个智能时代的开端。</p>
<p>智能手机时代的开启，使得各路诸侯纷纷开始投入力量拼杀于移动硬件领域，而在系统方面，几年的厮杀后，市场已呈现由谷歌的安卓和苹果的iOS各霸一方的局面。而这种系统生态话语权被国外巨头垄断引发的问题日渐明显。去年夏天，一场棱镜门事件带来的信息安全问题令人神经紧张，开发自主的可用的操作系统呼声越来越高。</p>
<p>今年1月15日，中科院软件所与上海联彤公司高调地联合发布了号称具有自主知识产权的操作系统COS(China Operating Systerm)。其宣传稿称：&ldquo;COS智能手机与机顶盒，其体验已经与国际主流操作系统达到一个水准。同时，COS还实现了具有自己特色的多窗口操作、实时多任务、语音语义识别等功能。&rdquo;不仅如此，在应用软件方面，COS系统上可以运行基于安卓系统的几乎全部应用，因为COS和安卓系统都是用Linux作为系统底层。</p>
<p>这种取巧的系统开发战术并不是中国制造。芬兰创业公司Jolla研制的Sailfish手机操作系统也能支持原生安卓应用，让系统在一般的安卓设备上运行，原因是Sailfish系统也是基于Linux系统的，然后在上层用了一个新的虚拟机代替安卓使用的虚拟机，便有可能兼容安卓应用，这样就有10万个应用可以运行了。</p>
<p>尽管中科院软件所所长李明树表示，COS系统就是要打破国外在基础软件领域的垄断地位，已经达到甚至超过现有主流操作系统的高度。但COS却在发布后遭到百般诟病，甚至陷入了抄袭门。许多业内人士和网友认为，所谓COS系统，实际上就是拿安卓系统改的。不少人调侃COS实际上是&ldquo;Copy Other System&rdquo;(复制其他系统)。</p>
<p>在COS发布前不久，另一家中国公司同洲电子发布了移动操作系统&ldquo;960 OS&rdquo;，同样号称是我国自主知识产权的智能手机操作系统。而早在此前，阿里已经开始进行了相关布局，推出阿里云系统，并与一些厂商进行了合作。自主操作系统一个接一个面世，却始终洗不去身上浓重的安卓和iOS血统。</p>
<p>其实，以我们国家的技术力量来做一个好的操作系统在技术上一点问题都没有，但随着安卓与iOS提前分割了市场，中国系统在市场上便陷入迟迟找不到位置的尴尬境地。陈东义表示，在PC时代，苹果的操作系统一直无法取代微软的WINDOWS，而在移动互联的大潮下，当苹果率先抛出iOS移动系统并迅速占领用户后，微软的WINDOWS8也难以望其项背。</p>
<p>目前，iOS和安卓已经形成完善并成熟的生态圈，而横空出世的其他操作系统即便在技术方面上行得通，也很难获得用户的青睐。对于用户来说，同样都是免费的系统，既然已经先入为主地形成了用户习惯，也就没必要，也不愿意再转换习惯。对于企业来说，既然安卓已经是应用最为广泛也最成熟的开源系统，用户群庞大，这些手机厂商也不愿意冒险去用其他的操作系统。不仅如此，国内自主开发的系统如果用户量过少便会导致用户体验少，用户体验少，系统BUG就更难完善，如此一来，极易形成一个恶性的怪圈。</p>
<p>但是，既然中国人早在上个世纪就已经有人进入了可穿戴领域，甚至去专门开发了适用于可穿戴的软件系统，却为何至今仍是先进技术的追随者而不是引领者?</p>
<p>在中国的学术领域，专家报项目，往往要在开头点出&ldquo;美国学者提出&rdquo;或&ldquo;诺贝尔获得者指出&rdquo;等字眼，如果说这个点子是自己想的，那么就会遭到疑问，美国没做，咱们能做么?有些人认为，阻碍科技创新的并不是钱，而是科技体制，是僵化的体制束缚了中国的创新力。</p>
<p>这种创新上的不自信甚至还体现在国内企业界。以国内的互联网产业为例，百度、腾讯、阿里三巨头的起家均是模仿国际上已经成功的模式，这与苹果的乔布斯和微软的盖茨以创新起家截然不同。相对而言，中国企业更愿意走别人已经走通的路，然后在这条路上做有限的创新和本土化，而不是自己完全开辟一条道路。</p>
<p>而陈东义则认为企业的这种山寨之路有时可能更符合国情，&ldquo;有些产品，从企业家的角度讲，做一个已经由别人掀起市场的模式其实在商业角度上是容易成功的，别人费力掀起了这个市场，用户认可了，我顺势推出技术差不多，但价格更便宜的产品，也能在市场上占据一席之地。&rdquo;</p>
<p>未来是用来畅想的</p>
<p>陈东义不认同&ldquo;可穿戴设备&rdquo;的说法，在3个小时的采访过程中，他一再强调应该叫&ldquo;可穿戴装置&rdquo;&ldquo;可穿戴智能终端&rdquo;或&ldquo;可穿戴计算机&rdquo;。&ldquo;只有不懂可穿戴技术的核心概念的人才会管这个叫&lsquo;设备&rsquo;。&rdquo;他说，在英语中，也很少能看到把它翻译成equipment。陈东义的理由是可穿戴计算机的范围不仅仅是眼镜和手环，还包括衣物、假发、隐形眼镜、鞋垫等等，而这些东西是无法被称作&ldquo;设备&rdquo;的。</p>
<p>在这些无法被称作&ldquo;设备&rdquo;的装置中，大部分体量较小，比如隐形眼镜，他们更需要精简系统和其他软件，这样一来，最可行的方法是，将大量的计算和存储放到云端，智能终端仅仅做一些简单的计算。以智能衣物为例，衣服的图案是一个个的传感器，袖口或者领子是通信设备，在穿戴者接听电话或进行拍照时，所有的计算都在云端完成，而计算中心有可能只是一粒小扣子。</p>
<p>事实上，直到今天也并没有一个专门针对可穿戴计算机的系统。而适配于手机和平板电脑的安卓系统，以及那些专为手机、平板电脑等&ldquo;大屏幕&rdquo;设备开发的APP应用，突然要改装到小屏幕设备上，消费者能否接受这种转变，还是未知数。</p>
<p>知名互联网传播专家何玺则表示，&ldquo;可穿戴操作系统&rdquo;应该是具备自动化、智能化、可互联、可扩展等特点，能够让用户摆脱硬件束缚的操作系统，它可能是语音控制的，可能是体感控制的，也有可能是意念控制的。它应该是比iOS和Android更加先进的新一代智能操作系统。</p>
<p>&nbsp;</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/2934.html" target="_blank">Pebble 推出三款限量彩色版</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/2936.html" target="_blank">LISA孕表——准妈妈的选择</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="2935" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1407378180')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--13083637100507075594111817-->
<script> var _trace_page_logid = 1308363710; </script><!--13083689191164780554111817-->
<script> var _trace_page_logid = 1308368919; </script>