<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181721';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-出差旅行看家神器——小度i耳目详细体验</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "2938";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>出差旅行看家神器——小度i耳目详细体验</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">出差旅行看家神器——小度i耳目详细体验</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:臧成威供稿   黑色流云编辑整理</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">外出担忧家中安全?上班担心猫猫狗狗淘气?赶紧让小度i耳目来帮忙吧!</div>
<div class="d-artical-content" id="sourceContent">
<p>&nbsp;&nbsp;暑假外出游玩,担心家中安全?上班不放心家中狗狗猫猫淘气?公寓、厂区太大，不能实时在线监控？还怕没有第一时间发现异常,遭受经济损失?那就让&rdquo;小度i耳目&rdquo;来帮你解决吧! &ldquo;小度i耳目&rdquo;是云高清无线网络摄像机，基于百度云向公众提供安全、实时的音视频监控服务.通过i耳目服务，您可以对您的家庭、小孩、宠物和你的办公室进行实时音视频监控.还可以轻松监看您公寓、别墅、商铺、厂区、办公室等场所的实时视频、历史录像；通过&ldquo;云网通&rdquo;的报警云推送服务，您可以即时接收您所关注场所的异常信息；通过&ldquo;i耳目&rdquo;的云存储服务，实时保存监控画面并能快捷的共享给朋友.<br /><br /><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e2f58c80eb9.jpg" alt="" width="739" height="355" /></p>
<p>&nbsp; &nbsp;</p>
<p>&nbsp; 小度<span lang="EN-US">i</span>耳目外包装采用了当下流行的简约包装<span lang="EN-US">,</span>并采用可回收材料<span lang="EN-US">,</span>减少外包装对环境的二次污染<span lang="EN-US">.</span></p>
<p><span lang="EN-US"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e2f6d87970e.jpg" alt="" /></span></p>
<p><span lang="EN-US">&nbsp;&nbsp;</span></p>
<p><span lang="EN-US">&nbsp;&nbsp;</span>打开包装后我们会看到一个大眼睛样的摄像头封面<span lang="EN-US">.<br /> <!-- [if !supportLineBreakNewLine]--><br /> <!--[endif]--></span><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e2f845cde8e.jpg" alt="" /></p>
<p><span lang="EN-US">&nbsp;&nbsp;<br />&nbsp; &nbsp;内部包装盒内含摄像头、充电器、数据线等相关配件。<br /><br />&nbsp; &nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e2f9366350b.jpg" alt="" /></span></p>
<p><span lang="EN-US">&nbsp;&nbsp;</span></p>
<p><span lang="EN-US">&nbsp; 完全展开摄像头,按照说明书将其安装在需要监控的地方.<br /><br /><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e2fa4232255.jpg" alt="" /><br /></span></p>
<p><span lang="EN-US">&nbsp; 当我们安装好小度i耳目之后,打开手机安装i耳目应用,大家可以通过扫描下方二维码来进行下载安装.<br /><br /><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e30c2da2be3.jpg" alt="" /><br /></span></p>
<p><span lang="EN-US">&nbsp; 下面我们以iOS端为例,安装好i耳目应用之后,运行应用我们会看到关于小度i耳目的使用介绍.<br /><br /><img src="http://bs.baidu.com/dulife/53e30ca1d4826.jpg" alt="" /></span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span lang="EN-US"><img src="http://bs.baidu.com/dulife/53e30ca214b78.jpg" alt="" /></span></p>
<p><span lang="EN-US"><img src="http://bs.baidu.com/dulife/53e30ca241af0.jpg" alt="" /><br /></span></p>
<p>&nbsp;</p>
<p><span lang="EN-US">&nbsp; &nbsp;点击右下角"登录"按钮,i耳目支持百度账号、微博、QQ及人人网的账号登陆.<br /><br /></span></p>
<p><span lang="EN-US"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e30d4007f72.jpg" alt="" /></span></p>
<p><span lang="EN-US">&nbsp; 第一次使用,配合APP会帮助大家来简洁快速的连接i耳目.</span>第一次使用,只需点击右上角的"新增设备"按钮即可!</p>
<p><span lang="EN-US"><br /><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e30ee548254.jpg" alt="" /></span></p>
<p><span lang="EN-US"><br />&nbsp; iOS端采用扫描条形码的形式来自动识别的,非常简单.<br /><br /><br /><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e30f5f18df1.jpg" alt="" /><br /></span></p>
<p><span lang="EN-US">&nbsp; 然后设置每个新设备的相关功能开启.含:音频、设备状态灯、画面180度旋转等。这些可以根据自身使用情况来定。</span></p>
<p><span lang="EN-US"><br /><br /><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e312005bfbd.jpg" alt="" /></span></p>
<p><span lang="EN-US">&nbsp;</span></p>
<p><span lang="EN-US">&nbsp; 除此之外,我们还可以查看"公共摄像头".程序主界面点击底部"公共摄像头"按钮,就能看到周边功能摄像头影响.<br /><br /><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e30fbf4ac97.jpg" alt="" /><br /></span></p>
<p><span lang="EN-US">&nbsp; 你还可以通过i耳目APP端定制你的专属监控!只需进入设置项开关相关功能即可.<br /><br /></span></p>
<p><span lang="EN-US"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e3119168908.jpg" alt="" /></span></p>
<p><span lang="EN-US">&nbsp;&nbsp;<br />&nbsp; 定时和夜景模式可能用到会比较多一些.<br /><br /></span></p>
<p><span lang="EN-US"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e313905940f.jpg" alt="" /><br /><br /> 除了手机端之外,我们还可以再WEB端查看,i耳目还为使用者提供了3个月的7天录制VIP服务.支持百度云(</span><a href="http://pan.baidu.com/">http://pan.baidu.com</a>)和i耳目官方网站(<a href="http://iermu.com/">http://iermu.com</a>)两个地址来登陆在线查看.</p>
<p><span lang="EN-US"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e3103465e76.jpg" alt="" /></span></p>
<p><span lang="EN-US">&nbsp; &nbsp; 使用我们的百度账号登陆百度网盘,这里的账号须同i耳目登陆账号相同.在"我的小度"标签,就能看到"我的摄像头"这一项了.<br /><br /></span></p>
<p><span lang="EN-US"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e310e581d1b.jpg" alt="" /><br />&nbsp;&nbsp;</span></p>
<p><span lang="EN-US">&nbsp; 点击左上角的"我的摄像头"就会看到当前自己的i耳目监控状态了.</span></p>
<p><span lang="EN-US"><br /><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e314007c32b.jpg" alt="" /><br /></span></p>
<p><span lang="EN-US">&nbsp; 如果通过i耳目官网登陆的话,还支持监控分享哦!这个百度云登陆没有的功能.<br /><br /></span></p>
<p><span lang="EN-US"><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53e314daaccaf.jpg" alt="" /></span></p>
<p><span lang="EN-US">&nbsp; 通过上述体验,相信大家在出现篇头担忧的时候,我们的小度i耳目完全可以帮我们解决.而云端存储也帮用户降低使用成本.通过网络分享,不错过每一个幸福瞬间.外出时,还能替大家"看门"实时了解家中状况.i耳目是过国内,云摄像头的先行者,也是国内最早研发和推出真正意义的云摄像头的企业；是电信云家庭监控的设备供应商,此次携手百度云,属业界强强联手打造第一云监控智能平台典范!</span></p>
<p>&nbsp;</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/2937.html" target="_blank">很奇特！R Watch智能手环体验评测</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/2939.html" target="_blank">出差旅行看家神器——小度i耳目详细体验</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="2938" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1407392911')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--13069391360689383434111817-->
<script> var _trace_page_logid = 1306939136; </script><!--13069436850992500746111817-->
<script> var _trace_page_logid = 1306943685; </script>