<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181721';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-为HealthKit推广铺路? 苹果 与数家医疗机构合作</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "2976";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>为HealthKit推广铺路? 苹果 与数家医疗机构合作</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">为HealthKit推广铺路? 苹果 与数家医疗机构合作</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">1</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:穿戴迷 http://www.xchuandai.com/wearable-devices-news-healthkit-apple.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">据路透社报道称，苹果近日一直与来自西奈山、克利夫兰医学中心、约翰·霍普金斯大学的医疗提供商及医疗公司Allscripts商讨HealthKit服务合作事宜</div>
<div class="d-artical-content" id="sourceContent">
<p>据路透社报道称，苹果近日一直与来自西奈山、克利夫兰医学中心、约翰&middot;霍普金斯大学的医疗提供商及医疗公司Allscripts商讨HealthKit服务合作事宜。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53eacd18402bd.jpg" alt="" /></p>
<p>尽管商谈可能不会达成任何实质性成果，但此举表明苹果坚持为客户和医疗提供商提供一站式健康数据浏览服务。</p>
<p>目前，大量第三方健康保健软件和医疗设备收集健康数据，但数据无法集中存储。苹果还希望医生通过这些数据监测病人复诊期间的身体状况，以便医生做出更准确的诊断和治疗决策。</p>
<p>HealthKit服务预计将整合到iPhone 6，但苹果还没有公布关于HealthKit的更多细节。苹果计划大举进军移动医疗保健领域，而HealthKit服务正是这项计划的关键所在。医疗保健领域前景广阔，三星、谷歌(微博)等对手也瞄准了这片领域。</p>
<p>此前，苹果已经宣布与耐克、电子健康档案提供商Epic和马约诊所合作。马约诊所旗下拥有多款移动应用。报道称，马约诊所正在测试一项健康监测服务，当相关应用和设备检测结果出现异常，该服务就会提供随访资料和治疗建议。</p>
<p>知情人士透露，很多采用Epic软件的大型健康系统很快将把HealthKit健康和健身数据整合到Epic个人健康档案服务MyChart。美国医疗保健机构Kaiser Permanente正在测试多款采用HealthKit服务的移动应用，这家机构预计将接洽苹果，商讨更为正式的合作关系。</p>
<p>市场研究机构Forrester Research健康分析师斯基普&middot;斯诺(Skip Snow)表示：&ldquo;苹果将通过数据途径进军这片领域。苹果意图成为一个健康数据中心。&rdquo;</p>
<p>ACT执行董事摩根&middot;里德(Morgan Reed)表示，由于隐私和监管要求及众多老旧的IT系统，整合HealthKit服务可能存在挑战。ACT是华盛顿地区一个代表移动应用开发者的组织。</p>
<p>&ldquo;所有人都想进入这片领域。但我看HealthKit未必要与所有现有系统整合。&rdquo;里德说道。</p>
<p>克利夫兰医学中心副首席信息官威廉&middot;莫里斯(William Morris)表示，临床解决方案团队正在实验HealthKit测试版，并向苹果提供反馈信息。对于预算拮据的医院，HealthKit和相关服务可以帮助技术团队节约时间和资源，而移动开发者也无需像现在一样整合大量的应用和设备。</p>
<p>Kaiser Permanente移动服务研发主管布莱恩&middot;加德纳(Brian Gardner)表示，很多医生正在考虑如何利用医疗应用和设备提供的病人数据。</p>
<p>加德纳称：&ldquo;苹果已经接洽几家举足轻重的医疗机构。HealthKit这样的平台将为这片市场注入很多新理念，方便富有创造力的人开发医疗服务。&rdquo;</p>
<p>任重道远</p>
<p>苹果开发者关系团队还一直与知名健身和医疗应用的开发商合作，其中包括位于加州山景城的iHealth Lab。</p>
<p>iHealth Lab首席营销官吉姆&middot;塔斯切塔(Jim Taschetta)表示，为了确保客户了解苹果如何收集和存储数据，苹果可谓煞费苦心。例如，病人可以自行决定是否让第三方应用与苹果健康应用分享数据。</p>
<p>一名苹果员工表示，如果苹果选择在 iCloud中存储敏感的健康数据，那么数据在传输和保存时均处于加密状态。</p>
<p>塔斯切塔表示：&ldquo;客户完全可以自行控制，随时开启或关闭健康数据收集。&rdquo;</p>
<p>健康服务开发商认为，由于一开始就注重客户隐私，苹果将不会受隐私问题影响。但是，苹果必须全力满足联邦机构或部门的监管要求。HealthKit依赖于用户分享数据。但根据这类数据的使用方式，苹果合作商可能要符合《健康保险隐私及责任法案》(简称HIPAA)要求。</p>
<p>美国隐私管理官员表示，与每个服务商合作时，苹果可能还要重新确定保障用户数据安全的责任。举例来说，如果苹果和耐克共同收集跑步数据，那么双方都无需遵守HIPAA法案。但如果苹果获取和存储马约诊所的用户信息，那么双方可能都需要遵守HIPAA法案。</p>
<p>为了扫清障碍，苹果已经咨询或招募了健康专家和律师。苹果高层预计将造访主要的监管部门。</p>
<p>但多伦多重症监护医生约书亚&middot;兰迪(Joshua Landy)认为，医生需要时间了解哪款应用适用于临床，哪款应用可以安全地推荐给病人。未来数月，当大量移动医疗应用涌入App Store，问题将愈发严重。</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/2975.html" target="_blank">微软新技术让普通用户也能拍出平顺的视频</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/2977.html" target="_blank">Oculus Rift SDK 正式支持 Mac </a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">1</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="2976" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1407896954')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--12698032240689383434111817-->
<script> var _trace_page_logid = 1269803224; </script><!--12698053910455695370111817-->
<script> var _trace_page_logid = 1269805391; </script>