<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181720';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-联想NBD平台打造生态圈的首批产品亮相</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3016";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>联想NBD平台打造生态圈的首批产品亮相</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">联想NBD平台打造生态圈的首批产品亮相</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">2</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">2</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:威腾网</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">联想此次发布的三款智能设备只是NBD平台“孵化”的首批产品。相信未来随着更多合作伙伴来到这个“中国最靠谱的互联网创业平台”， NBD将会为我们带来更多惊喜。</div>
<div class="d-artical-content" id="sourceContent">
<p><span style="font-size: small;">联想已正式推出NBD(New BusinessDevelopment，昵称&ldquo;新板凳&rdquo;)互联网创业平台，同时发布了该平台&ldquo;孵化&rdquo;的首批三个创新产品：智能眼镜、智能空气净化器和智能路由器。</span></p>
<p>作为联想全新的业务部门，NBD平台的发布也意味着更丰富业务模式的产生，着重在智能家居、智能可穿戴领域发力。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53f2bf97ce93e.jpg" alt="" /></p>
<p><strong>首款适用于中国的智能眼镜</strong></p>
<p>&nbsp;</p>
<p>此次联想发布的智能眼镜有两个型号，分别是面对商用人群的M100和面对普通消费人群的new glass。其中M100是和美国智能眼镜企业合作的Vuzix推出的商用产品，而new glass则是联想联合云视智通联合开发的智能眼镜产品。</p>
<p>&nbsp;</p>
<p>Vuzix公司是全球领先的智能眼镜生产厂商，成立于1997年，是最早进入智能眼镜领域的企业之一。而在与联想的合作中，Vuzix将为M100智能眼镜提供全面的硬件技术支持，打造方便拆卸，支持左右佩戴的M100产品。而联想则为M100提供软件应用、系统rom和中文操作环境，完美满足客户定制的商用产品新形象。</p>
<p>&nbsp;</p>
<p>M100具有手势和语音识别功能，还采用了骨传导技术，支持私密通话。500万像素摄像头，具有WiFi和蓝牙两种连接方式，内置12GB存储空间，可和联想云存储同步，通过外接电池M100可续航一天。值得特别介绍的是，作为专门针对商用市场推出的M100，上市后将针对机械、物流、医疗等领域推出一系列定制化软件解决方案满足行业客户的专业化需求。</p>
<p>&nbsp;</p>
<p>作为业内知名的智能视觉解决方案提供商，云视智通在智能视觉领域有着丰富的研发经验，联想与云视智通一起正在合作开发的new glass智能眼镜也在本次发布会亮相，并邀请更多开发者共同参与研发。</p>
<p>&nbsp;</p>
<p>正在开发中的new glass针对广大消费市场，不同于市面上已有的智能眼镜，new glass采用了镜架夹持式设计，可以将&ldquo;智能眼镜&rdquo;夹持在消费者已有的眼镜上使用，方便近视人群佩戴。在电池设计上new glass可谓独具匠心，创新性地采用了主机、电池与光机头分离设计，在获得超过800毫安电池容量的同时实现了仅有15克的眼镜负载。在控制方式上new glass将支持语音控制、触控板控制、指环控制等多种控制方式。</p>
<p>&nbsp;</p>
<p>虽然已经有厂商都推出或宣布了自己的智能眼镜产品或计划，但联想此番联合合作伙伴推出的智能眼镜是第一款可批量生产并且面对中国用户的智能眼镜。联想为这两款智能眼镜定制开发了系统rom和中文操作环境，以及智能眼镜手机端app、中文应用下载等，完美适用于中国的网络环境。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53f2bfbf0e3a7.jpg" alt="" /></p>
<p>空气质量看得见的智能空气净化器</p>
<p>&nbsp;</p>
<p>智能空气净化器作为联想进军智能家居的重要产品，也在此次发布会中亮相，分别是针对不同房屋面积的new air X330、LUFTMED D300、LUFTMED D600三款智能空气净化器。而合作方则是来自于德国，在空气净化领域造诣颇深的LUFTMED公司。</p>
<p>&nbsp;</p>
<p>联想与德国LUFTMED公司共同推出的智能空气净化器对PM2.5颗粒的过滤效率高达99%以上(D300、D600更可实现对0.1微米颗粒超过99%的过滤效率)。在保持高效过滤的同时，D600依然可以保持每小时最高500立方米的洁净空气输出量，这说明一个50平米的房子，换一遍洁净空气最多不过十二分钟。</p>
<p>&nbsp;</p>
<p>与其他常见的空气净化器相比，此次推出的三款智能空气净化器可谓内外兼修。它们拥有一块TFT屏幕，可以直接显示室内实时空气质量指数，也可以及时反馈净化器的硬件使用信息，提醒用户滤网使用情况。而在&ldquo;内核&rdquo;上，联想与德国LUFTMED公司共同为该智能空气净化器打造独有的云端操作系统，通过互联网和手机联通，可以实时观察室内空气质量，并可以让用户在千里之外对空气净化器进行云端操作，随时随地掌控家里的空气情况。</p>
<p>&nbsp;</p>
<p>与此同时，此次推出的LUFTMED D300、LUFTMEDD600还通过了国际无臭氧认证、德国安全认证、欧洲安全认证、AHAM认证等全球顶级认证。而独有的AIT杀菌技术则凭借在轻离子领域的独家专利，在离子杀菌领域保持着世界领先水平。</p>
<p>&nbsp;</p>
<p>new air? X330则是到目前为止性价比最高的一款智能空气净化器，在智能控制技术下实现卓越的净化效能和超低的噪音，是联想与LUFTMED为中国市场量身定做的产品。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53f2bfd5c1427.jpg" alt="" /></p>
<p><strong>人人都会玩的极客路由</strong></p>
<p>&nbsp;</p>
<p>智能路由器作为互联网的&ldquo;下一个入口&rdquo;，也受到了大量厂家的高度关注。在此次联想NBD推出的首批产品中，就包含newifi智能路由器。而联想的合作方是拥有智能路由器&ldquo;宗师级&rdquo;顶尖技术团队的谛听科技。</p>
<p>&nbsp;</p>
<p>一台好的智能路由器，首先要是一台好的路由器。在这一点上，newifi的硬件品质不用怀疑，MTK7620A + 7612E的主流配置，支持802.11AC双频标准。256M DDR2的顶配内存，其运载能力值得信赖。在接口方面，两个千兆网口，两个百兆网口三个USB 2.0接口，可同时满足多种上网需求和外接需求。在信号方面，newifi外置5dBi双天线，并内置了 4个信号放大器，并配备波束成形技术。</p>
<p>&nbsp;</p>
<p>智能路由器更要有一个成熟稳定的智能路由器操作系统。谛听科技为newifi提供了完美的解决方案，由智能路由器宗师级团队，OPEN-WRT中文网创始人亲自操刀，精心打造出newifi专属的路由器操作系统。该系统采用全图形化设计，新连接的路由器上网仅需两步，可以说是从6岁到60岁都会设置的路由器，免去了消费者对路由器的复杂设置的担忧。若是再插上一块移动硬盘，newifi则立刻变身家庭服务器和家庭私有数据存储中心。</p>
<p>&nbsp;</p>
<p>此外，newifi可以通过App、Web与云端进行互通，通过其自带的应用商店自由下载应用，也可以通过APP进行远程操作，查看到路由器的使用情况，有效解决蹭网、钓鱼等不安全的网络行为。</p>
<p>&nbsp;</p>
<p>此次发布的三款智能设备只是NBD平台&ldquo;孵化&rdquo;的首批产品。相信未来随着更多合作伙伴来到这个&ldquo;中国最靠谱的互联网创业平台&rdquo;， NBD将会为我们带来更多惊喜。</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">2</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3015.html" target="_blank">无需Wi-Fi芯片 未来可穿戴设备将更轻薄</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3017.html" target="_blank">智能名片手机壳，不是开玩乐的哦</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">2</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3016" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1408417894')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--12499810530689383434111817-->
<script> var _trace_page_logid = 1249981053; </script><!--12499838860455695370111817-->
<script> var _trace_page_logid = 1249983886; </script>