<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181720';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-苹果或将让可穿戴设备市场重获新生</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3034";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>苹果或将让可穿戴设备市场重获新生</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">苹果或将让可穿戴设备市场重获新生</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">1</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:cnBeta</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">苹果能否扭转当前可穿戴设备市场的低迷局面，让该类产品成为主流呢?国外媒体发布数字媒体顾问乔恩·梅普尔斯(Jon Maples)的文章对此及该市场的现状进行了探讨....</div>
<div class="d-artical-content" id="sourceContent">
<p>苹果能否扭转当前可穿戴设备市场的低迷局面，让该类产品成为主流呢?国外媒体发布数字媒体顾问乔恩&middot;梅普尔斯(Jon Maples)的文章对此及该市场的现状进行了探讨，并提出了iWatch必须要做到的5点，包括设计时尚前卫、用户效益明晰、准确追踪、谨慎处理追踪到 的数据和锁定一个富有影响力的社群。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53f544416f919.jpg" alt="" /></p>
<p>以下是文章主要内容：</p>
<p>SXSW大会举行期间，我们早上8点就走到了街上，在一个会场外排队等候。我们为什么那么早就排队呢?因为体育巨头耐克要向可穿戴行业迈出一大步，推出FuelBand运动腕带。我们有机会成为全美首批获得该款产品的人之一;该公司计划在SXSW期间每天出售100件。</p>
<p>我们获得了一名耐克代表的接待，他带我们走入改造成炫目的FuelBand展示厅的会场。他向我们展示了FuelBand，指导我们试用。此后，我们便开始使用FuelBand 来&ldquo;量化自我&rdquo;，收集生活中各种各样的数据。耐克自己的测算单位&ldquo;Fuel点&rdquo;让我们可以评估我们的运动量，并与自己和朋友进行比较。</p>
<p>两年后，我进行了最后一次Fuel点记录。其实我早就不再在意那些数据，原因有多个：该腕带并不能捕捉我所有的活动，它的数据不是很准确，对于移动情况也不是很敏感，它也没有给我的生活带来实质性的帮助。</p>
<p>而主要原因其实是，在我最后一次记录Fuel点的那一天，该玩意坏了。它显示&ldquo;801&rdquo;故障代号，我需要去耐克门店去更换。这已经发生了很多次。</p>
<p>我受够了。我将该设备丢在桌子上，此后再也没有拿起过。我发现，追踪生活跟不追踪其实没什么两样。</p>
<p>弃用FuelBand的不止我一个。今年4月，耐克宣布，它将把数字业务重心从硬件转向软件，解散整个FuelBand团队，专注于&ldquo;其它的数字项目&rdquo;。</p>
<p>即便是像耐克这样的公司在可穿戴市场也遭遇滑铁卢，可穿戴计算产品仍被视作科技行业的下一个重大增长领域。瑞士信贷认为，到2018年，该市场的规模将从2013年的50亿美元增长至300亿美元。IDC称，到2018年，可穿戴设备销量将超过1.12亿。</p>
<p>现在或许也是开发可穿戴产品的良机。各类功能的传感器变得更小了，更便宜了，更加精确了。显示屏也变小了，业界甚至可能即将迎来柔性玻璃屏。可以想象的是，配备多个传感器的设备可能能够追踪你的运动情况，还能够提供地图、购物等位置感知相关的功能。</p>
<p>如取得足够高的销量，可穿戴产品不仅仅可以扩大公司的产品组合，还能够让它们得到各类大数据。收集自该类产品的数据可应用于个人通讯、基于位置的精准推销等众多领域。</p>
<p>问题多多</p>
<p>然而，从目前来看，各家公司似乎都没能打造出人们真正想要的可穿戴产品。大多数的产品要么适合热衷于新技术的极客，要么适合非常需要数据的运动爱好者，如准备参加铁人三项的运动员。当然，那些产品还存在技术问题和健康隐忧，不过它们最核心的两个问题还是设计不力和产品价值不足。</p>
<p>大多数产品看起来更像是在电影《少数派报告》(Minority Report)中看到的产品，而不像高档手表店里的产品。外形上普遍比较笨重，对于女性尤其缺乏吸引力。FuelBand虽然看起来有点与众不同，但它充其量也只是加强版Livestrong手镯。多数产品都不符合大众消费者的需求，尤其是谷歌眼镜。</p>
<p>除了设计问题外，可穿戴产品制造商大力鼓吹的那些功能似乎都没什么需求。它们究竟解决了什么问题呢?你能够说出的可以说少之又少。大多数可穿戴设备都追踪用户的活动，但数据不一定准确。部分产品还追踪睡眠情况。三星的相关设备兼具部分运动追踪功能和手机连接性，但它们过于笨重，而且外形丑陋。</p>
<p>想要引起大众消费者的关注?那最好还是迎合他们的真正需求。在将科技变成人人渴望拥有的产品上，没有公司能够跟一家巨头相提并论，它就是苹果。</p>
<p>苹果的可穿戴时刻</p>
<p>苹果CEO蒂姆&middot;库克(Tim Cook)显然在大举押注可穿戴产品。据彭博社报道，该公司招揽了超过100位设计师来打造该类产品。他们还搜罗了各行各业的专业人才，包括时尚行业、医疗行业、运动行业和名表品牌。苹果也请来了诸多的传感器专家。这一切都是为了做出一款时尚感十足的奢华可穿戴设备，为用户提供通讯和重要信息(包括位置、健身健康数据)追踪功能。</p>
<p>这并不是苹果第一次进入一个让众多公司折戟沉沙的领域。iPod问世之前MP3播放器满街都是，iPhone诞生之前市面上的手机产品多不胜数，就连iPad入市之前也已经出现平板电脑产品。挑选合适时机在别人没能成功的市场做出真正具有价值的产品，创建前所未有的生态系统，可谓苹果的拿手好戏。与其说苹果是在发明产品，倒不如说它是在完善产品。</p>
<p>可穿戴市场是一个更大的挑战。谣传已久的iWatch似乎将拥有各式各样的功能，而不是主打一个令人惊艳的价值点。iPhone可替代三种设备(手机、音乐播放器和上网终端)，而iWatch可替代哪些现有设备还不得而知。它的核心价值似乎会是收集数据与配对iPhone。这对于部分消费者来说会有价值，但这是否足够驱动整个行业实现分析师们的销量预期呢?</p>
<p>iWatch必须要做到5点</p>
<p>iWatch要做到哪些事情才能够成为热销产品呢?要点燃该市场，苹果必须要做到以下几点：</p>
<p>1)必须时尚前卫</p>
<p>除了耐克FuelBand和Misfit之外，绝大多数的可穿戴产品的设计都做得很糟糕，至少无法迎合大众消费群体。苹果显然有专门搜罗各样各业的人才，不过该公司需要带来让男士女士都觉得体面的时髦手表。这不同于苹果已经进入的任何一个市场，因为手表会被拿来跟Tag Heuer、Rolex、Swatch等名表品牌相比较。乔尼&middot;伊夫(Jony Ive)需要交出一流的设计来。</p>
<p>2)用户效益必须明晰</p>
<p>苹果需要做到让消费者很清楚自己为什么需要它的产品和它的主要用途是什么。在过去几年里，苹果在营销宣传上做得不够简练，产品定位不够明晰。它还有推出一些半成品(如Passbook)的习惯。其智能手表不可能够出现这些问题。苹果需要搞清楚&ldquo;你想要用户如何描述你的产品&rdquo;这一问题，必须要明确用户效益。</p>
<p>3)必须做到准确追踪</p>
<p>如若做到这一点，对于消费者来说很多问题都可以宽恕。然而，要是出现像读数不准确，算法出了差错这样的问题，用户肯定会肯抓狂的。回想起来，FuelBand的失败很可能是它的活动数据不准所致。毕竟，耐克做不到准确监测活动数据，那FuelBand还可以用来做什么呢?人们对于苹果的产品要求会比耐克高得多。它追踪的数据，以及它追踪数据的方式，在它出货前都必须完善好。</p>
<p>4)必须谨慎处理追踪到的数据</p>
<p>人们之所以讨厌谷歌眼镜，部分因为该设备看起来很极客，还因为它存在很大的隐私问题，毕竟该产品带有摄像头。iWatch显然也将能够收集相当多的个人敏感信息。毫无疑问，避免让那些信息泄露，确保它们的安全将非常重要。围绕数据(尤其是健康数据)的处理制定明确的规定同样很重要，同时也会让用户获益。</p>
<p>5)必须锁定一个富有影响力的社群</p>
<p>会由谁来引领使用iWatch的潮流呢?据悉，苹果想要借助运动员来推广该产品，借鉴耐克FuelBand的做法。不过这一招在耐克身上并不奏效，FuelBand的失败既有产品本身方面的原因，也有营销推广不力方面的原因。确保公司锁定合适的有影响力者的重要性丝毫不亚于做好营销宣传本身。仅仅依靠职业运动员不一定能够让苹果赢得广大消费者的青睐。苹果需要伸向流行文化&mdash;&mdash;如Louis Vuitton设计师坎耶&middot;韦斯特(Kanye West)及其他引领文化潮流的人士。</p>
<p>对于苹果和蒂姆&middot;库克来说，这是一个很高的赌注。iWatch将会是苹果在后乔布斯时代的首款核心产品品类以外的产品。该公司究竟是否拥有足够的决心去出货一款适销对路的产品，又或者&mdash;&mdash;如果产品未能达到消费者的严苛要求&mdash;&mdash;是否拥有足够的决心去放弃该项目，转而利用充裕的现金流做些别的事情。</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">1</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3033.html" target="_blank">联想智能腕带Smartband或将亮相IFA</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3035.html" target="_blank">最新谷歌眼镜专利曝光</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3034" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1408582821')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--12416752760689383434111817-->
<script> var _trace_page_logid = 1241675276; </script><!--12416821990405363722111817-->
<script> var _trace_page_logid = 1241682199; </script>