<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181720';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-智能家居未来将如何发展?</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3048";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>智能家居未来将如何发展?</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">智能家居未来将如何发展?</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">190</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">1</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:千家网</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">目前可穿戴设备领域，最受瞩目的不仅仅是那些只能硬件设备，智能家居作为新兴行业，也正在被人们所认同。</div>
<div class="d-artical-content" id="sourceContent">
<p>目前可穿戴设备领域，最受瞩目的不仅仅是那些只能硬件设备，智能家居作为新兴行业，也正在被人们所认同。如何让家居更加智能不仅仅是硬件厂商需要考虑的问题，也是消费者们所需要思考的。智能家居产品有区别于传统消费品，高价格并不讨巧，正如您在众筹网站上看到的那样，越来越多的智能家居产品被推广出来，而购买的价格要远低于市场价。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/53f6a0025c689.jpg" alt="" /></p>
<p>无论是产品形态还是价格，智能家居个性十足。如何突出智能化，如何将移动终端与家电结合，如何用APP控制电灯、窗帘&hellip;智能家居需要创新的方向还很多，靠不靠谱由你说了算。笔者进行了简单的和盘点，与大家分享。</p>
<p>最靠谱智能家居创新第10名：住宅社区网络</p>
<p>住宅社区网络是本次盘点TOP10中最"不靠谱"的。因为社区网络所涉及领域较广，小区物业、业主、运营商，甚至街道、卫生所、派出所等等，住宅社区网络不仅仅是互联网，更突出物联网服务，实现联动调解。住宅社区网络的组成必须由业主智能家居做基础，点、线、面全覆盖最终组成大社区网络。</p>
<p>如果住宅社区网络搭建完成，距离智能社区目标的实现就已经不远了。国内已经在不同城市的小区中做试点运营，目前试点大多为一、二线城市。组建智能社区成本较高，技术与资金都是巨大考验。虽然有点不靠谱，不过如果上述目标都完成，那么将是最靠谱的项目。</p>
<p>最靠谱智能家居创新第9名：小区安防报警平台客户端</p>
<p>安防报警系统是智能住宅的重要组成部分之一，智能化住宅保安系统具有较高的自动化技术水平及完善的功能，安全性、可靠性高。</p>
<p>小区安防报警平台主要通过一台主机完成周界报警、闭路电视监控、楼宇对讲、保安巡更、和对智能化小区中安防子系统(如家庭监控、防盗，室内防火)五大功能。小区报警平台不仅实现了业主家庭安防与物业小区之间的联动，也实现了小区与当地派出所报警联动。</p>
<p>最靠谱智能家居创新第8名：小家电个性化使用</p>
<p>越来越多的人习惯用小家电烹饪美食，榨汁机、蛋糕机、酸奶机用最简单的食材做出美味佳肴。如何个性化使用小家电，恐怕还需要一款智能家居产品来帮忙。坐在办公室里也能烹饪美食你信吗?如果使用智能插座，定时控制蛋糕机开启和断电时间，当你回到家里，热气腾腾的芝士蛋糕摆在你面前，时间掌握刚刚好。</p>
<p>把小家电使用技巧与好友分享，绝对是羡慕嫉妒恨的节奏啊。如果你觉得这还不够拉风，那么车载移动式冰箱绝对赞到没朋友，夏天可以冷藏饮料，如果在户外烧烤太炎热，那么它可以瞬间变空调，高大上了有木有!</p>
<p>最靠谱智能家居创新第7名：家庭能源管理-智能家电</p>
<p>什么是家庭能源管理?做饭用的天燃气，空调、电视消耗的电、冬天独立供暖也需要能源。如果说你家的空调设定到26℃后不再自动制冷，这只能说它是一款节能产品，智能家居系统中能源管理最复杂。如何更合理地调节家庭用电量?智能家电的出现解决了这个难题，智能家电可以将收集到数据反馈给用户，让用户对家庭用电有全面的了解，并通过这些数据进行适当调整。</p>
<p>如果说购买智能家电成本太大，那么Nest智能温控器则更好地解决了这个问题。让家庭能源不再是被动检测，可以实现主动管理。</p>
<p>最靠谱智能家居创新第6名：红外网关 家电遥控</p>
<p>智能家居行业最大的问题在于标准尚未统一，造成不同品牌的家电无法实现统一平台控制，解决当下智能家电控制唯有红外网关。通过红外控制器，让手机学习家电遥控器指令，完成手机(移动客户端)控制家电的功能。</p>
<p>目前市面上已经有不少红外控制器智能产品，在工作时除了发射红外功能，也需要无线网络覆盖。一款红外控制器、一个APP、一部智能手机组成了家电遥控器，不同种类电器还可以自定义菜单，在标准尚未统一时，红外控制器实现了大家电集中管理。</p>
<p>最靠谱智能家居创新第5名：老人与小孩关怀照看</p>
<p>家庭安防作为智能家居系统中的一个子类，老人与孩子的照看少不了摄像头，云眼的出现改变了传统家庭监控摄像机观念，突出高清化，例如500万像素UEYE 云眼，清晰的图像可以看清细节，不会错过每一个精彩瞬间;网络化，家庭云眼主打移动端远程互动，手机随时查看家中情况;老人倒地报警信息推送是智能化体现。</p>
<p>云眼满足实时查看和视频回放需求，视频存储云端管理，用户不需要承担存储费用，使用成本大大降低，语音通话对讲拉近了城市与城市之间的距离。</p>
<p>最靠谱智能家居创新第4名：智能门锁与电子猫眼</p>
<p>智能门锁与电子猫眼考虑的家庭成员安全问题。电子猫眼支持视频录像、拍照功能，当主人不在家时，可记录来访人员的样貌特征;如果长时间在门前徘徊，系统会想主人手机发送报警提示，通过手机可远程访问电子猫眼，来者何人一看便知。</p>
<p>不同人对智能门锁的理解有所不同。起初智能门锁并非出现在智能家居领域，而是安防;随着智能家居概念不断深入，有些高档小区已经将智能门锁定位标配产品。简单的智能门锁为密码锁，就像都敏俊xi家的门锁一样;再智能一些的门锁采用指纹或掌纹识别，类似于指纹考勤机，还会将"打卡"信息发送至手机客户端，让户主了解是谁回家了。</p>
<p>目前最为先进的智能门锁完全依赖于蓝牙及网络通信技术，采用手机APP开锁，或当手机靠近家门口时自动感应解锁。August、Lockitron、Goji等品牌侧重手机客户端解锁，具体效果如何，这要您自己说了算。</p>
<p>即将揭晓最靠谱智能家居创新前三名，不知您做好准备没?</p>
<p>最靠谱智能家居创新第3名：家庭娱乐设备</p>
<p>要说家庭娱乐设备，家庭影院已经不能归类为智能家居范畴，Wii、XBOX等体感游戏的兴起，成为年轻人的最爱。如果一套智能家居系统中加入Wii，多少有点强买强卖的意思。如何在现有电视、摄像头等智能硬件上做出同样真实的"4D"效果，笔者就不在这里费脑筋了，期待指数直线上升。</p>
<p>最靠谱智能家居创新第2名：身体健康检测设备</p>
<p>身体健康监测设备笔者首先联想到的是智能手环，利用传感技术可将身体运动数据进行记录和统计，睡觉佩戴还能监测睡眠质量、脉搏跳动次数、血压等等，依照一套智能化程序综合判定健康指数。</p>
<p>无论是可穿戴式的智能手环还是非穿戴式睡眠检测仪，关乎健康的产品已经得到老年人的青睐。有句广告词说送什么不如送健康，如果您不在爸妈身边，至少也要了解他们的身体状况。</p>
<p>最靠谱智能家居创新第1名：空气环境质量检测器</p>
<p>空气质量检测器的诞生有很大一部分原因是PM2.5，京城被雾霾笼罩，环境质量重度污染，PM2.5爆表&hellip;带火了空气净化器也带火了智能"空探"产品。想要了解家中的PM2.5数值、测一测厨房是否有煤气泄漏、刚刚装修完的房子是否有甲醛挥发&hellip;没有空气质量检测设备，这是数据你永远都不知道。</p>
<p>空气盒子-空气探测器</p>
<p>作为靠谱的智能家居产品，空探设备不仅能实时监测室内控制质量，最重要的是可以根据室内环境进行调节。例如当海尔空气盒子设定为智能模式，PM2.5或VOC超标后，会自动打开空调或空气净化器，当室内空气数值回归正常后自动关闭，通过这种智能化联动，完成空气净化工作。</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">1</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3047.html" target="_blank">三星为何收购SmartThings?</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3049.html" target="_blank">固件更新：谷歌眼镜支持访问手机联系人</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">190</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3048" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1408671852')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--12346080760689383434111817-->
<script> var _trace_page_logid = 1234608076; </script><!--12346096710355032074111817-->
<script> var _trace_page_logid = 1234609671; </script>