<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181719';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-当机器人遇到道德选择时，应该由谁来做决定？</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3129";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>当机器人遇到道德选择时，应该由谁来做决定？</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">当机器人遇到道德选择时，应该由谁来做决定？</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:雷锋网 http://www.leiphone.com/news/201409/6m6GmhjJGaUuXeK7.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">伦理学家Patrick Lin在一篇文章中表示，在未来的无人驾驶汽车中加入一个可编程的道德按钮，并不是解决这项新科技带来的道德上的不适应的最佳方案。不过，直接忽视你的道德选择的无人驾驶汽车难道不是更糟糕吗？</div>
<div class="d-artical-content" id="sourceContent">
<p><img src="http://bs.baidu.com/dulife/5406d81e8ff33.jpg" alt="" /></p>
<p>最近，伦理学家Patrick Lin在一篇文章中表示，在未来的<a href="http://www.leiphone.com/news/201408/CviZnrsMGRAMJ14T.html" target="_self">无人驾驶汽车</a>中加入一个可编程的道德按钮，并不是解决这项新科技带来的道德上的不适应的最佳方案。不过，直接忽视你的道德选择的无人驾驶汽车难道不是更糟糕吗？显然，对于这个问题有一个中庸的解决方案，我们只消看看现代医疗就能找到答案。</p>
<p>首先，我们先来做一个<a href="http://zh.wikipedia.org/wiki/%E6%80%9D%E6%83%B3%E5%AF%A6%E9%A9%97" target="_self">思想实验</a>，这个实验与Patrick Lin文章中的那个差不多，叫做&ldquo;隧道问题&rdquo;：你坐在一辆疾驰在单行道山路上的无人驾驶汽车里，这辆车正以飞快的速度靠近一个狭窄的隧道。就在你所乘坐的汽车进入隧道前的一刻，一个小孩冒了出来，并走到了路中间，正好挡住了隧道的入口。这时刹车已经来不及避免事故。无人驾驶汽车只有两个选择，一是直接冲过去，但这会导致小孩死亡；二是快速转向撞向隧道的任意一边，但这会让你丧生。</p>
<p>现在，你问问自己，汽车是应该直接冲过去还是转向，由谁来做这个决定？汽车厂商？用户？立法者？</p>
<p>最近，<a href="http://www.leiphone.com/news/201408/M27PlZMxv7xVKWXw.html" target="_self">机器人</a>道德倡议组织Open Roboethics Initiative就这一问题对公众进行了一项调查。调查显示，77%的受访者认为应该由用户自己或者立法者来做这个决定。认为应该由汽车制造商和设计师做决定的受访者只有12%。</p>
<p>我们应该对这个调查结果感到惊讶吗？也许不应该。这个&ldquo;隧道问题&rdquo;引发了一个深刻的道德问题，而且是个没有正确答案的问题。在这种情况下，个人内心的道德责任感，对于是选择冲过去还是转向有着重要的影响。</p>
<p>根据Bernard Williams等哲学家的观点，我们的道德责任感有时会胜过其它道德方面的考虑，即使是违反直觉的，比如牺牲大多数人成全少数人。在这个隧道问题上，如果直接否认个人拥有自己的道德偏好，将决定直接预先植入到汽车中，很有可能会违背用户的信念。这绝对不合适。</p>
<h3>一个现成的解决方案</h3>
<p>在<a href="http://www.leiphone.com/news/201406/amazon-healthcare-next.html" target="_self">医疗领域</a>，当必须做出道德选择的时候，标准的做法是护士和医生通知病人，并告知他们所有合理的治疗选项，然后让病人在知情的情况下做出符合自己偏好的选择。这个知情同意书达成的过程，遵循了个人有权利对自己的身体做出决策的理念。医疗领域的知情同意书已经在道德上和法律上获得了认可，对于哪些未与病人达成知情同意书而私自替病人做选择的医护工作者将面临不作为的指控。</p>
<p>知情同意书并非一开始就是医疗领域的标准做法。以前，更通行的做法是医生代表病人在重要治疗决策中做选择，医生们常常以这是医疗计划的一部分来欺骗病人。</p>
<p>知情同意书的引入并非为了简化办事流程。事实上，这个做法反而让整个医疗过程的决策变得相当复杂。知情同意书让病人的负担明显加重，因为他们必须在各种选项中做出艰难的抉择。同时，这个做法也让医护工作者有了另一种不作为的可能性。此外，这个做法还增加了医疗机构的成本，因为医生需要花时间与病人进行艰难的交谈，还需要完成一些文书的签署工作。由于医疗领域是一个专业性非常强的领域，因此医生在告知病人选项的时候，往往非常艰难，作为外行的病人也很可能根本无法理解医生所说的那些医学概念。</p>
<p>你也可以认为，知情同意书将责任全部转移到了病人的身上。反对者认为，知情同意书是不公平的，它将个人至于各种艰难、难以理解的选择之中，由于缺乏相应的知识使得个人在选择面前陷入了手足无措的境地之中。</p>
<p>然而，尽管知情同意书带来了一些挑战和各种麻烦，但是很难想象人们会愿意回到那个医生和护士可以在没有事先征求他们同意的情况下，替他们做出道德选择的年代。</p>
<p>那么我们又为什么要接受无人驾驶汽车的设计者和<a href="http://www.leiphone.com/news/201408/TLPxE1XvWh030Q1z.html" target="_self">工程师</a>，在遇到前文所述的隧道问题的时候在未征得我们明确同意的情况下，代表我们做出道德选择呢？解决这个道德问题的一个可行的解决方案就是，在工程领域效仿在医疗行业久经考验的做法&mdash;&mdash;引入标准完善的知情同意书。当然，实现这一点的其中一种方式（还有很多其它方式）就是在无人驾驶汽车中植入各种合理可行的道德选项，由用户自行选择设置。</p>
<h3>是时候重新考虑机器人的责任了？</h3>
<p>很显然，无论机器人学家如何设计机器人，只要出了事律师还是会起诉人，而非机器人。此外，如果我们依然遵循传统的产品责任法的话，那么毫无疑问引入这种道德设置选项一定会让用户和厂商面临更多的新型责任诉讼，正如知情同意书的出现在医疗领域引起的各种纠纷一样。</p>
<p>尽管如此，还是有越来越多的人相信我们需要在法律上重新认真思考，我们是否对无人驾驶汽车和其它类型的机器人实行了合理的管制。</p>
<p>首先，我们可以考虑将制造商未能及时与用户在涉及道德选择的问题上达成知情同意书的情况，视为产品存在缺陷。正如当医生未能在执行一种医学治疗前与病人达成知情同意书时，将被视为不作为一样，我们也可以认为如果制造商在无人驾驶汽车的设计和其它技术方面对用户个人的具体道德偏好不尊重的话，将需要对由此引起的问题承担一定的责任。这个方案可能会让无人驾驶汽车的设计复杂度增加。不过，谁说过制造机器人是一件很简单的事情吗？</p>
<h3>我们必须拥抱复杂</h3>
<p>如果我们在工程上引入一个健全的知情同意书制度，将可以避免很多麻烦的事情。当然，在给予用户的道德设置选项的数量上需要做些限制。因为如果你给用户的选择中包含&ldquo;如果挡路的是个女人就直接撞过去&rdquo;的话，将会显得非常荒谬。与此同时，如果允许用户选择牺牲自己以保护小孩的生命，将显得相当合理。只要这是符合用户的道德价值取向。即使这个任务比较复杂，但是对于哪些选项应该限制，还是很容易识别的。</p>
<p>机器人以及他们所引起的道德问题，极其复杂。但是如果我们想要转变我们对于工程和设计的道德思考，并且合理应对日益壮大的机器人行业所带来的问题的话，我们就必须认真关注和思考这个极其复杂的问题，而不是逃避。这个思维上的转变意味着我们必须拥抱复杂，因为道德和法律从来都是复杂的。不幸的是，即使在混乱中加入秩序，也不一定能够造就一个简单的世界。</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3128.html" target="_blank">Blumoo评测：用你的智能手机操控家中所有设备</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3130.html" target="_blank">Google投资量子计算：电子计算机已不能满足其对速度的追求</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3129" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1409734852')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--11867482990689383434111817-->
<script> var _trace_page_logid = 1186748299; </script><!--11867458100982724106111817-->
<script> var _trace_page_logid = 1186745810; </script>