<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181719';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-华硕 ZenWatch 智能手表抢先玩报告</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3162";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>华硕 ZenWatch 智能手表抢先玩报告</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">华硕 ZenWatch 智能手表抢先玩报告</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">1</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:安珀 http://ianpo.com/article-5756.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">外媒记者亲自动手操作华硕ZenWatch。</div>
<div class="d-artical-content" id="sourceContent">
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/540e88a170763.jpg" alt="" /></p>
<p>华硕的ZenWatch与我们看到方形安卓可穿戴设备相比，可能它不会截然不同，但是它确实提供了一种独特的风格以及一层额外的功能。据华硕称，这款手表介于传统计时器和智能可穿戴之间，是一款纯手工制作的，分层设计的高质量配件。下面是外媒记者亲自动手操作华硕ZenWatch。</p>
<p>安卓Wear手表现在分成两种类别&mdash;&mdash;功能性的，（通常）价格比较实惠的方形款（例如LG G Watch以及三星Gear Live），还有圆形款可穿戴产品，例如Moto 360以及即将推出的LG G Watch R。第二类型的产品比前者更注重风格设计，其灵感是从传统手表设计中寻找的。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/540e88cb60766.jpg" alt="" /></p>
<p>华硕认为ZenWatch是两中类型的产品中最好的。ZenWatch有手工缝制的意大利皮带，不锈钢结构，看起来更像是一款珠宝饰品而不是智能手表。它的复古设计可能比传统圆形智能手表或者是方形运动手表看起来更偏振一点，但是它确实很具吸引力，而且它的质量也是非常好的。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/540e88e08da08.jpg" alt="" /></p>
<p>这款手表的背部是弧形的，这意味着佩戴的时候，手腕和手表背部接触的面积会少很多。这一点，加上其高质量皮带，整款手表带起来是非常舒适的。而华硕的标志只出现在坚固的扣子上，这一点跟手表的整体设计是搭配的，感觉非常优质。</p>
<p>ZenWatch上的玻璃是微微弯曲的&mdash;&mdash;华硕称其为2.5D。这个微微上翘的表面使得触摸起来更加光滑，更加敏感。尽管其实用标准平面智能手表屏幕还是ZenWatch的2.5D显示屏都没有很大的差别，但是它在浏览UI的时候会更快一点，同时执行动作的时候可能会比我自己的LG G Watch会稍微快一点。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/540e88f887b12.jpg" alt="" /></p>
<p>该公司把很多小的但是聪明的功能设计进可穿戴里，例如快速解锁杆，这使得换皮带时更容易，还有在设备的遮光板上有心率监测器。这款可穿戴用送料架充电，这跟LG G Watch相似。</p>
<p>这款设备的1.63英寸 320x320 AMOLED显示屏非常清晰明亮，ZenWatch通过标准安卓Wear应用跟手机匹配，用户能下载华硕自己的ZenWatch应用，这就使得可穿戴设备多了很多功能。这些功能里还包括有cover-to-mute功能，它能使电话或者催醒闹钟静音，还有可定制的双击动作，以及把手表当作相匹配的手机相机的遥控器。</p>
<p>遗憾的是，在我们实际操作中，我们不够时间来测试这些功能，但是随着ZenWatch快要公布，我们会用更多的篇幅来完成ZenWatch的详细评测。</p>
<p>华硕现在正在为ZenWatch准备一个第四季发布会，在发布会上，华硕设计中心副总裁米奇&bull;杨确认这款可穿戴出货价在欧洲为199欧元（折合260美元），该公司尚未公布在美国的售价信息。</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3160.html" target="_blank">检测脑震荡风险，Jolt Sensor你的脑部专家</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3163.html" target="_blank">LG 圆形表盘智能手表G Watch R上手评测</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">1</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3162" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1410238792')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--11701291990507075594111817-->
<script> var _trace_page_logid = 1170129199; </script><!--11701320200824728586111817-->
<script> var _trace_page_logid = 1170132020; </script>