<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181719';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-【谁在创业】步丢想靠智能化，撬动百亿的童鞋市场</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3169";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>【谁在创业】步丢想靠智能化，撬动百亿的童鞋市场</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">【谁在创业】步丢想靠智能化，撬动百亿的童鞋市场</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:威腾网 http://www.weiot.net/portal.php?mod=view&amp;aid=396867</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">去年北京动物园“十一”期间，孩子丢失的广播有72起，平均一天10多个小孩丢失</div>
<div class="d-artical-content" id="sourceContent">
<p><span style="word-wrap: break-word; float: none; min-height: 1px; margin: 5px auto 15px; text-align: center; display: block; overflow: hidden; color: #333333; font-family: 'Microsoft Yahei', '冬青黑体简体中文 w3', 宋体; font-size: 16px; line-height: 26px; background-color: #fafafc;"><br /></span><span style="word-wrap: break-word; float: none; min-height: 1px; margin: 5px auto 15px; text-align: center; display: block; overflow: hidden; color: #333333; font-family: 'Microsoft Yahei', '冬青黑体简体中文 w3', 宋体; font-size: 16px; line-height: 26px; background-color: #fafafc;"><img src="http://bs.baidu.com/dulife/540fde0561c80.png" alt="" /></span></p>
<div>
<div>创业，有像马云带着&ldquo;天下没有难做的生意&rdquo;这么宏大的理想的，也有最初只是解决自己痛点的，据说陈琪当年做蘑菇街只是为了帮女友买到好看的衣服，近期虎嗅采访的步丢的创始人甘志泉也是如此。</div>
<div>&nbsp;</div>
<div>他的一对儿女曾在上海走失，为了解决这一问题，2013年他创立智能硬件步丢 budiu 的品牌。这家位于北京服装学院创新园内的创业公司，20多人，成立当年就获得泰山兄弟基金会100万美元的天使投资，据悉近期有A轮的融资。</div>
<div>&nbsp;</div>
<div><img src="http://bs.baidu.com/dulife/540fde05f3585.jpg" alt="" /></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>这两年来智能硬件大火，这家产品将在月底面市的创业公司，一年内做了什么，又有哪些地方吸引着投资人？</div>
<div>&nbsp;</div>
<div><strong>为什么是鞋子</strong></div>
<div>&nbsp;</div>
<div>甘志泉在经历了孩子丢失这种刻骨铭心的事情之后，普寻市面产品没有找到好的解决方案，于是决定自己操刀来做，他选定的是儿童智能定位鞋，做内置GPS芯片的鞋子，以GPS+LBS基站双模式的定位技术结合手机APP，可随时掌握孩子的行踪。</div>
<div>&nbsp;</div>
<div><strong>痛点转产品？</strong></div>
<div>&nbsp;</div>
<div>产品就是要解决用户的痛点，但并不意味着每一个痛点就可以做成一个大众产品，孩子走失是每个父母的痛点，但它市场是否足够大？一定能够做成产品来得以解决？</div>
<div>&nbsp;</div>
<div>对于这个问题，甘志泉说第一，去年北京动物园&ldquo;十一&rdquo;期间，孩子丢失的广播有72起，平均一天10多个小孩丢失；第二，步丢不是第一个来解决这个痛点的产品，单就&ldquo;儿童防丢器&rdquo;，网上搜索会随机跳出500多种相关产品。同时近期奇虎360就推出了360儿童手环。</div>
<div>&nbsp;</div>
<div><img alt="" /></div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><strong>为什么是鞋子？</strong></div>
<div>&nbsp;</div>
<div>在回答为什么选择鞋子之前，甘志泉列举了一下，无论国内外大致有这么几类，肩上的背包、腕上的手环（如360的儿童安全手环）、各种报警和提醒器等等。他认为这些产品固然可以解决防止小孩丢失的问题，但同时也带来了其他问题：</div>
<div>&nbsp;</div>
<div><span style="word-wrap: break-word; position: relative; font-size: 14px; line-height: 24px; vertical-align: baseline; top: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: #666666; padding: 15px 25px; display: block; background-color: #eeeeee;">第一，需要时刻穿戴，试问成人的手表有多少人曾经忘记；</span></div>
<div><span style="word-wrap: break-word; position: relative; font-size: 14px; line-height: 24px; vertical-align: baseline; top: 0px; border-left-width: 10px; border-left-style: solid; border-left-color: #666666; padding: 15px 25px; display: block; background-color: #eeeeee;">第二，增加了穿戴负担，由于这不是必需品，为了安全额外增加的。</span></div>
<div>&nbsp;</div>
<div>那有没有更好的选择？甘志泉认为是鞋子，鞋子本来就穿在脚上，稍作改进不会增加小孩的穿戴负担，相比其他产品无疑是较好的选择。</div>
<div>&nbsp;</div>
<div>但就是做一双普通的鞋子，也可能有二三十个步骤，同时还会涉及材料学、力学、人体仿生学等多个方面，更何况是一双内置GPS的鞋子，甘志泉之前一直从事服饰行业，要想做好鞋子，尤其还是一双有点小智能的鞋子，budiu 能做好吗？</div>
<div>&nbsp;</div>
<div><strong>能做好吗？</strong></div>
<div>&nbsp;</div>
<div>budiu 能否做好，创意&amp;设计总监金喆，前李宁公司网鞋和羽鞋的设计师，他向记者介绍步丢在制作过程中的思考和故事。</div>
<div>&nbsp;</div>
<div>
<div>金喆说，据他了解目前所有的公司虽然都有童鞋，但基本上都是小版的成人鞋，他认为这实际上极度不合理，因为小孩脚型弧度与没有成人那么大，所以步丢的鞋子弧度设计会更趋缓。</div>
<div>&nbsp;</div>
<div>除了注重童鞋的独特性，同时刚为人父的他，还更为注重一双好的童鞋对于孩子成长的重要性。他介绍比利时运动鞋研究机构Rscan研究发现10多岁小孩出现的脊椎变形实际就是由于小时候穿的鞋不合适而引起的。或许有了对童鞋的独特研究，他说到&ldquo;正是考虑如此，步丢采用了全新的人体工学设计原理和先进的一体织的面料，即使仅作为一款童鞋，绝对也可以傲视所有的童鞋品牌。&rdquo;</div>
</div>
<div>&nbsp;</div>
<div>金喆介绍仅芯片的放置，步丢就进行了近千次实验。最初的设计是把芯片植入到鞋子的底部， 考虑孩子成长期的运动量，鞋底必须兼顾轻薄和良好的减震性，并且GPS定位信号必须保持稳定，最终决定将GPS芯片放到鞋舌。同时后期换鞋，只需重置GPS芯片，既提高了芯片的利用率，也降低了用户的使用成本。</div>
<div>&nbsp;</div>
<div><strong>仅仅是鞋子加芯片？</strong></div>
<div>&nbsp;</div>
<div>文行于此，步丢好像只是一双加了芯片的鞋子？或许了解它的玩法，你有会新的认识。</div>
<div>&nbsp;</div>
<div><strong>做鞋 2.0</strong></div>
<div>&nbsp;</div>
<div>今年起，步丢的样品已经开发出来了，并进行了多次的内测，近期一次内测已经招募到了近万的粉丝。</div>
<div>&nbsp;</div>
<div>金喆介绍在多次的内测过程中，粉丝对于产品有巨大的帮助。他举了一个小例子，最初设计是系鞋带的，因为许多粉丝反映小孩系鞋带很不方便，系得不好还容易摔跤，后面改为魔术贴，粘的，粉丝也反映这种也不太好，时间一长，粘性会变差，最终定型为现在一脚蹬的，受到粉丝们的一致认可。这些改进实际上都是粉丝的贡献， 金喆开玩笑说这是做鞋 2.0的感觉。</div>
<div>&nbsp;</div>
<div><strong>社交功能</strong></div>
<div><strong>&nbsp;</strong></div>
<div>步丢设计鞋子的同时，也开发了自己的APP，除了基本的定位、随身看护、导航等基本功能，还提供亲子社交功能。通过APP，父母不仅可以查看孩子的位置及一天的行动轨迹等，也可以多方实时沟通，而不需要跳转到其他应用上去。</div>
<div>&nbsp;</div>
<div>甘志泉介绍APP除了父母定位小孩之外，还可以让用户之间进行交流，由于人群比较特定，话题也较相同，如安全、健康、成长及教育等，用户的粘性和活跃度得以保证，今后的提升空间会更为可观。</div>
<div>&nbsp;</div>
<div>从定位到社交的进化，步丢已经超出了一双鞋子的范畴，其用户也可以享受到更多意想不到的功能，所以甘志泉说2013年光淘宝童鞋的交易量就为1.18亿双，是一个数百亿级的市场，步丢只要占据1%的市场份额，也获益不小。</div>
<div>&nbsp;</div>
<div><img alt="" /></div>
<div>&nbsp;</div>
<div><strong>或有挑战</strong></div>
<div>&nbsp;</div>
<div>作为一个三岁小孩的老爹，我假想自己小孩使用这个鞋子，感觉会遇到下面的一些问题，或许也是步丢的挑战。</div>
<div>&nbsp;</div>
<div>精度问题：步丢在众筹网上介绍，定位精度室内50-500米，室外3-15米，从精度上来看，如果室内50-500米，在一个商场里面，如果到了500米，那小孩可能都到商场外面了，若出现这种情况，对于家长来说，这实在无法接受。</div>
<div>&nbsp;</div>
<div>营销模式：步丢介绍3-8岁的小孩应该每半年要换一双鞋子，那一年买两双新鞋子，不知道价格如何，如果太高会不会造成家长的负担。写稿时得到的最新消息，步丢的价格会是一天一元钱，700多元，可以为孩子申请四双鞋，穿两年，还是一个可以接受的价位。</div>
<div>&nbsp;</div>
<div>在采访过程中，步丢的员工说，内部一个口头禅是&ldquo;不丢人&rdquo;，希望能够设计和制作出不丢人的产品，期待他们8月底上线的&ldquo;不丢人&rdquo;的产品！</div>
</div>
<p>&nbsp;</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3168.html" target="_blank">Withings Home：检测环境质量的智能摄像头</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3170.html" target="_blank">斯陌威儿童智能手表，宝贝的贴身“保镖”</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3169" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1410326211')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--11662480050689383434111817-->
<script> var _trace_page_logid = 1166248005; </script><!--11662477170321477642111817-->
<script> var _trace_page_logid = 1166247717; </script>