<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181719';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-LG Lifeband智能手环综合测评</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3186";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>LG Lifeband智能手环综合测评</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">LG Lifeband智能手环综合测评</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">1</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:威腾网 http://www.weiot.net/portal.php?mod=view&amp;aid=397332</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">Lifeband Touch是LG在智能健身环上的突破</div>
<div class="d-artical-content" id="sourceContent">
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54126de36e801.jpg" alt="" /></p>
<p>Lifeband Touch是LG在智能健身环上的突破，而且传闻还不错，但相比同行竞争者，他并没有增加有用或者有趣的功能。</p>
<p>有时候我按耳机的按钮来查看我的心率、并且在日光下通过黑色的手腕环来查看时，我会感到晕眩。也许我该喝水了，但我突然发现我带了太多这些小设备。一个蓝牙健身环和蓝牙心率耳机连接我的Nexus 5手机，感觉有点多了。</p>
<p>市场上已有很多类似的智能健身环，LG通过Lifeband Touch参与竞争：该设备一部分是计步器，另一部分是半智能手表。它在安卓手机和iPhone手机上都可以运行。它可以控制音乐播放。虽然它没有自己的内置的心率监视器，但可以和其它的设备连接：特别是，一对可以正确测量心率的新LG耳机。</p>
<p>我曾很喜欢LG独特的心率监测方法，并希望能找到简单易行的使用方法。但现在看情况并非如此。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54126dfb565b5.jpg" alt="" /></p>
<p>LG Lifeband Touch的问题一部分是由于它的设计。弯曲的黑色手环，顶部硬而光滑，但另一端很柔软，这样就可以像手镯一样带起来，但感觉比其它健身手环更重。它的有机发光二极管（OLED）显示屏是触摸屏但很敏感，有点像Withings&nbsp;Pulse，但和颜色鲜艳的Samsung&nbsp;Gear fit相比技术含量有点低。</p>
<p>OLED显示屏在室内光线下可以看得很清晰，但在室外日光下就完全看不清了。也许你会把Lifeband作为手表，所以在户外或者遇到晴朗的天气时，并不是很好用。另外，你还要通过主要按钮来看时间和你的健身状况。但至少在你抬手腕看时间时，运动控制会让显示屏亮起来。</p>
<p>Lifeband可以显示很多数据：大致的卡路里消耗量、运动距离、以及普通时钟，外加一个可以通过蓝牙播放手机内容的基本音乐控件（音量、播放历史、播放/暂停），但这些子菜单很奇怪。</p>
<p>除了点击屏幕，还有一个单独的圆形按钮可以切换几种模式。那个圆环也可以发光：有不同LED色调，甚至根据不同的模式进行不同的跳动。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54126e1db8fa1.jpg" alt="" /></p>
<p>如果Lifeband Touch处在计步器或者卡路里计算模式，环绕着按钮的LED色环可以发出红光则意味着你离每日设定目标还相差很远。如果你处于心率监测模式，红色意味着高强度的工作负荷。还有就是可能是电池正在充电或者电量很低了。要找出浅蓝色（心率区）、绿色（完成目标/电池满电/增氧心率区）或者其它颜色在运用所代表的含义需要一个解码表。</p>
<p>横向读取OLED显示屏、获取合适的子模式页面也很不易。选择时钟、运动、以及音乐控件模式，但在运动模式，你不能查看每日进程和卡路里消耗量、或者计算走过的路程。而且，在设定时间内的运动模式，如果你点击开始，数据将会转换到计时器；如果你已和心率监测器配对，那就会转到心率数据。切换要求手势跨越整个屏幕；如果手势做了一半，你可以能会点击到其它程序，这样就会导致完全不同的结果。还不明白？我到目前为止还没成功获得音乐控制功能，因为它需要通过几个屏幕画面来调整音量。</p>
<p>看似简单的设计，但如果想知道怎么用，真就像对待八十年代的数字手表一样令人感到困惑。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54126e3e0ef58.jpg" alt="" /></p>
<p><strong>选配的心率监测耳机：</strong></p>
<p>LG新奇的HeartRate Earphones需要１８０美元，而且和１５０美元（英镑／１９９澳元）的Lifeband Touch分开销售。它们是完全不同的产品，所以可以独立使用。但是它们也可以一起配合使用，为Lifeband Touch提供心率监测功能，不同于以ＬＥＤ为基础的光学阅读器腕带。不过，该款耳机目前还没有在澳大利亚出售。</p>
<p>用耳机而不是腕带可以更好地监测心率：我试了ＬＧ耳机，通过比较，我发现它们得出的数据和放在胸部监测的Polar心率监测器得出的数据正确水平相似。我从未发现监测错误，而且数据都可以实时反映。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54126e570e4ee.jpg" alt="" /></p>
<p>ＬＧ耳机通过智能无线插入器储存电池，并且通过蓝牙连接手机。因为它们是无线的，而且需要分开充电，所以你需要去掉多余懂得插孔，使用大型ＵＳＢ端口来提高电量。耳机是封闭的环状，遮掩可以刚好合适耳朵形状，还有一些不同形状的硅接点。你很难发现心率感知贴片，因为它们环绕着耳机，而且很光滑。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54126e6aa658f.jpg" alt="" /></p>
<p>这款耳机并没有我试过的其它耳机那么舒服，但是很可以戴得很稳。它并没有像我最喜欢的Etymotic耳机那样可以隔音，而且它们的音频质量还可以但不是很好。对于１８０美元来说，很难全部做到。你买的是心率监测功能，而不是音乐质量。戴着一套心率监测器的耳机意味着你不能再戴其它的了，因为它一直在运作。更糟的是，这些耳机都有一些定制的插头，这意味着你不能使用普通的耳机插孔。耳机不断的戴和摘除会使之遭到破坏，不知道昂贵的心率监测器会怎样呢？</p>
<p>使用HeartRate Earphones时，你可以按下一个可以发出和Lifeband相似颜色光亮的圆环按钮，从而显示不同心率，同时会有声音告诉你你的心率值、运动时间以及运动距离。　这就是HeartRate Earphones最好的功能。但是，我更偏向购买一个更便宜的第三方放在胸部的心率监测器。</p>
<p>不管是在Lifeband还是Fitnes应用程序上的LG心率监测软件，都是为了显示你运动的强度以及你运动的程度，以免你超量运动。你可以调整已设定最大心率值以及你想要在LG Fitness程序上设定的运动量，但并不总是会影响你的真实运动量。另外，LG提示说在它们的使用说明里，并没有说明这个真的是一种可以帮助健康的医学方法。</p>
<p>从技术上说，它是一种娱乐性设备。所以，如果你真的健康状况不佳或者很担心你的心脏，还是别依赖Lifeband Touch。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54126e7f7b24e.jpg" alt="" /></p>
<p><strong>"半智能手表"：</strong></p>
<p>Lifeband Touch宣称自己的功能如同智能手表一样,但只是吸引眼球的说法而已。不像三星Gear Fit来自不同应用程序的高级提醒设置，Lifeband只知道提醒来电和短信。当你有来电时，手环会嗡嗡作响，然后你用手盖住屏幕就可以消除噪音。</p>
<p>虽然我不能很轻松地阅读短信，当我发送样板信息的时候，我看到的是来电显示和发送时间。我一点击，消息就没了，我无法恢复它们。而且Lifeband子菜单无法浏览历史记录。</p>
<p>就像Jawbone&nbsp;Up和三星Gear Fit，Lifeband Touch通过震动来提醒你是否完成健身任务，或者你也可以设置在长时间休息后发出响声。Lifeband Touch会在蓝色的OLED显示屏上显示&ldquo;动起来！动起来！&rdquo;。我也听到过响声，但我不确定是提醒我需要去运动了，还是已完成了50%的健身目标，又或者是有信息来了。</p>
<p>你也可以设置无声警报，这样你早上醒来时就不会吵到小孩。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54126e9c265f7.jpg" alt="" /></p>
<p><strong>iSO、Android平台支持：</strong></p>
<p>好消息是Lifeband Touch与iPhone和Android手机合作。坏消息是提供支持的手机型号很局限：iPhone 4S、iSO6或7平台的iPod Touch 5、还有LG G2、谷歌Nexus 5、LG G Flex、三星Galaxy S3/S4、Note 2/Note 3、以及安卓平台的Jelly Bean 4.3。我无法在Galaxy S5的谷歌游戏上进行官方下载LG Fitness应用程序。</p>
<p>对iOS用户还有其它限制：Lifeband只能接受来电提醒而短信则不行。而且这些来电还没有号码显示，当手环响时，你所看到的仅仅是一个手机电话图标。兼容Android手机的手环也可以通过Lifeband消除噪音。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54126ebb2fd56.jpg" alt="" /></p>
<p><strong>电池寿命：</strong></p>
<p>您需要一个软件狗像磁铁一样贴在Lifeband背面：它看起很不错，而且可以用大型USB连接线进行几个小时的充电。</p>
<p>但Lifeband Touch的电池寿命并不是特别长：不与其它设备配对的话可以使用五天，配对时只能使用两天。在两天半的时间里，我只挤出一点时间来充电。我不知道为什么电池寿命可以这么短：高技术的三星Gear Fit会更好，不管在哪里都可以使用3-6天，而且大多数健身手环至少一周才需要充电一次。</p>
<p>&nbsp;</p>
<p><strong>总结：</strong></p>
<p><strong>优点：</strong></p>
<p>LG Lifeband的内置振动警报具有来电提醒功能，它支持iOS和Android手机，LG健身应用程序可以作用于第三方平台心率监测器和一些外部第三方健身应用程序。</p>
<p><strong>缺点：</strong></p>
<p>Lifeband比所需更厚重，而且在亮光下很难看得清屏幕；和iPhone配对时，会失去一些通话和短信提醒功能；健身环的点击界面有时不灵敏，而且电池寿命很短。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54126ed80ecd3.jpg" alt="" /></p>
<p>顺便说，单独的LG HeartRate Earphones也没有这么长的电池寿命，充满电时，如果监测心率，只能连续使用四小时。</p>
<p>所需的LG Fitness程序可以很好地追踪个人目标完成情况，包括每天和长时间的任务完成量，还可以通过GPS来跟踪个人运动量。心率数据可以通过心率监测器收集：LG自己的Heart-rate Earphones或第三方平台，可从Polar、Zephyr、Wahoo选择。这很好，至少LG提供了选择。</p>
<p>同样地，LG应用程序可以连接受欢迎的第三方健身程序MyFitnessPal、RunKeeper以及MapMyFitness，还可以通过Facebook和Twitter分享数据。</p>
<p>和Lifeband Touch或者心率监测器配对成功后程序就可以启动。拥有这些额外的选择让LG程序更吸引人。它比三星的S Health更好，不过没有Withings或者Jawbone Up那么具有直观性。它比你想象的要具体和复杂，不是第一次糟糕的尝试。只不过，有这么多其它选择，LG不会成为类似产品中最好的。</p>
<p>也许未来我们全身都会带上传感器。但如果每个都分开充电这就不会实现，而且如果它们的电池寿命都和LG建设设备这么短，那就更不可能了。当LG带着一些有趣的理念进去健身手环市场：包括心率耳机、不相关的Lifeband Touch软件包，这些并没有预想中的那么好，而且没有智能手表那么智能化，也不是像Gear Fit这种智能追踪器。</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54126eed24a74.jpg" alt="" /></p>
<p>&nbsp;</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3185.html" target="_blank">Apple Watch续航成棘手问题，苹果想在发售前改善</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3187.html" target="_blank">吃货的秘密武器-AcbirdWiFi智能煲</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">1</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3186" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1410494330')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--11542335430689383434111817-->
<script> var _trace_page_logid = 1154233543; </script><!--11542289010371809290111817-->
<script> var _trace_page_logid = 1154228901; </script>