<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181717';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-“Mother”接管你的智能家居</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3350";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>“Mother”接管你的智能家居</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">“Mother”接管你的智能家居</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:威腾网 http://www.weiot.net/article-401647-1.html</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">Mother是一个有着强大的内在伸缩性的数据追踪器。你购买时可获得四个信息记录程序（Cookies）、或远程传感器，你可以用它们来监测运动或温度。这些Cookies通过与Mother中心进行信息交流，可以在相关网站和移动app上显示各种有用信息——65英尺以内。</div>
<div class="d-artical-content" id="sourceContent">
<p>优点：Sense公司299美元的Mother作为家庭自动化套件足够灵活。</p>
<p>缺点：对于自动化的智能家居，299美元有点贵，而且远程传感器感知范围只能在65英尺内。对这有限的范围，这价格太高了。</p>
<p>结果：如果你可以克服Mother奇怪而且有些可怕的品牌设计。Sense公司的家居自动化设备是生活中一种明智的选择。</p>
<p>Sense300美元的Mother最近一直出现在各大科技会议，而且每次我们看见这些空白的、毫无生机的眼镜、以及嘈杂世界中轻微上扬的微笑，我们就会感到毛骨悚然。考虑到Sense奇怪的品牌信息&mdash;&mdash;&ldquo;谁能比你妈妈更加关系你？Mother只在你需要的时候关心你。这就是Mother。它就像妈妈，而且比妈妈更好。&rdquo;&mdash;&mdash;我宁愿在黑暗的小巷里遇到Hannibal Lecter，而不愿遇到&ldquo;Mother&rdquo;。</p>
<p>因为Sense奇怪的智能家居产品很快就生产制造了，我们觉得要重新考虑对最初产品的预定，并真正弄懂它是怎么运行的。虽然我还不喜欢它的设计美学观和不拘一格的营销方式，但当我开始测试这个令人惊讶的家居自动化设备时，一切都开始变得有意义了。</p>
<p>从本质上讲，Mother是一个有着强大的内在伸缩性的数据追踪器。你购买时可获得四个信息记录程序（Cookies）、或远程传感器，你可以用它们来监测运动或温度。这些Cookies通过与Mother中心进行信息交流，可以在相关网站和移动app上显示各种有用信息&mdash;&mdash;65英尺以内。当Cookies超过65英尺，它们会继续记载数据，但你无法访问，直到你回到Mother所在范围（看到了吗？难道这听起来不恐怖吗？）</p>
<p><img src="http://bs.baidu.com/dulife/5434e4aa76eb4.jpg" alt="" /></p>
<p>没错，Sense的Mother有些昂贵，而且65英尺的范围是有点小，但这个300美元的装备有很多独一无二的功能，可以让你自由地追踪一天走的步数和晚上的睡眠质量。</p>
<p>&nbsp;</p>
<p><strong>了解Mother</strong></p>
<p>Mother是一个球状的白色光滑中心器，形状像保龄球或俄罗斯嵌套玩具。通过Ethernet连接线直接连接无线路由器，按照互联网上应用程序的说明来注册，并对它四个彩色的运动和温度感知Cookies进行配对。</p>
<p>这个过程很简单，但没有给我们对Mother的第一印象产生任何影响。</p>
<p><img src="http://bs.baidu.com/dulife/5434e4da05e91.jpg" alt="" /></p>
<p>每一个中心器都有一个为一标识符，而不是24字母数字代码或者一些其它随机生成的ID号码，Mother有名字的。我的那台叫&ldquo;Elwanda Melinda&rdquo;&mdash;&mdash;这当然比一长串的字母或数据更容易输入，但看起来明显很诡异。</p>
<p>每个Cookie也有自己的名字。橙色的叫&ldquo;United Sundae&rdquo;、黄色的叫&ldquo;Adored Crunch&rdquo;，绿色的叫&ldquo;Natural ConNECtion&rdquo;，蓝色的叫&ldquo;Ideal Mountain&rdquo;。</p>
<p>在初始设置及后面的设置中，你也可以改变Mother的LED眼睛的颜色。你有八种选择，包括蓝色、粉色、浅蓝色、黄色、绿色、紫色、橙色和红色。我回避了红色而选择稳重的紫色，免得让这无生命的Mother中心器&ldquo;复活&rdquo;，然后控制我的公寓以及邻居，最后控制整个世界。</p>
<p><img src="http://bs.baidu.com/dulife/5434e51d920a5.jpg" alt="" /></p>
<p>一旦在网上的所有设置都令你满意，你就可以使用相同的登陆信息访问移动版本，Android、iOS、Windows用户都可以使用。</p>
<p>&nbsp;</p>
<p><strong>Mother能够做什么</strong></p>
<p>从Web应用程序的Senseboard主页选择&ldquo;添加应用&rdquo;开始追踪；如果你想进行任何大的设置调整，你最好选择Web应用程序。移动app设计很好，但它只提供有限的简况，但是Web应用程序提供完整的个性化选择。</p>
<p>你的选择很多样化&mdash;&mdash;我用了全部四个Cookies来检验Mother的很多功能，而且一些传感器可以同时执行多个功能。</p>
<p>我把两个传感器安装在门上（前门和庭院门）来接收它们被打开时的推送消息。我也用它们来追踪周边环境温度。我把另一个传感器放在口袋里，它就像一个计步器，追踪我的运动步数和我消耗的卡路里。我也把它作为一个近距离传感器，所以当它检测到我在家时可以令Mother禁用和门有关的运动传感器。我把另一个传感器放在我的床套下，它可以发送睡眠数据到应用程序，而且早上还可以作为闹钟，当它意识到我在正式闹钟响前会很忙碌，它就会提前把我叫醒，就像Hello Sense睡眠系统。</p>
<p><img src="http://bs.baidu.com/dulife/5434e546f11ac.jpg" alt="" /></p>
<p>所有最近收集到的数据都会在Senseboard上显示，你可以在任何时间临时禁用、删除或调整任何Cookie及其任何功能。当你点击进入其中一个功能，捏可以获取更多具体细节，所以你可以看到一个睡眠图和分项睡眠数据：在9月25号夜里，我有79%的时间处于深度睡眠，7%时间处于轻度睡眠，6%的时间处于中间睡眠以及8%的时间是醒着的。</p>
<p>最重要的是，一切按预期运行。无论门在何时被打开，我都收到通知，还受到睡眠周期相关的数据，并且可以检测我的步数和卡路里消耗，所有数据来源于一个中央位置。它集健身环、家居自动化安装包、以及安全系统于一身。在当今市场上真的没有什么像Mother这样的。</p>
<p><img src="http://bs.baidu.com/dulife/5434e56035314.jpg" alt="" /><span style="font-size: medium;"><br /></span></p>
<p>不过它确实有一些局限性。Cookie只能在65英尺以内与中心器进行通信。所以，任何时候，你只要超过这个范围，你就无法再你回来之前收到数据。我也发现健身追踪器的设置有些麻烦。虽然你可以切换公制和英制单位，但在身高上没有英尺和英寸的切换，只有在脚长部分有英尺，所以我输入我是5.6英尺高而不是5英尺7英寸。不过相差不大。</p>
<p>&nbsp;</p>
<p><strong>结论</strong></p>
<p>Sense300美元的Mother家居自动化和数据追踪工具包虽然是非传统的，但这并不意味着它不会为你的智能家居添加光彩。如果你想让你的生活变得更有组织性，而且喜欢Mother中心器的君王式的红眼睛监测你，Sense是不错的选择。但是，Mother的高价位是一个方面，如果你想不停地追踪步数，你没碰上好运气了。另外，它高度的适应能力也许对你忙碌的生活变得更有意义，就像你曾经专横的母亲一样。</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3349.html" target="_blank">Greater Than——把上司抱怨抛于脑后的可穿戴设备</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3351.html" target="_blank">欧瑞博Allone WiFi智能遥控器测评</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3350" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1412752911')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--10679726090507075594111817-->
<script> var _trace_page_logid = 1067972609; </script><!--10679723300438918154111817-->
<script> var _trace_page_logid = 1067972330; </script>