<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181716';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-专家说：索尼怕是不行了</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3452";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>专家说：索尼怕是不行了</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">专家说：索尼怕是不行了</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">1</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:快科技</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">。在年复一年的亏损之后，极其严峻的财务危机随时会压垮这匹“骆驼”，而仅仅依靠一些修修补补，恐怕难以真正拯救索尼。</div>
<div class="d-artical-content" id="sourceContent">
<p>&nbsp; &nbsp; 10月15日，索尼中国官网发布声明，对近来不胫而走的&ldquo;索尼计划退出中国市场&rdquo;传言&ldquo;感到震惊和困惑&rdquo;。声明强调：&ldquo;目前，中国与美国、日本一道跻身于索尼全球三大市场之列&rdquo;，该公司&ldquo;正不断强化在华运营水平，确保和增强中国作为重要增长和利润贡献市场的战略地位。&rdquo;</p>
<p>&nbsp; &nbsp; 索尼的&ldquo;退中&rdquo;传言，当然事出有因。一个重要的导火索是，9月中旬该集团发布2014年度巨额预亏公告，CEO平井一夫承认，为挽回颓势，旗下智能手机部门将全球裁员，估计裁减15%左右的员工。中国市场的相关业务，或因此首当其冲。</p>
<p>&nbsp; &nbsp; 索尼亏损，已非一朝一夕的事。曾经享负盛名的这艘企业巨轮，因何连年业绩触礁，风雨飘摇？它还能找到回天之术、活命良方吗？</p>
<p>&nbsp; &nbsp; 巨亏2300亿日元(约合131亿元人民币)，这是一个什么概念？</p>
<p>&nbsp; &nbsp; 自2008财年起，索尼的业绩几乎连续7年亏损，而2014财年这一预亏损额，可以跻身历年&ldquo;三甲&rdquo;，比2013年度足足翻了一番。</p>
<p>&nbsp; &nbsp; 上任两年半的索尼CEO平井一夫，极力推行转型调整后，交出的这样一份成绩单，简直可以用惨不忍睹来形容，而此前预计的年度亏损额只有500亿日元。</p>
<p>&nbsp; &nbsp; 在9月中旬索尼公布预亏业绩后次日，东京证券交易所上的该公司股价遭遇断崖式下跌，一度跌幅高达13%，创下东京股市个股3年来最大跌幅。</p>
<p>&nbsp; &nbsp; 但在当时举行的记者会上，平井一夫誓言：&ldquo;我的责任是重建整个索尼业务，公司业绩不恢复，我绝不下台！&rdquo;</p>
<p><strong>昔日霸主不敌中国&ldquo;群狼&rdquo;</strong></p>
<p>&nbsp; &nbsp; 导致索尼巨额亏损的直接原因，是索尼移动业务的不景气。在2014财年的首个季度，索尼智能手机的总出货量仅为940万部，远远落后于苹果、三星等全球智能手机市场领头羊。</p>
<p>&nbsp; &nbsp; 平井一夫表示，为了应对当前困境，索尼2014年将不派发年度股息，并重新调整移动业务部门的发展策略，对旗下智能手机部门进行全球裁员，预计裁减15%的员工。</p>
<p>&nbsp; &nbsp; 2014年以来，在相继出售了VAIO个人电脑及电子书业务，并分拆电视业务之后，平井一夫将索尼的重心放到了移动、数码影像和游戏三大核心上，但谁能料到，在如此短的时间内，移动业务会成为阻碍索尼复兴的又一个累赘？</p>
<p>&nbsp; &nbsp; 而移动业务部门大幅&ldquo;裁员&rdquo;，意味着曾被寄予厚望的索尼电子业务复兴策略，遇到巨大挑战。</p>
<p>&nbsp; &nbsp; 在索尼发布巨额预亏公告的次日(9月18日)，权威金融评级机构标准普尔将索尼的债信评级调降至&ldquo;BBB-&rdquo;，此乃传统上对公司债务信用的最低水平评级，预示着下一步还有可能跌至&ldquo;垃圾级&rdquo;。</p>
<p>&nbsp; &nbsp; 标普认为，随着竞争加剧，索尼旗下移动业务的利息、税项、折旧及摊销前利润或将大幅下降。</p>
<p>&nbsp; &nbsp; 索尼此轮亏损的病根，在于其快速下滑的移动业务。2014年7月，索尼将本财年智能手机销量预期，从此前的5000万台削减至4300万台。随后，索尼为其移动部门计提了1800亿日元(约合17亿美元)的资产减损支出。</p>
<p>&nbsp; &nbsp; 有日本证券市场分析师认为，虽然这仅仅是对索尼财务状况的一次调整，不涉及任何现金，但它反映了该公司移动业务的价值已大不如前，利润将低于此前预期。分析师称，自本财年开始，索尼移动业务的表现就不太理想，它应该更早做出资产减损的决定。</p>
<p>&nbsp; &nbsp; 早在2014年年初，索尼公布了一个信心十足的手机销售计划：今后两年智能手机的销售量倍增，出货量超过8000万台，拿下全球第三大手机厂的名号。当时，索尼旗下的Xperia高端智能手机系列在全球市场均有不错的表现，索尼期望，今年能够通过强化美国和中国市场的销售来达成上述目标。</p>
<p>&nbsp; &nbsp; 2014年7月，索尼中国总裁栗田伸树接受记者采访时，丝毫没有掩饰对中国市场的信心：&ldquo;在中国电视市场和数码影像市场增长趋缓甚至不增长的趋势下，我们对于中国的智能手机业务期待很高。&rdquo;言下之意，公司在中国市场的表现，对整个索尼的复兴非常关键。</p>
<p>&nbsp; &nbsp; 但事与愿违，索尼&ldquo;不幸&rdquo;遇上了今年中国智能手机市场的大变局。随着华为、小米等国产智能手机厂商对平价市场的横扫，以及苹果、三星长期以来对于高端市场的垄断，索尼智能手机的市场空间遭到无情压缩。</p>
<p>&nbsp; &nbsp; 2014年4至6月，全球智能手机市场的供货量增长了20%，创出历史新高，且仍在持续增长。但该季度索尼智能手机的出货量仅为940万部，在全球智能手机厂商中排名第九，其销量增长已远远落后于全球智能手机销量的平均增长速度。</p>
<p>&nbsp; &nbsp; 出席业绩预亏发布会的的平井一夫承认，智能手机业务未达预期，主要是中国智能手机厂商的崛起，竞争激化，移动业务市场和竞争环境发生了显著变化。</p>
<p>&nbsp; &nbsp; 他说，在面对以低价格为主要武器扩大市场份额的中国智能手机品牌时，索尼缺乏足够的竞争力。</p>
<p><strong>调整还是坚守？</strong></p>
<p>&nbsp; &nbsp; 尽管瑞银集团(UBS)分析师认为，在竞争严酷的智能手机领域，索尼很难取得明显优势，它面临着产品整合及发展方向的双重困境，但索尼自身并未有放弃移动业务的打算。</p>
<p>&nbsp; &nbsp; 平井一夫表示，索尼接下来将通过削减成本、减少中低档产品、聚焦高端设备开发等途径，努力实现盈利。具体而言，索尼计划调动旗下丰富的影音、网络服务、技术等资源，设计全新的产品线，从而提高移动业务的竞争力。</p>
<p>&nbsp; &nbsp; 裁员自然是削减运营成本的第一利器。平井一夫透露，索尼将裁减移动业务部门15%的员工，涉及大约1000个工作岗位，同时考虑减少智能手机销售地区和机型。这跟不久之前他雄心勃勃的进一步扩大移动业务部门的战略规划，可谓大相径庭。</p>
<p>&nbsp; &nbsp; 考虑到日本总部及海外销售公司迫在眉睫的裁员计划，索尼计提了1350亿日元(约合77亿元人民币)的结构改革费用。10月下旬发布4～9月期财报时，索尼将公布智能手机业务重建举措的详细内容，届时整合费用有可能进一步膨胀。</p>
<p>&nbsp; &nbsp; 虽然移动业务亏损巨大，但平井一夫声称，索尼仍然有必要维持后续投入，坚守这一领域，因为在不久的将来，智能机市场的火热将逐渐转移至其他领域，比如可穿戴设备等等。</p>
<p>&nbsp; &nbsp; &ldquo;我们相信，为了成功进入新的领域，智能机市场是一道可以打通现有市场与未来市场的桥梁。&rdquo;他说，&ldquo;所以，我们需要继续在智能机领域奋斗，这样有助于我们更好地与供应商、运营商、消费者保持密切的联系。&rdquo;</p>
<p>&nbsp; &nbsp; 最新消息显示，在中国市场遇挫之后，索尼正打算微调策略，将东南亚国家视为未来智能手机业务拓展的重点。</p>
<p>&nbsp; &nbsp; 据索尼印度总经理Kenichiro Hibi 9月底透露，鉴于印度经济的增长潜力，索尼已准备在当地开拓大众经济型产品市场。</p>
<p>&nbsp; &nbsp; 这位索尼在印度的一把手表示，随着Android One打造的平价智能手机系列)市场的扩大，我们在思考如何真正利用索尼在高科技方面的优势来推出一些新的产品，为印度市场提供价格更实惠的智能手机。</p>
<p><strong>&ldquo;功能机&rdquo;时代的背影</strong></p>
<p>&nbsp; &nbsp; 但市场仍然普遍担心，索尼目前恶劣的财务状况，能否给其移动业务的转型提供足够的缓冲空间？</p>
<p>&nbsp; &nbsp; 在几乎接连6个财年的亏损(仅2012财年净盈利430亿日元)之后，索尼的&ldquo;钱袋子&rdquo;已处在极其危险的枯竭边缘。公开数据显示，截至2014年第二季度，索尼的负债总额高达近13万亿日元(约合7400亿元人民币)，负债率高达85%，同期营运现金流则只有可怜的660亿日元(约合37.6亿元人民币)上下。</p>
<p>&nbsp; &nbsp; 为了降低运营成本，索尼几乎到了无所不用其极的地步。今年7月底，索尼做出了退出伦敦股市的决定，它们对此解释称：&ldquo;由于成交量稀少，继续选择在伦敦证券交易所挂牌已没有什么经济理性。&rdquo;</p>
<p>&nbsp; &nbsp; 据称，索尼要留在伦敦证交所，每年仅需花费1000万日元(约合9.8万美元)左右的运营费用，一家昔日的全球电子业巨头，竟然放弃其上市伦敦证交所44年的地位，不能不令人唏嘘。</p>
<p>&nbsp; &nbsp; 与此同时，索尼还取消了2014财年的年终分红，原因是管理层认为&ldquo;今年的情况非常严峻&rdquo;，这是索尼自1958年上市以来首次取消分红。即便是出现将近4567亿日元巨亏的2011财年，索尼对忠心的股东们也从来没有如此冷酷无情过。</p>
<p>&nbsp; &nbsp; 事实上，除移动业务之外，数码影像和游戏业务这两大索尼目前依赖的支柱也危机重重。</p>
<p>&nbsp; &nbsp; 2013财年，索尼数码相机和数码摄像机销售持续下降，当年其影像产品及解决方案业务实现7412亿日元的销售收入，与上一财年相比下降了2%。若非得益于汇率的利好，这一销售收入金额的下滑幅度会更大。</p>
<p>&nbsp; &nbsp; 在平板电脑市场，根据互联网数据中心(IDC)的最新数据，在今年二季度苹果以接近27%的市场占有率位居第一，三星位居第二(约17%)，联想排名第三(近5%)，接下来的市场被华硕(4.6%)和宏碁(2%)瓜分，索尼平板电脑只能归入&ldquo;其他&rdquo;之列。</p>
<p>&nbsp; &nbsp; 而游戏业务方面，虽然2013财年索尼实现了9792亿日元销售收入，但其PS3硬件的销量已经开始有所下降，新近推出的PS4产品，虽然有一定的市场影响力，却有可能成为其游戏设备产品的绝唱。</p>
<p>&nbsp; &nbsp; 有消息称，索尼业已放弃PS5的研制，原因是未来的Playstation平台有可能彻底转型&ldquo;云游戏&rdquo;而放弃主机。不少行业人士认为，随着智能手机和平板电脑的功能越来越强劲，单独的游戏主机越来越没有必要存在，索尼通过游戏主机硬件获取收入的空间，也会越来越小。</p>
<p>&nbsp; &nbsp; 观点较为激进的家电行业观察人士刘步尘认为，索尼是功能机时代的英雄，智能时代不属于它，索尼的光辉岁月渐行渐远，那个曾经的霸主，不会再王者归来。</p>
<p>&nbsp; &nbsp; 他甚至断言，属于日本电子消费巨头的时代也已过去，索尼东山再起的机会，微乎其微。</p>
<p><strong>索尼亟须刮骨疗毒</strong></p>
<p>&nbsp; &nbsp; 作为日本规模最大的消费类电子产品企业，索尼代表着这个制造业强国曾经的辉煌。自其诞生以来，索尼用最新的技术改变乃至引领了人们的生活，从半导体录音机、特丽珑彩电到Walkman，很长一段时间以来，索尼都是全球消费电子市场当之无愧的王者。</p>
<p>&nbsp; &nbsp; 但2008年之后，一切忽然改变，索尼的业绩急转直下，从2007财年净利润近3700亿日元，一直到如今预亏2300亿日元，昔日的王者霸气全无，甚至是迷失了方向。</p>
<p>&nbsp; &nbsp; 索尼将如此巨大的亏损，仅仅归因于单个业务的表现不佳，东京的投资者们显然不会买账：在中国这个全球最大的电子产品市场，不光苹果、三星等外来巨头赚得盆满钵满，甚至土生土长的小米、华为，都能分一杯羹，为何偏偏索尼就难以生存？</p>
<p>&nbsp; &nbsp; 问题显然不在于索尼的移动智能手机业务出现问题，而在于索尼本身&ldquo;病了&rdquo;。</p>
<p>&nbsp; &nbsp; 索尼的病根由来已久，可以归结为创新精神的缺失、僵化的管理、封闭的思想以及大企业病&mdash;&mdash;这些近一二十年来日本知名企业日渐凸现的通病，在索尼身上表现得尤为明显。</p>
<p>&nbsp; &nbsp; 一个最直接的例证就是：自从PS游戏机之后，索尼十几年来都未能再有一款足以引导潮流创新的产品推出市场了，索尼就这样心安理得地守着品牌老本过活，活到现在。</p>
<p>&nbsp; &nbsp; 与此同时，经历了数十年大规模业务扩张的索尼，大企业病越来越严重。在出井伸之(1995年~2005年期间任索尼社长)时代，索尼旗下业务部门成倍增加，各业务部门之间却缺乏有效的沟通，企业形态日趋臃肿，以致于2012年平井一夫上台之后，不得不把削减部分边缘部门，打通企业内部关系视为首要任务。</p>
<p>&nbsp; &nbsp; 另一方面，过于保守封闭的技术思想，也在某种程度上加速了索尼的衰落：早在1999年，索尼就研发出了基于记忆棒为载体的随身听产品，比苹果的iPod早了足足两年，但索尼顾忌到该产品对主打产品索尼音乐的冲击，并未进行大力推广，以至于苹果在2001年推出iPod后，索尼引以为傲的Walkman被迅速取代，在随身听市场一败涂地。</p>
<p>&nbsp; &nbsp; 有国内电子消费产品行业人士谈到索尼的衰落时，曾感叹道，日本人特别追求精细化，办事特别认真，然而正是因为这一点，使得很多日本公司过于追求细节的完美，而忽视了对行业大势的把握，使得他们在该转型的时候没有抓住时机。</p>
<p>&nbsp; &nbsp; 追求精益求精的制造精神，成就了索尼的过去，其庞大的业务群和独裁式的管理，也在刺激着索尼高歌猛进，然而，面对互联网时代的冲击，笨重的索尼很快就被自己的&ldquo;认真死板&rdquo;打败了，接下来就是连年的亏损。</p>
<p>&nbsp; &nbsp; 2012年4月，出任索尼集团总裁兼CEO的平井一夫，一度给索尼的复兴带来曙光，其上台之后大力推行&ldquo;一个索尼&rdquo;策略，打通内部资源，放弃边缘业务，很快帮助索尼实现扭亏为盈。</p>
<p>&nbsp; &nbsp; 但短暂的复苏之后，急于进取的平井一夫在2013年宣布索尼的战略由防卫转向进攻，并将进攻的方向锁定在电子业务方面，确立了移动、数码影像和游戏三大核心业务，这一激进决策，又将索尼拉向了困境。</p>
<p>&nbsp; &nbsp; 索尼似乎完全没有意识到，在其寄予厚望的中国智能手机市场，华为、小米的异军崛起会给其带来如此毁灭性的冲击，最终带来巨额的亏损，这也许说明，索尼在市场判断上出现了重大失误。</p>
<p>&nbsp; &nbsp; 一个难以忽略的大背景是，索尼的没落并非个案。20世纪代表着日本制造业辉煌的电子巨头，包括日立、松下、夏普等等，无一不遭遇了&ldquo;索尼式&rdquo;的困局。但不同的是，通过一系列大刀阔斧的改革，上述几家电子业巨头，都正在走出经营困境。其中，日立将核心业务转向基础设施建设，松下把房地产与汽车关联产业作为发展目标，夏普则开始专心生产中小型液晶产品，扩大了收益来源&mdash;&mdash;唯独索尼，仍在苦苦寻找未来的方向。</p>
<p>&nbsp; &nbsp; 寄望于平井一夫的改革扭转索尼保守的企业文化，并不现实。作为一家典型的日本企业，保守的作风已经深入了索尼的骨髓，连年的亏损和频繁的重组，让索尼难以有信心将公司的未来押宝在全新的业务领域。平井一夫唯一能做的，恐怕就是重新培育索尼的创新基因，看看能否推出具有颠覆性的产品，以再次赢得消费者的青睐。</p>
<p>&nbsp; &nbsp; 但留给平井一夫的时间，或许不太多了。在年复一年的亏损之后，极其严峻的财务危机随时会压垮这匹&ldquo;骆驼&rdquo;，而仅仅依靠一些修修补补，恐怕难以真正拯救索尼。</p>
<p>&nbsp; &nbsp; 曾经同样如日中天的诺基亚、摩托罗拉，因不能及时创新求变，短短几年内就堕入深谷，要避免它们这样的命运，索尼显然需要来一场刮骨疗毒式的彻底变革。</p>
<p><img src="http://bs.baidu.com/dulife/5443b5bcb4a12.jpg" alt="" /></p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3451.html" target="_blank">安卓与Chrome系统或合二为一</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3453.html" target="_blank">4G技术哪家强？说清楚FDD和TDD之间的事</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">1</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3452" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1413724368')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--10142891590689383434111817-->
<script> var _trace_page_logid = 1014289159; </script><!--10143074300317337098111817-->
<script> var _trace_page_logid = 1014307430; </script>