<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181716';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-4G技术哪家强？说清楚FDD和TDD之间的事</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3453";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>4G技术哪家强？说清楚FDD和TDD之间的事</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">4G技术哪家强？说清楚FDD和TDD之间的事</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">1</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:快科技</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">不发FDD牌照，其实对联通电信更有利</div>
<div class="d-artical-content" id="sourceContent">
<p>FDD和TDD在技术上区别其实很小，主要区别就在于采用不同的双工方式，频分双工(FDD) 和时分双工(TDD) 是两种不同的双工方式。</p>
<p>FDD是在分离的两个对称频率信道上进行接收和发送，用保护频段来分离接收和发送信道。FDD必须采用成对的频率，依靠频率来区分上下行链路，其单方向的资源在时间上是连续的。FDD在支持对称业务时，能充分利用上下行的频谱，但在支持非对称业务时，频谱利用率将大大降低。</p>
<p>TDD用时间来分离接收和发送信道。在TDD方式的移动通信系统中, 接收和发送使用同一频率载波的不同时隙作为信道的承载, 其单方向的资源在时间上是不连续的，时间资源在两个方向上进行了分配。某个时间段由基站发送信号给移动台，另外的时间由移动台发送信号给基站，基站和移动台之间必须协同一致才能顺利工作。</p>
<p><img src="http://bs.baidu.com/dulife/5443b8fe67028.jpg" alt="" /></p>
<p>通俗一点讲，手机想上网，必须要建立上行和下行的通道：例如，你点击微信，手机会通过上行通道发送一个请求，然后微信服务器通过下行通道，把你最新的未读消息传到你的手机上。一般情况下，我们使用下行（下载）的时间比较多，而上行（上传）的时间很少。</p>
<p>为了建立起上行和下行的通道，FDD通过频率来分割，在两个对称频率上，一个管下载，一个管上传。就好像是双车道，两个方向的汽车互不干扰，畅通无阻。</p>
<p><img src="http://bs.baidu.com/dulife/5443b90dc7d25.jpg" alt="" /></p>
<p>TDD采用另一种方式。它只用一个频率，既负责上传，又负责下载。好处是比FDD省了一个频率占用，资源利用率更高（实际上TDD为了避免干扰，需要预留较大保护带，也会消耗一些资源）。因为是&ldquo;单行道&rdquo;上跑双向&ldquo;车流&rdquo;，TDD只能通过时间来控制交通（时分双工），一会让下载的流量通过，一会又让上传的流量通过。</p>
<p>很多人把TD-SCDMA和TDD联系在一起，，其实两者没啥关系。至于为什么要把TDD叫成TD-LTE？你就当TD-LE只是个品牌名字而已。刚才讲了，FDD和TDD的主要差异就是单行道和双行道差别。而正是这点差异引申出了一些大家都比较关心的网络问题，比如速率、覆盖。</p>
<p><strong>比谁速度快没意义</strong></p>
<p>理论上将，在相同的带宽条件下，比如FDD分配10M+10M，TDD分配20M，TDD的速率会低于FDD,这主要原因是TDD的帧结构中有个叫做特殊子帧的帧，这些帧会被浪费一部分（比如其中的保护时隙）并不传送任何数据，而FDD的帧不存在这种完全浪费掉的情况。</p>
<p>为什么说从理论上去比较速率没有意义？</p>
<p>说实话，因为几个特殊子帧的原因导致的速率差别并不是很大，这不像3G和4G的速率比较，对用户来说，感受不会太大。而且，理论和现实总是会有差距的，现实中影响速率的因素很多，比如，信号强度、干扰、信道配置、UE性能、用户数量等等，这考验了一个网络的综合能力。另外，随着LTE技术的不断发展，载波聚合技术的应用，以后的LTE网络，不论是TDD还是FDD，速率都不是问题。</p>
<p><img src="http://bs.baidu.com/dulife/5443b91ff12b9.jpg" alt="" /></p>
<p><strong>高速场景：FDD完胜TDD</strong></p>
<p>移动台移动速度会受到限制。FDD是连续控制的系统，TDD是时间分隔控制的系统。在高速移动时，多普勒效应会导致快衰落，速度越高，衰落变换频率越高，衰落深度越深。在目前芯片处理速度和算法的基础上，当数据率为144kb/s时，TDD的最大移动速度可达250km/h，与FDD系统相比，还有一定差距。一般TDD移动台的移动速度只能达到FDD移动台的一半甚至更低。</p>
<p>关于这个问题的原因，重点是高速运动时信道变化快，无论是信道估计还是资源调度都需要快。在FDD中，上下行是同时的，如果手机端发现接收信道质量变差，可以通过上行快速告诉基站做调整。但是，在TDD中，由于分时，手机报告的信道信息就会有延迟。例如，在本次接收发现信道变化后，不能马上通过上行信道反馈信息。如果用过单工对讲机的人就有体会，在对方讲话时，你不能同时讲话，明明知道那个人在骂你，你不能立即响应，等轮到你讲话时，你可能只记住对方骂你的最后一句话，前面的话都记不清楚了，自然来不及对骂回应。<br />所以在高铁覆盖上，FDD具有绝对优势。</p>
<p><strong>覆盖才是TDD的硬伤</strong></p>
<p>大家都说TD-LTE适合热点区域覆盖，FDD适合广域覆盖，为什么？关键就是覆盖问题。</p>
<p>早年高通的一份报告显示，在相同频率相同功率的条件下，FDD比TDD能提供更好的覆盖，TDD覆盖比FDD小80% (DL/UL=2:1)/小40%(DL/UL=1:1)。这主要原因是TDD上行链路存在发射功率的时间（一个10ms帧中）要比FDD时间短。关于这个问题，借用一位网友（作者不详）的分析。</p>
<p><img src="http://bs.baidu.com/dulife/5443b9336d6fa.jpg" alt="" /></p>
<p>这个问题，是从理论上讨论两者在覆盖上的差异，如果TDD（上下行共10M）和FDD（上下行5M+5M)的带宽相同、发生功率相同、接收模式配置相同，那么FDD和TDD异系统不应该有覆盖上的差别。但在LTE网络规划上通常要考虑这个覆盖差异。</p>
<p>高通曾发表报告说TDD覆盖仅为FDD的80%，并解释原因，在发射功率相同的情况下，TDD上行链路存在发射功率的时间（一个10ms帧中）要比FDD时间短。通俗点解释应该是在FDD模式下，上下行频率分开，所以上行链路UE可连续占用10ms发射功率，而在TDD模式，时分复用相同频率，所以上行链路UE可发射功率的时长不足5ms，这与与TDD帧结构相关。如下图，当采用配置模式1时，上下行可用子帧比例为4：4，在一个10ms中，上行链路存在发射功率的子帧为4个，即为4ms，相当于上行占用4/10M带宽。而在FDD模式连续占用10ms上行带宽（5M),所以说TDD上行吞吐量相当于FDD的80%。</p>
<p><img src="http://bs.baidu.com/dulife/5443b944c19df.jpg" alt="" /></p>
<p>换一个角度，从时域上看，一个10ms中，TDD上行链路可占用4ms（4个子帧），而FDD上行链路占用10ms，所以FDD较TDD模式可使用的RB资源更多，产生吞吐量越大。</p>
<p>从理论上计算FDD与TDD上行容量相差20%左右，这个值相当于在小区覆盖边缘且单用户时计算出来的。在网络规划过程中，需要考虑这个因素，设置小区边缘最大SINR和实际需求的SINR余量，这样20%的容量差异相当于SINR降低3db，其他条件不变的情况下，链路预算后的小区半径TDD要小区 FDD，所以说LTE TDD的覆盖要差于LTE FDD。</p>
<p><img src="http://bs.baidu.com/dulife/5443b95ad86e6.jpg" alt="" /></p>
<p>不过，要我说，这点理论上的差异也算不了什么，关键的问题还是在频段的分配上。来看看lte的频段分配情况。</p>
<p><img src="http://bs.baidu.com/dulife/5443b96c56518.gif" alt="" /></p>
<p><strong>FDD频段分布</strong></p>
<p><strong><img src="http://bs.baidu.com/dulife/5443b97d56045.gif" alt="" /></strong></p>
<p><strong>TDD频段分布</strong></p>
<p>3GPP规定了TDD和FDD两种制式不同的频段，从LTE频谱分配来看，FDD频段普遍较低，TDD频段主要分布在高频段，网络的频谱越高覆盖能力越弱，要想知道频段对网络覆盖的影响有多大，看看下面的图吧！</p>
<p><img src="http://bs.baidu.com/dulife/5443b9919eb88.jpg" alt="" /></p>
<p>不同的频段，覆盖差距还是很大的，这就意味着TDD要是实现优质的网络覆盖需要建设更多的站点，要花更多的钱。细心一点还会注意到，目前联通电信使用的GSM、CDMA、WCDMA频段其实都被分配给了FDD，这也有利于FDD替换2G/3G网络。综合覆盖因素，也不难理解为何联通电信铁了心要上FDD了。</p>
<p>不过，以上讲的都是理论上的单站覆盖范围，移动通信网络是一种蜂窝状的网络，由无数的基站组成，真正决定网络覆盖的，还是基站的数量和分布，所以，这也是中国移动拿到TDD牌照后疯狂建站的原因之一啊！</p>
<p><strong>是孩子都会长大</strong></p>
<p>我们说FDD和TDD其实就是两兄弟，都是一个亲妈生的，只是FDD先生，TDD后生。老大先行一步，拔得头筹；老二呢，也不会甘于落后，用武之地还是很多的。为什么这样说？</p>
<p>今天，由于平板和智能机的广泛使用，以及移动视频业务的增长，人们对数据业务的需求越来越高。但是，频率资源弥足珍贵，运营商必须长远考虑频率资源部署。由于LTE有着很高的频谱利用率，所以未来LTE的整体部署也成为运营商的重要规划。同样，TD-LTE，作为FDD制式的一种补充形式，将会迎来新的契机。</p>
<p>FDD和TD-LTE，作为3GPP协议下的两种LTE制式，最大的区别在于对称与非对称的频率分配。那么，这一区别将如何影响运营商的频率部署？</p>
<p>FDD使用成对的频谱，一个用于上行，一个用于下行。但是，不要忘了，大多数的用户行为都是下载视频内容，比如优酷，而不是上载新的内容。这正是TD-LTE的优势所在。TD-LTE采用的是不对称频谱，这意味着上下行流量都在同一频段内，通过不对称分配上行和下行，TDD更加有效的利用了频谱，可以灵活的根据用户行为调整上下行频谱分配。</p>
<p>目前，只有几个国家分配了TD-LTE频段，可是，大多数的FDD频段都已经被分配，目前还有很多TDD频段可以获得，而且其价格没有FDD频段昂贵。</p>
<p>相对从3G到LTE的过渡，部署TD-LTE会更快、更容易。首先，TDD和FDD使用相同的网络结构，因此，已经推出了LTE FDD的频谱的运营商可以利用相同的基础设施为TDD部署，这可以为运营商节省一大笔费用。同样，这可以在不影响现网现有部署的情况，缓解网络沉重的下行流量负担。</p>
<p>我们看到的另一个趋势是，全世界的移动运营商都在思考怎样有效的利用tdd频段，这包括在TDD频段上的广播业务，利用它实现M2M通信。正是由于TDD的加入，运营商们可以开辟更多的新市场，比如公共安全、健康服务等等。<br />5. 牌照 | 不发FDD牌照，其实对联通电信更有利</p>
<p><strong>先说说工部为何偏爱TDD？</strong></p>
<p>先问大家一个问题，是什么推动了通信事业的发展？为人民服务？其实真正推动通信发展的是-----专利。有人说，如果没有专利这个东西，估计今天的通信还停留在传声筒的阶段。</p>
<p>工部爱TDD，也就是这个原因了！但是，要搞清楚，TDD不是像很多媒体所说的中国自主知识产权，只是相对于FDD，我国企业贡献的专利比例要多一些。这就像你和一群来自不同国家的成员组成的合唱团在国外某音乐盛会上拿了奖，一回国，就被很多媒体炒作成你一个人拿了大奖了。</p>
<p>回到小题目的话题，有人说，工信部不发FDD牌照，其实是给了中移动更多空间，这话我赞同。但是，发了FDD牌照呢？就是给了联通电信更多空间吗？首先要清楚一点，工信部如果要发FDD牌照，不可能只发给联通、电信，先不说什么WTO技术中立原则，中移动首先就会第一个跳出来抗议，尼玛，TD-SCDMA让我摊着也就算了，FDD也不给我？这可能吗？</p>
<p>一旦三家都有了FDD牌照，按移动那一贯的土豪作风，你以为那FDD建站速度能慢到哪里去？这是工信部、联通、电信三家都不愿意看到的结局。所以，最好的方法，还是沿用TD-LTE规模试验的老路子，先让联通电信开展FDD/TDD融合试验，其实就是名正言顺的建FDD网嘛！ 你看看这融合试验网，现在都已经扩展到237个城市了。中国一共多少个城市？4直辖市、15副省级市、269地级市，这实验网基本已经覆盖了全中国啊！这和发牌照有什么区别？</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3452.html" target="_blank">专家说：索尼怕是不行了</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3454.html" target="_blank">雾霾当前如何保命？你必须知道的PM2.5真相！</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">1</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3453" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1413725084')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--10136878090689383434111817-->
<script> var _trace_page_logid = 1013687809; </script><!--10136882710958946314111817-->
<script> var _trace_page_logid = 1013688271; </script>