<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181716';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-有品•PICOOC发布第二代智能秤“S1”</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3512";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>有品•PICOOC发布第二代智能秤“S1”</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">有品•PICOOC发布第二代智能秤“S1”</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">1</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:穿戴迷</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">有品·PICOOC是去年7月份由前Intel、高通、华为等国际化知名品牌硬件开发、单片机设计、工业设计、以及移动互联网软件开发的专业人士共同组建的国际化公司，面向全球市场，工业设计由国际设计团队操刀，PICOOC Global Design Team 主设计师FANDI MENG 为国际巨头企业美国T-mobile、日本SoftBank、日本KDDI等企业设计产品。获得德国BRAUN全球最佳TOP20设计师，获得具有设计界奥斯卡之称的德国IF设计大奖、日本国际Good Design Award设计大奖等。</div>
<div class="d-artical-content" id="sourceContent">
<p>近日国内新智能硬件公司PICOOC确定了中文品牌名为&ldquo;有品&ldquo;，并于10月20日发布了旗下第二代智能体脂秤&ldquo;有品S1&rdquo;，售价299元，首发日预定上千，前1000名评论返券50元，这也是造成首发疯抢预定的重要原因。</p>
<p><img src="http://bs.baidu.com/dulife/5449f885df313.jpg" alt="" /></p>
<p>有品&middot;PICOOC是去年7月份由前Intel、高通、华为等国际化知名品牌硬件开发、单片机设计、工业设计、以及移动互联网软件开发的专业人士共同组建的国际化公司，面向全球市场，工业设计由国际设计团队操刀，PICOOC Global Design Team 主设计师FANDI MENG 为国际巨头企业美国T-mobile、日本SoftBank、日本KDDI等企业设计产品。获得德国BRAUN全球最佳TOP20设计师，获得具有设计界奥斯卡之称的德国IF设计大奖、日本国际Good Design Award设计大奖等。迄今，PICOOC团队在短短一年内时间内完成了A轮400万美元和B轮2100万美元的融资，成为新硬件圈的第一波胜出者。</p>
<p><img src="http://bs.baidu.com/dulife/5449f8ebd0936.jpg" alt="" /></p>
<p>去年双十二，PICOOC携手百度云推出第一代产品 PICOOC-Latin智能秤，今年6月份曾与京东合作联合推出Latin青春定制版，据PICOOC相关人士透露：截至目前，10个月时间里PICOOC第一代产品通过各线上线下渠道已经出货12万台，京东作为线上主要平台评论已累计超过4700多条，好评度达96%，易迅作为首发平台的评论已超过1700多条，智能设备类目销量第一，66%的用户重复购买，据悉，PICOOC软件使用用户已超过30万，产生了相当强的用户粘性，日活达到21.5%，平均单个用户每日在线时间1.5分钟。</p>
<p>张悦说：&ldquo;PICOOC致力于人体体征数据、运动行为数据、饮食与营养数据的模型构建、基于动态算法的交叉分析，以及对大样本人群的数据挖掘。近日我们将25万代表用户的体征数据进行深度挖掘，得到了一份《PICOOC健康评测分析报告》，报告显示，截止8月底，PICOOC用户总减重数已达到270.667吨，相当于90只大象的重量，已经有约1000名PICOOC用户在8个月里减重30kg以上。&rdquo;据悉，该份报告近期将对外公布。</p>
<p>为了让热度延续，PICOOC进一步优化软硬件，近日推出了系列新产品，10月20日，&ldquo;有品S1&rdquo;智能秤在京东首发，和上一代产品Latin相比，&ldquo;有品S1&rdquo;采用了高级抛光合金片，300mmx300mm的大小会更精致轻便，并且移动后无需复位，秤体上具有呼吸效果的测脂进程提示，隐藏式高级白光LED灯会直接在面板上显示体重数据，可以满足用户无需手机只查看体重的需求，配合新版软件，用户还可以通过手机端控制体脂秤屏幕上体重是否显示，这个巧妙的设计真正做到集方便与隐私于一体的友好用户体验。值得称道的是，在数据存储与同步上，有品S1做到了进一步的智能化，测量完毕后数据直接存储在秤内，配合2.0版本软件，用户可以在24小时内同步上次测量的所有数据到手机APP。对于那些早上出门匆忙的上班族来说，早上测量，晚上同步数据进行查看将会非常方便。更重要的是，机器学习能力的增强使得数据在同步上具有了很强的智能识别能力，在家庭使用场景中，即使同一家庭账户下的不同成员上秤，也可以准确判断出上秤用户的身份角色，从而在延时数据同步上做到精准性。</p>
<p>关于硬件品质，张悦表示：&ldquo;我非常看重硬件品质，之前购买Latin的用户在1年内只要出现硬件问题，联系客服后都是直接免费换新，之后我们也会一直采用这种政策，即1年内硬件问题包换新。此次"有品S1&rdquo;采用高温负荷60度和低温负荷零下10度的极端情况下进行环境测量，寿命测试采用常温110kg机械测试2万次，并出货前采用人工全检两次的方式来进行品质把控。&rdquo;</p>
<p>除了硬件更新，PICOOC软件2.0版本将在11月推出，原有软件通过PICOOC独有的PHMS系统对用户9项生理数据(体重、体脂、肌肉率、基础代谢率、体水分、蛋白质、骨量、内脏脂肪率、BMI)进行呈现和分析，获得专属的身体评分与评测，让用户了解身体类型情况以及对阶段性的减重增重健康与否进行分析指导，并且可以通过远程关注家人的功能进行家庭身体管理。</p>
<p>新的软件会新增体围录入(胸围、腰围、臀围、大腿围)和记步功能，利用不断构建优化的数据模型与动态算法，使PICOOC产品成为世界上第一个将身体体征和运动数据形成真正闭环的系统 ，同时在大数据交叉分析的基础上为让用户获得更好的生活方式而进行指导建议，为用户身材管理提供了全方位、立体化的闭环解决方案，使PICOOC真正成为比你更懂你的健康塑身拍档。</p>
<p>人体数据模型方面，PICOOC一直与芝加哥大学生理实验室团队保持合作，基于83万的样本人群深度研究不同人种、不同年龄阶段、不同身体类型特征的身体成分特性，研发建立了黄种人的身体数据模型，并持续将更丰富的样本研究结果加入模型中;在新版软件中，就将会增加基于运动员和健身健美人群的身体模型，为这类人群提供更准确的身体成分分析结果。未来，PICOOC将会把不同人群的身体特征持续细分和垂直化，持续扩充针对不同人群的身体模型。</p>
<p>相比于传统秤的厂商，PICOOC关注用户体验，无论是硬件还是软件都做到情感化设计，让冰冷笨重的秤变成融入生活的艺术品，配合软件端的社会化分享和社交比拼等功能，让称重变得具有娱乐化和趣味性。</p>
<p>值得一提的是，PICOOC B轮数千万美元的融资是腾讯和京东领投，在腾讯投资完京东，和京东成功完成上市的一系列资本动作后，PICOOC是两家巨头的首次共同战略投资，作为腾讯和京东投资的第一家智能硬件公司，相信PICOOC与两家的合作将会更加深入，目前PICOOC产品与手机QQ已经进行了嵌入式合作，新版QQ已支持将PICOOC数据同步到QQ健康中心，满足用户将各种健康数据在QQ上进行集合查看。与京东的合作方面，PICOOC联合京东在今年6月共同推出了Latin秤的&rdquo;青春定制版&rdquo;，所以此次&ldquo;有品S1&rdquo;于10月20日在京东平台的首发关注度很高。</p>
<p>关于PICOOC中文名&ldquo;有品&rdquo;的含义，创始人张悦说：&ldquo;有品的名字是从用户那里得到的启发，有用户说有品是追求极致的人生态度，是品质格调的群体标签，是不断挑战的自我实现，是健康美好的生活体验，我们发现&lsquo;有品生活'是PICOOC用户的追求，所以我们顺应用户的渴望，将始终坚持'有品'的态度，打造'有品'的产品，成为用户真正的健康塑身拍档&rdquo;</p>
<p>&nbsp;</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3511.html" target="_blank">雷蛇Nabu智能手环获FCC批准，即将发布</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3513.html" target="_blank">Moto 360系统更新 增加纯时间界面和自动省电</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">1</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3512" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1414134187')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--09773968740689383434111817-->
<script> var _trace_page_logid = 0977396874; </script><!--09774152210317337098111817-->
<script> var _trace_page_logid = 0977415221; </script>