<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181715';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-八款外形具有创意的智能手表</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3568";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>八款外形具有创意的智能手表</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">八款外形具有创意的智能手表</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:威腾网</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">虽 然手表是我们日常生活中的重要附件，不过它已不再是生活必需品，但在涉及美学设计上，一款魅力非凡的计时装置依旧可以彰显一个人的品味。</div>
<div class="d-artical-content" id="sourceContent">
<p>美国科技博客网站BusinessInsider今天撰文盘点了8款外形具有创意的智能手表，Bradley Watch、Modify Watch和Qlocktwo等榜上有名。随着苹果智能手表Apple Watch的发布&mdash;&mdash;但要等到2015年初才正式上市，可穿戴技术目前正风靡一时。尽管如此，还有一些高科技手表除了外形时尚美观外，功能也十分突出。虽 然手表是我们日常生活中的重要附件，不过它已不再是生活必需品，但在涉及美学设计上，一款魅力非凡的计时装置依旧可以彰显一个人的品味。</p>
<p>&nbsp;</p>
<p><strong>一、Modify Watch</strong></p>
<p align="center"><img src="http://bs.baidu.com/dulife/5452fd629fece.jpg" alt="" border="0" /></p>
<p style="text-align: center;"><strong>Modify Watch</strong></p>
<p>Modify Watch是一个具有独特魅力的手表品牌，表盘和表带都可以更换，用户因此可以定制一款符合自己风格的完美手表。这些实惠的手表20美元起，表盘和表带10美元起。这个品牌还准备推出个性化配件，上面有用户最喜欢的运动队，以及传递支持非盈利机构的信息等等。</p>
<p>&nbsp;</p>
<p><strong>二、Bradley Watch</strong></p>
<p align="center"><img src="http://bs.baidu.com/dulife/5452fd632f76e.jpg" alt="" border="0" /></p>
<p style="text-align: center;"><strong>Bradley Watch</strong></p>
<p>Bradley Watch并不是腕表，而是一种计时器。这个项目由工程师、产品设计师和视力障碍者携手打造。这款手表受美军士兵布拉德利.施耐德的遭遇（他在阿富汗服役期间失明）启发设计，不仅能让用户看到时间，还能通过其触觉表面感受到时间。</p>
<p>&nbsp;</p>
<p><strong>三、Qlocktwo</strong></p>
<p align="center"><img src="http://bs.baidu.com/dulife/5452fd6398ac6.jpg" alt="" border="0" /></p>
<p style="text-align: center;"><strong>Qlocktwo</strong></p>
<p>Qlocktwo基本上是一款没有数字和指针的手表，时间会以可读字体显示出来。正方形表盘包括一个由110个字母组成的均匀网格，一旦用户按了按钮，腕表上的字母就会亮起来，然后拼出具体的时间，如&ldquo;现在是7点半。&rdquo;这款手表除了传递一种极简主义潮流外，还给手表爱好者带来一种有趣的体验，让他们清楚知道最新时间。</p>
<p>&nbsp;</p>
<p><strong>四、Nixon Lodown</strong></p>
<p align="center"><img src="http://bs.baidu.com/dulife/5452fd641db83.jpg" alt="" border="0" /></p>
<p style="text-align: center;"><strong>Nixon Lodown</strong></p>
<p>你是狂热的冲浪者，担心在波浪滔天的海洋中不知道时间吗？没有问题，总部设在旧金山的手表品牌Nixon已经帮你找到了解决办法。Nixon Lodown手表内置提前警告潮汐到来的技术。它会提供有关全球270个海滩的信息，另外还有倒计时定时器和波浪计数器，当然还具有防水功能。这款手表可是每一位冲浪者理想中的必备用品。</p>
<p>&nbsp;</p>
<p><strong>五、男士无表盘手表</strong></p>
<p align="center"><img src="http://bs.baidu.com/dulife/5452fd64a36d1.jpg" alt="" border="0" /></p>
<p style="text-align: center;"><strong>男士无表盘手表</strong></p>
<p>乍看上去，你根本无从知道这个手镯还能当作手表使用。由于没有表针或其他正常手表的常见元件，男士无表盘手表（Gentleman's Faceless Watch）只能通过内置LED灯告诉用户时间。对于那些寻求将配件当作手表使用的人来说，这款手表绝对符合他们的要求。</p>
<p>&nbsp;</p>
<p><strong>六、Tateossian手表袖扣</strong></p>
<p align="center"><img src="http://bs.baidu.com/dulife/5452fd65567c8.jpg" alt="" border="0" /></p>
<p style="text-align: center;"><strong>Tateossian手表袖扣</strong></p>
<p>如果手表是终极配件，那么这些手表袖扣将定义全新的男性专属配件。Tateossian男士袖扣设计现代，但又不同寻常，在追求时尚的同时又经典永恒。它们的售价为295美元。</p>
<p>&nbsp;</p>
<p><strong>七、Reveal Watch</strong></p>
<p align="center"><img src="http://bs.baidu.com/dulife/5452fd65d5723.jpg" alt="" border="0" /></p>
<p style="text-align: center;"><strong>Reveal Watch</strong></p>
<p>作为纽约现代艺术博物馆（MoMA）收藏的诸多精品之一，这款手表是建筑师和设计师共同协作的成果，反映了现代艺术博物馆在展示现代钟表上的悠久历史。Reveal Watch传递的特有信息是，时光飞逝，所以随着每一个瞬间的流逝，手表上的数字都会逐渐消失。</p>
<p>&nbsp;</p>
<p><strong>八、G-Shock S系列</strong></p>
<p align="center"><img src="http://bs.baidu.com/dulife/5452fd6673c73.jpg" alt="" border="0" /></p>
<p style="text-align: center;"><strong>G-Shock S系列</strong></p>
<p>彰显女性特质的G-Shock系列的外观比Baby G更成熟，而S系列色彩明快、靓丽，颇具运动元素，有3个多功能闹钟、计时精度为1/100秒的秒表、倒计时定时器、12/24小时时间格式和48座城市的世界时间。</p>
<p>&nbsp;</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3567.html" target="_blank">引起激烈讨论的Neo Smartpen N2智能笔</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3570.html" target="_blank">能够让小伙伴惊呆的eTree太阳树</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3568" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1414725805')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--09432869360689383434111817-->
<script> var _trace_page_logid = 0943286936; </script><!--09432894160890446858111817-->
<script> var _trace_page_logid = 0943289416; </script>