<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181714';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-送给十二星座的礼物</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3670";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>送给十二星座的礼物</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">送给十二星座的礼物</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">11</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">5</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:百度未来商店</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">12星座遇见智能设备，哪一款最合适？</div>
<div class="d-artical-content" id="sourceContent">
<p>双十一渐渐落幕，网上已经流传各种惨剧。</p>
<p style="text-align: center;"><img src="http://bs.baidu.com/dulife/546314326f1df.JPG" alt="" /></p>
<p style="text-align: center;"><strong>妻双11败两月工资 丈夫怒抱稻草人睡</strong></p>
<p style="text-align: left;">为了防止自己或辛苦抢来的宝贝被扔出家门的悲剧发生，有什么好办法呢？小编精心挑选十二种新奇产品作为礼物来安抚他们。</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>一、送给精力旺盛、活力充沛的白羊座：</strong></p>
<p style="text-align: left;"><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54631900e69a0.jpg" alt="" /></strong></p>
<p style="text-align: center;"><strong><a href="../../product/view/1899.html">GoPro Hero 4</a></strong></p>
<p style="text-align: left;">GoPro相机是一款小型可携带固定式防水防震相机。GoPro的相机现已被冲浪、滑雪、极限自行车及跳伞等极限运动团体广泛运用，因而&ldquo;GoPro&rdquo;也几乎成为&ldquo;极限运动专用相机&rdquo;的代名词。</p>
<p style="text-align: left;">最新的GoPro Hero 4 可以拍摄 50fps 的 2.7K （2704&times;1524 或 2704&times;1440）视频，80fps 的 1440p 视频，120fps 的 1080p、960p、720p 视频。</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>二、送给最财迷的金牛座：</strong></p>
<p style="text-align: left;"><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54631b4fec16c.jpg" alt="" /></strong></p>
<p style="text-align: center;"><strong><a href="../../product/view/1809.html">Cash-能帮你控制消费冲动的智能手表</a><br /></strong></p>
<p>CASH的智能不同于市面上常见的智能手表，并没提供邮件查看、接电话之类的功能。它的主要卖点在于，提醒你是否有冲动消费行为，让你不必通过乏味无趣的电子表格就能了解这些信息。每次消费的时候，用户需要在手表界面上输入价格，并将它归入一个消费类别（如服饰、饮食等等）。在后端，你可以设置你一个月可自由支配的金额，然后拉宾会建议你在那段时间该留出多少作为预算</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/5431e2f598a0b.jpg" alt="" /></p>
<p>当你超出预算或者接近预算线的时候，该智能手表会马上告知你。你平常也可以通过绿线（当月还剩下多少预算）看看你各个类别的消费支出；你支出的越多，红线就会越长。</p>
<p>&nbsp;</p>
<p><strong>三、送给多才多艺、聪明伶俐的双子座：</strong></p>
<p><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54632389b12a3.jpg" alt="" /></strong></p>
<p style="text-align: center;"><strong><a href="../../product/view/1582.html">Xbox One</a><br /></strong></p>
<p style="text-align: left;"><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/546325e4640bc.JPG" alt="" /></strong></p>
<p style="text-align: left;"><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/546325eb5734a.JPG" alt="" /></strong></p>
<p style="text-align: left;">Xbox One就不用多介绍了吧。好消息是最近微软近期的促销活动Xbox One和Xbox One+Kinect体感控制器的组合套装均降价500元，分别只要3199和3799。</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>四、送给温柔体贴、爱心泛滥的巨蟹座：</strong></p>
<p style="text-align: left;"><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/5463281852c9a.png" alt="" /></strong></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;"><strong><a href="../../product/view/2165.html">智能烤箱MAID</a></strong></p>
<p style="text-align: left;">这款智能烤箱可以提供给用户要烹饪食物的菜谱，大声读出烹饪说明，还可以为烹饪过程中的每一步骤做精确定时。</p>
<p style="text-align: left;">在智能指导模式中，MAID会通过语音和图文详细告诉你每个步骤，如果你不方便用手可以使用语音操作或隔空手势操作回应。放入烤箱后你甚至不用设定时间，MAID通过内部传感器会自动调整至最佳时间。美食制作完成后MAID还会把消息推送到你手机上。</p>
<p>&nbsp;</p>
<p><strong>五、送给爱面子的狮子座：</strong></p>
<p><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54632a9c14b02.jpg" alt="" /></strong></p>
<p style="text-align: center;"><strong><a href="../../product/view/1599.html">华硕ZenWatch</a><br /></strong></p>
<p style="text-align: left;">个人认为ZenWatch是目前在售的最像手表的智能手表了，手工缝制的意大利皮带，不锈钢结构，看起来更像是一款珠宝饰品。现在ZenWatch已经在百思买正式发售，售价199美元。另外，该手表晚些时候还将在Google&nbsp;Play商店发售。</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>六、送给挑剔又追求完美的处女座：</strong></p>
<p style="text-align: left;"><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54632d899d59d.jpg" alt="" /></strong></p>
<p style="text-align: center;"><strong><a href="../../product/view/1634.html">MostFun 3D打印机</a><br /></strong></p>
<p style="text-align: left;"><strong>实在是想不出送什么才能让他/她们满意，只好让他/她们自己动手了。</strong></p>
<p>&nbsp;</p>
<p><strong>七、送给爱臭美的天秤座：</strong></p>
<p><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/5463309a08c98.jpg" alt="" /></strong></p>
<p style="text-align: center;"><strong><a href="../../product/view/1714.html">米滋水分检测仪</a><br /></strong></p>
<p style="text-align: left;">米滋，是目前世界上最小的智能肌肤水分检测仪，它是专门测试肌肤水油含量，分析肌肤状况的智能检测仪。即插即用，无需充电。插入智能设备的耳机孔，通过米滋APP实现肌肤状况的实时监测、分析并保存数据。用户可通过苹果商店(App Store)和谷歌市场(Google Play)免费下载米滋APP。米滋水分检测仪可获取来自面部、手部和身体其他部分的肌肤水油含量信息，并将数据保存下来分类显示在肌肤状况曲线图里，以便用户形象直观的了解当下肌肤状况，帮助用户挑选适宜的美肤产品。</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>&nbsp;八、千万不要送给天蝎的礼物：</strong></p>
<p style="text-align: left;"><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/5463368c03c92.jpg" alt="" /></strong></p>
<p style="text-align: center;"><strong><a href="../../product/view/2031.html">Phantom 2 Vision+四轴航拍飞行器</a><br /></strong></p>
<p style="text-align: left;">PHANTOM 2 VISION飞行器是大疆（DJI）在今年推出的一款全新航拍用飞行器，配备了一枚视野为140&deg;的镜头，可拍摄1400万像素静态照片以及进行1080p30/60i高画质录影，而5200mAh大容量高性能智能电池更把飞行的时间延长到25分钟。通过Wi-Fi中继器，相机和手机可以达到300米通信距离，并且可以实时拍摄飞行器相机的画面。</p>
<p style="text-align: left;">偷拍利器，建议不要送给和自己有过节的天蝎座。</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>九、送给多情的射手座：</strong></p>
<p style="text-align: left;"><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54633a8b79b51.jpg" alt="" /></strong></p>
<p style="text-align: center;"><strong><a href="../../product/view/1598.html">世纪佳缘Miss U手环</a></strong></p>
<p>世纪佳缘Miss U手环内嵌0.82寸OLED可触控屏幕，可通过通信网络进行实时的语音对话；该手环特别设计震动功能，一方发送，另一方就能收到震动提示。此外，该产品还能帮助恋人收发彼此的地理位置信息，并具有预防失联功能。值得一提的是，该手环还具有预防失联功能，即一方手环快没电的时候，另一方就能收到提醒。</p>
<p>&nbsp;</p>
<p><strong>十、送给务实的摩羯座：</strong></p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54633c65eeb24.png" alt="" /></p>
<p style="text-align: center;"><strong><a href="../../product/view/2172.html">Withings Activite智能手表</a></strong></p>
<p style="text-align: left;">Withings Activite是 Withings 的首款智能手表，传统指针式手表造型，设计风格优雅复古，没有一点科技元素。Activite将运动追踪软件整合进瑞士制造的名表之中，内置传感器可以和其他手环、手表一样记录走路和检测睡眠，支持震动闹钟，5ATM 防水，低功耗蓝牙。</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>十一、送给未来星座水瓶：</strong></p>
<p style="text-align: left;"><strong><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/546436b8e5a99.jpg" alt="" /></strong></p>
<p style="text-align: center;"><strong><a href="../../product/view/2035.html">H-racer2.0氢动力赛车</a><br /></strong></p>
<p style="text-align: left;">虽然只是个玩具，但却是今年给我最大震撼的产品。能源日益枯竭，人类已经把主意打到海底的天然气甚至从岩层里开采页岩气上。如果氢能源能够普及，人类将有取之不尽的能源。</p>
<p style="text-align: left;">毫不夸张的说H-racer2.0氢动力赛车也许代表着人类未来能源方向。</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>十二、送给爱做梦、爱幻想的双鱼座：<br /><img style="display: block; margin-left: auto; margin-right: auto;" src="http://bs.baidu.com/dulife/54643989bd63d.jpg" alt="" /><br /></strong></p>
<p style="text-align: center;"><strong><a href="../../product/view/1612.html">三星虚拟现实眼镜Gear&nbsp;VR</a><br /></strong></p>
<p style="text-align: left;">11月13日最新消息，三星将于下月初正式开售虚拟现实设备Gear&nbsp;VR的创新者（Innovator）版本，单机版售价199美元，捆绑蓝牙游戏手柄版售价249美元。</p>
<p style="text-align: left;">三星 Gear VR搭配 GALAXY Note 4，可以为用户带来360度3D全景效果，让用户可以感受坐在影院最佳位置上的观影效果，也可以让用户感受置身舞台中央的乐趣。用户还可以借助Gear VR尽享前所未有的游戏体验&mdash;进入一个所有的想象都可以变成现实的美好世界。</p>
<p style="text-align: left;">前提是这货只能搭配Note4。切记！</p>
<p style="text-align: left;">&nbsp;</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">5</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3669.html" target="_blank">LG可通话儿童智能腕带：10秒无人接听自动连接</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3671.html" target="_blank">冬日让你暖暖哒の智能设备推荐</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">11</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3670" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1415875030')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--08875372930689383434111817-->
<script> var _trace_page_logid = 0887537293; </script><!--08875512090405363722111817-->
<script> var _trace_page_logid = 0887551209; </script>