<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="keywords" content="可穿戴,可穿戴设备,百度可穿戴设备,百度可穿戴,智能设备,智能可穿戴设备,超智能设备,百度智能设备,便携设备,便携智能设备,百度便携设备,
      人体设备,智能人体设备,百度人体设备,便携人体设备,dulife,dulife平台,奇酷网,奇酷,360奇酷,小米酷玩,小米酷玩频道,百度硬件,智能硬件,硬件,智能移动设备,智能移动硬件
      移动设备,移动硬件,可穿戴硬件,点名时间，母亲节">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<script>
        void function(g,f,j,c,h,d,b){g.alogObjectName=h,g[h]=g[h]||function(){(g[h].q=g[h].q||[]).push(arguments)},g[h].l=g[h].l||+new Date,d=f.createElement(j),d.async=!0,d.src=c,b=f.getElementsByTagName(j)[0],b.parentNode.insertBefore(d,b)}(window,document,"script","http://img.baidu.com/hunter/alog/alog.min.js","alog");void function(){function c(){return;}window.PDC={mark:function(a,b){alog("speed.set",a,b||+new Date);alog.fire&&alog.fire("mark")},init:function(a){alog("speed.set","options",a)},view_start:c,tti:c,page_ready:c}}();void function(n){var o=!1;n.onerror=function(n,e,t,c){var i=!0;return!e&&/^script error/i.test(n)&&(o?i=!1:o=!0),i&&alog("exception.send","exception",{msg:n,js:e,ln:t,col:c}),!1},alog("exception.on","catch",function(n){alog("exception.send","exception",{msg:n.msg,js:n.path,ln:n.ln,method:n.method,flag:"catch"})})}(window);
    </script>
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
    window.duin = window.duin || {};
    duin.userinfo = {
      islogin:'0',
      displayname: "",
      role: "",
      avatar: "" //头像
    };
    window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201411181714';
    var _hmt = _hmt || [];
    _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
    </script>
<title>百度未来商店-骑士魔方：说走就走吧</title>


<link rel="stylesheet" type="text/css" href="/static/common/pkg/common_aa2cbaf.css"/><link rel="stylesheet" type="text/css" href="/static/discovery/pkg/single-artical_09c7d24.css"/></head>
<body>
<script> alog('speed.set', 'ht', +new Date); </script>
<script>with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/kaifangyun.js?st='+~(new Date()/864e5)];</script>

<script>
  window.hostType = "news";
  window.hostId = "3672";
</script>
<div class="nav" >
<div class="nav-header clearfix">
<a href="/" class="fl-l nav-logo"></a>
<div class="nav-right clearfix">
<div class="nav-info">
<span class="nav-not-login"><a href="#" class="nav-login">登录</a></span></div>
<ul class="nav-list clearfix">
<li class="nav-home-item"><a href="/" class="">首页</a></li>
<li class="nav-store-wrapper"><div class="nav-store">全部设备</div>
<ul class="nav-store-list">
<li><a href="/sports">运动</a></li>
<li><a href="/parlor">客厅</a></li>
<li><a href="/sleep">睡眠</a></li>
</ul>
</li>
<li class="nav-hot-item"><a class=" " href="/tryout/list">试用</a><span class="nav-hot"></span></li>
<li><a class="" href="/discovery-news">发现</a></li>
<li class="nav-last-li"><a class="" href="/product/ushome">合作</a></li>
</ul>
<div class="nav-search ">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off"  name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
</div>
</div>

<div class="d-main">
<div class="bread-path">
<a href="/">首页</a><span class="icon-path">&gt;</span><a href="/discovery-news">发现</a><span class="icon-path">&gt;</span><span>骑士魔方：说走就走吧</span>
</div>
<div class="d-out-ad" id="friend">
<ul class="d-out-ad-wrapper">
<li><a href="http://store.baidu.com/trysome/view/2.html" target="_blank"><img src="http://bs.baidu.com/dulife/54698d532f196.jpg" height="100" width="960" title="未来试用第二期"></a></li>
</ul>
</div>
<div class="d-content clearfix">
<div class="d-content-sub">
<div class="d-hot-recommend">
<div class="d-h-r-head">
<a href="javascript:void(0);" class="d-h-normal d-h-active">热门资讯</a>
<span class="d-h-split"></span>
<a href="javascript:void(0);" class="d-h-normal">小编推荐</a></div>
<div class="d-h-r-content">
<div class="d-h-r-c-wrapper"  id="hotEvaluation">
</div>
<div class="d-h-r-c-wrapper" id="editorRecommend">
</div>
</div>
</div>
<div class="d-best-recommend" id='bestRecommendWrapper'>
</div>
<div class="d-guess-like">
<div class="d-g-l-header clearfix">
<a href="javascript:;" class="d-g-l-change">换一批</a>
<div class="d-g-l-title">猜你喜欢</div>
</div>
<div class="d-g-l-content" id="uLike">
</div>
</div>
</div>
<div class="d-content-main">
<div class="d-artical-title">骑士魔方：说走就走吧</div>
<div class="d-a-info clearfix">
<div class="d-a-operation"><a href="#comment" class="d-a-o-comment">评论(<span id="commentCount">0</span>)</a><a href="#dLikeHash" class="d-a-o-like">喜欢(<span id="likeCount">0</span>)</a><span class="d-share clearfix"><span class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享<span class="d-down-icon"></span></a></span></span></div>
<div class="d-a-from">
<span class="d-a-f-name">来源:威腾网</span>
<span class="d-public-time" id="modifyTime"></span>
</div>
</div>
<div class="d-summary">骑行者们已经不再满足单纯的简单骑行体验了，蓝牙音响、GPS导航、运动相机以及各种手机应用使得骑行的乐趣越来越多，让人眼花缭乱，那么问题来了，室外骑行如何解决充电问题？</div>
<div class="d-artical-content" id="sourceContent">
<div>
<p><img src="http://bs.baidu.com/dulife/5464409aa5821.jpg" alt="" /></p>
</div>
<div>现在越来越多的人选择<span style="line-height: 1.8em;">轻装</span><span style="line-height: 1.8em;">出行，而首先被青睐的就是自行车，于是就出现了自行车旅行。</span>自行车就是这样，即便是出现再多、功能再强大的新型交通工具，它也不会被代替。<span style="line-height: 1.8em;"><br />与以往旅行不同，它没有奢侈准备，只是需要垮上后座的勇气和一颗想走即走的心，然后迎接一路阳光，一路陌生，一路思考，人们时常迷茫梦想在哪，其实只要你肯做，有时候就算是一辆最简单的自行车也能让你的梦想走很远。一个人骑行，孤单却内省；一群人骑行，壮观而有力。<br />如今随着越来越多的电子产品的出现，自行车早已不是单纯的自行车，这也让现在的骑行体验有了重大的改变，骑行者们已经不再满足单纯的简单骑行体验了，蓝牙音响、GPS导航、运动相机以及各种手机应用使得骑行的乐趣越来越多，让人眼花缭乱，那么问题来了，室外骑行如何解决充电问题，电话有移动电源，给自行车也配一个不就可以了么？<span style="line-height: 1.8em;">事实的确如此吗？</span><br /></span></div>
<div><span style="line-height: 1.8em;">你不会想象得到，驴友们的用电设备有多么强大，这么多用电设备，一个大容量的移动电源岂能满足广大驴友的需求。<br />骑士魔方就为解决旅途中持续供电问题，并不添加背包负担提供了一个解决方案。</span></div>
<div><br />
<p><img src="http://bs.baidu.com/dulife/5464409b45eeb.jpg" alt="" /></p>
</div>
<div>&nbsp;</div>
<div><strong>骑士魔方：Why me？</strong></div>
<div>&nbsp;</div>
<div><span style="line-height: 1.8em;">&nbsp;&ldquo;我们为什么做这款产品？是因为单车骑行将会因为科技的智能化而改变，因为单车骑行是集运动+健康+休闲娱乐+环保于一体的活动，是未来社会发展的主潮流。<br />&nbsp;骑行方式的改变、智能化的推进最基本的就是电力供应，所以我们首先从最底层的硬件切入。当智能化骑行的供电需求解决后，就可以提升和扩展骑行时的应用，包括蓝牙音箱，行车记录仪，手机，电筒等等。&ldquo;<br />&rdquo;<strong>专业骑手、休闲玩家、代步人士</strong>，骑士魔方主要针对的就是中间的这类人。&rdquo;据骑士魔方那边介绍&ldquo;这类人，一般都是公司的白领或者管理人员，既喜欢玩电子产品又具有一定的消费能力&rdquo;。<br /></span></div>
<div>&nbsp;</div>
<div><br /><strong>骑士魔方效果咋样？</strong></div>
<div>&nbsp;</div>
<div>据介绍，当自行车以每小时10公里的速度骑行时，通过骑士魔方产生的电量可满足手机开启导航、GPS、蓝牙功能之后的续航；而时速高于15公里每小时的情况下，产生的电量已经远超需求，而多余电量可储存起来。而普通人步行的速度在4-5km/h左右，而骑车的速度则在20km/h左右。另外，对于骑行者正常行驶是否有影响来说，骑士魔方也表示&ldquo;我们采用的是非磨擦是发电，阻力非常小，进行过测试，30km/h以下时骑行者是基本感受不到任何阻力的影响。&rdquo;<br /><br />听了这么多，<span style="line-height: 1.8em;">简单意义</span><span style="line-height: 1.8em;">骑士魔方就是发电机、移动电源与户外手电筒的集合体。通过自行车轮胎的运动带动发电机的转动发电，从而能为各种数码设备充电，还能将多余的电量自动储存到自带蓄电池中。</span></div>
<div><br />
<p><img src="http://bs.baidu.com/dulife/5464409bc417a.jpg" alt="" /></p>
</div>
<div><strong><br />骑士魔方为什么不自己做App？</strong></div>
<div>&nbsp;</div>
<div>底层硬件与上层应用的结合，已经成为了趋势。而能否提供更多的接口也是人们判断这样东西是否智能的依据。那么，骑士魔方既然看到了这一点，为什么却没有去做自己的App？</div>
<div>&ldquo;软件与硬件还是有很多的区别，如果我们自己去开发、去累积、去推广会需要更多的时间段，做软件开发也不是我们擅长的事情。另外，我们对自己的定位还是很清晰的，我们做骑行充电设备，这是我们擅长的。与其将精力与资金分散开投入到我们不擅长的地方，还不如将全部的精力、时间投入到我们最擅长的事情效果更好。我们可以去完善我们产品本身，也可以去开发更多的充电模式，比如说利用太用能、风能发电等。&rdquo;</div>
<div><br />
<p><img src="http://bs.baidu.com/dulife/5464409c50049.jpg" alt="" /></p>
</div>
<div><strong><br />骑士魔方与手机App强强联手</strong></div>
<div>&nbsp;</div>
<div>&nbsp;&ldquo;智能化的骑行方式已成为主流，某些深受广大骑友喜爱的App（例如骑记），通过它骑友可以记录自己的路径、里程并可以分享给朋友，所以<span style="line-height: 1.8em;">手机App又成为了现代骑行过程中的不可或缺的东西。</span><span style="line-height: 1.8em;">。当然通过这些App也能进行导航、能找到附件的骑友，但是App做的再好，没有电力的支持都是没用的。而骑士魔方，可以支持到骑行的拓展的基础电力供应，还包括想走就走的自由。&rdquo;</span></div>
<div>&nbsp;</div>
<div><strong>这里我们可以看到，附带的手机App（骑记）：</strong><br /><br />功能全、体验好、用户广，不足是耗电问题，很多用户不敢久用。<br /><br />而骑士魔方作为底层硬件：供电、检测以及数据采集，但缺乏上层应用的支持。<br /><br />软硬结合，利用对方的优势完美的弥补了自己的短板。另外，双方都有一定的用户累积，这样一强强联手，都能为对方创造更多的价值。这一双赢的商业模式，在电动独轮车行业却挺少见的，不少独轮车的厂家们，你们是不是可以从骑士魔方这边学到些什么。</div>
<div><br />
<p><img src="http://bs.baidu.com/dulife/5464409d12876.jpg" alt="" /></p>
</div>
<div>&nbsp;</div>
<div><strong>用活动做好市场推广</strong></div>
<div>&nbsp;</div>
<div>酒香也怕巷子深，好的产品也需要好的推广。现在骑士魔方开始借助各个地方的骑行队与民间组织通过做一些活动的行驶来进行推广。&ldquo;此次我们赞助的河源活动，参赛队伍340支，平均每只队伍参赛的人数不能超过20%。这次活动总参赛人数是一万一千人，另外200公里的里程，也不是每个人都敢去报的，所以通过这些数据分析，就能推算出有多少用户群体？&rdquo;<br /><br /></div>
<div>骑士魔方找到了自己最擅长的地方&mdash;&mdash;底层电力供应，并将所有的精力全部集中在这块，在很多人眼里，把鸡蛋放在一个篮子里的做法很冒险，但是不敢做冒险的事，又怎么去谈创新、谈发展？</div>
<p>&nbsp;</p>
</div>
<div class="d-fav">
<a  href="javascript:;" class="d-fav-like"><span class="d-fav-icon" id="dLikeHash"></span><span class="d-fav-count">0</span></a>
<span class="d-share clearfix">
<span class="bdsharebuttonbox"><a href="#" class="bds_more d-s-icon" data-cmd="more"><i></i>分享</a></span>
</span>
</div>
<div class="d-link clearfix">
<div class="d-prev">
<span>上一篇:</span><a href="/news/3671.html" target="_blank">冬日让你暖暖哒の智能设备推荐</a>
</div>
<div class="d-next">
<span>下一篇:</span><a href="/news/3673.html" target="_blank">Drop厨房智能电子秤</a>
</div>
</div>
<div class="d-sort-comment" id="comment">短评<span>(</span><span id="ctCount">0</span><span>)</span></div>
<form action="/news/api/addComment" method="POST " class="ct-form" name="ct-form" data-hostid="3672" data-committype="" data-hosttype="news">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" width="60" height="60" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow"><%- item.user_name %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(item.parent) { %>
        <div class="quote">
          <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
          <div class="qct"><%- item.parent.content %></div>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <%if(!item.parent) { %>
      <div class="tb"><a href="#" data-pid="<%- item.reply_id %>"><i></i>回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script>
  window._bd_share_config={
      "common":{"bdSnsKey":{},
      "bdText":"",
      "bdMini":"1",
      "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
      "bdPic":"",
      "bdStyle":"0",
      "bdSize":"32",
    },"share":{}
  };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script type="text/template" id="hotRecommend">
<%if(!_.isEmpty(list)){ %>
  <ul class="d-h-r-c clearfix">
   <% $.each(list, function(idx, item) { %>
    <li <%if(idx<3){ %> class="d-h-top3"<% } %>>
      <span class="d-h-r-c-no"><%-idx+1%></span>
      <a href="/news/<%-item.id%>.html" target="_blank"><%-item.title%></a>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLike">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/product/view/<%-item.product_id%>.html" class="d-thumbnail" style="background-image:url(<%-item.product_cover_img%>) "  target="_blank">
      </a>
      <div class="d-g-l-c">
        <a href="/product/view/<%-item.product_id%>.html" class="d-g-l-c-title"  target="_blank"><%-item.product_name%></a>
        <a href="/product/view/<%-item.product_id%>.html#evaluation" class="d-g-l-c-write"  target="_blank">写评测</a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script type="text/template" id="guessLikeNews">
<%if(!_.isEmpty(list)){ %>
  <ul>
   <% $.each(list, function(idx, item) { %>
    <li class="clearfix">
      <a href="/news/<%-item.id%>.html" target="_blank" class="d-thumbnail"  style="background-image:url(<%-item.thumbnails%>);" >
      </a>
      <div class="d-g-l-c">
        <a href="/news/<%-item.id%>.html" target="_blank" class="d-g-l-c-title"><%-item.title%></a>
        <a href="/news/<%-item.id%>.html#comment" target="_blank" class="d-g-l-c-count"><%-item.comment_count%></a>
      </div>
    </li>
    <% }); %>
  </ul>
  <% } %>
</script>
<script  type="text/template" id="bestRecommend">
<%if(!_.isEmpty(list)){ %>
  <div class="d-b-r-head clearfix">
    <div class="d-b-r-operator">
     <% $.each(list, function(idx, item) { %>
      <a href="javascript:;" class="d-b-r-o-icon <%if(idx==0){ %> active <% } %>"></a>
      <% }); %>
    </div>
  <div class="d-b-r-title">精品推荐</div></div>
  <div class="d-b-r-content clearfix">
  <% $.each(list, function(idx, item) { %>
    <div class="d-b-r-c">
      <a href="/product/view/<%-item.product_id%>.html" target="_blank"><img src="<%-item.product_cover_img%>"></a>
      <a href="/product/view/<%-item.product_id%>.html" target="_blank" class="d-b-r-c-desc">
       <%-item.product_name%>            
      </a>
    </div>
    <% }); %>

  </div>
   <% } %>
</script>
<div class="footer clearfix">
<p class="fl-l">©2014
baidu<a href="http://home.baidu.com/" target="_blank">关于百度</a>
<a href="/about" target="_blank">关于我们</a>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/admin/index" target="_blank" class="hide" id="admin-entry">管理</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
<a href="/product/usprovision" class="hide" id="admin-provision">服务条款</a>
</p>
<div class="fl-r link">
<a href="http://weibo.com/dulife" target="_blank" class="sina icon">新浪微博</a><a href="https://wx.qq.com/" target="_blank" class="weixin icon" style="visibility:hidden;">微信</a>
</div>
</div>
<div class="backtop"></div>
</body><script type="text/javascript" src="/static/common/pkg/common_56f87e5.js"></script>
<script type="text/javascript" src="/static/discovery/pkg/discovery_baf8100.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){  var href = location.href;
  $('.nav-login').click(function(e) {
    e.preventDefault();
    duin.login();
  });
  $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/nav/nav.js');
  duin.nav.searchFuc();
  duin.nav.adjustWidth();
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c spacehr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();
!function(){  window.modifyTime = duin.dateUtil.format('yyyy-MM-dd HH:mm:ss', new Date(parseInt('1415856626')*1000)).substring(0, 10);
  }();
!function(){    jQuery(function() {
        alog('speed.set', 'drt', +new Date);
    });
    }();</script><div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0696c093b1f3ccb4153ab2e25fa7f411' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d1ae725881ab60e9d4d62efe134498c' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<div class="hide">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F91e35cba3b09a5afffa12b0db4325bee' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</html><!--08869661090689383434111817-->
<script> var _trace_page_logid = 0886966109; </script><!--08869606031164780554111817-->
<script> var _trace_page_logid = 0886960603; </script>